<div class="container">
    <div class="row" *ngIf="id == 504">
        <div class="col-md-12">
            <div class="error-template">
                <img src="assets/img/logo.png" width="50" height="50" class="rounded-circle d-inline-block align-top"
                    alt="Kaam Karega 504 Error Page">
                <p>
                    <span class="logo-title">Kaam<span class="logo-u">Karega</span></span>
                </p>
                <hr>
                <h1>
                    Oops!</h1>
                <h2>
                    BE RIGHT BACK</h2>
                <div class="error-details">
                    <h1> 504 Gateway Time-out Or Server Is Unavailable</h1>

                </div>
                <div class="error-actions">
                    <p>
                        Sorry for the inconvenience.
                    </p>
                    <p>
                        You may want to head back to the <a routerLink="['/home']">Home</a> after some time.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="id == 404">
        <div class="col-md-12">
            <div class="error-template">
                <img src="assets/img/logo.png" width="50" height="50" class="rounded-circle d-inline-block align-top"
                    alt="Kaam Karega 404 Error Page">
                <p>
                    <span class="logo-title">Kaam<span class="logo-u">Karega</span></span>
                </p>
                <hr>
                <h1>
                    Oops!</h1>
                <h2>
                    BE RIGHT BACK</h2>
                <div class="error-details">
                    <h1>404 Error - Page not Found</h1>

                </div>
                <div class="error-actions">
                    Sorry for the inconvenience.
                    You may want to head back to the <a routerLink="['/home']">Home</a> after some time.
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="id != 404 && id != 504">
        <div class="col-md-12">
            <div class="error-template">
                <img src="assets/img/logo.png" width="50" height="50" class="rounded-circle d-inline-block align-top"
                    alt="Kaam Karega 404 Error Page">
                <p>
                    <span class="logo-title">Kaam<span class="logo-u">Karega</span></span>
                </p>
                <hr>
                <h1>
                    Oops!</h1>
                <h2>
                    BE RIGHT BACK</h2>
                <div class="error-details">
                    <h1>Internal Server Error</h1>

                </div>
                <div class="error-actions">
                    Sorry for the inconvenience .
                    You may want to head back to the <a routerLink="['/home']">Home.</a> after some time.
                </div>
            </div>
        </div>
    </div>
</div>