<div class="container">
    <div class="row" *ngIf="id == 504">
        <div class="col-md-12">
            <div class="error-template">
                <img src="assets/img/logo.png" width="50" height="50" class="rounded-circle d-inline-block align-top"
                    alt="Kaam Karega IT Sevices">
                <p>
                    <span class="logo-title">{{ 'HOMENAV.COMPANYNAMEPART1' | translate }}<span class="logo-u">{{
                            'HOMENAV.COMPANYNAMEPART2' | translate }}</span></span>
                </p>
                <hr>
                <h1>
                    {{ 'ERROR.OOPS' | translate }}</h1>
                <h2>
                    {{ 'ERROR.BE_REIGHT' | translate }}</h2>
                <div class="error-details">
                    <h1>{{ 'ERROR.504' | translate }}</h1>

                </div>
                <div class="error-actions">
                    <p>
                        {{ 'ERROR.SORRY' | translate }}
                    </p>
                    <p>
                        {{ 'ERROR.REDIRECT_PARA1' | translate }} <a routerLink="['/home']">
                            {{ 'ERROR.REDIRECT_HOME' | translate }}</a> {{ 'ERROR.REDIRECT_PARA2' | translate }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="id == 404">
        <div class="col-md-12">
            <div class="error-template">
                <img src="assets/img/logo.png" width="50" height="50" class="rounded-circle d-inline-block align-top"
                    alt="Kaam Karega IT Services">
                <p>
                    <span class="logo-title">{{ 'HOMENAV.COMPANYNAMEPART1' | translate }}<span class="logo-u">{{
                        'HOMENAV.COMPANYNAMEPART2' | translate }}</span></span>
                </p>
                <hr>
                <h1>
                    {{ 'ERROR.OOPS' | translate }}</h1>
                <h2>
                    {{ 'ERROR.BE_REIGHT' | translate }}</h2>
                <div class="error-details">
                    <h1>{{ 'ERROR.404' | translate }}</h1>

                </div>
                <div class="error-actions">
                    {{ 'ERROR.SORRY' | translate }}
                    {{ 'ERROR.REDIRECT_PARA1' | translate }} <a routerLink="['/home']">
                        {{ 'ERROR.REDIRECT_HOME' | translate }}</a> {{ 'ERROR.REDIRECT_PARA2' | translate }}
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="id != 404 && id != 504 && id != 0">
        <div class="col-md-12">
            <div class="error-template">
                <img src="assets/img/logo.png" width="50" height="50" class="rounded-circle d-inline-block align-top"
                    alt="Kaam Karega 404 Error Page">
                <p>
                    <span class="logo-title">{{ 'HOMENAV.COMPANYNAMEPART1' | translate }}<span class="logo-u">{{
                        'HOMENAV.COMPANYNAMEPART2' | translate }}</span></span>
                </p>
                <hr>
                <h1>
                    {{ 'ERROR.OOPS' | translate }}</h1>
                <h2>
                    {{ 'ERROR.SORRY' | translate }}</h2>
                <div class="error-details">
                    <h1>{{ 'ERROR.INTERNAL' | translate }}</h1>
                </div>
                <div class="error-actions">
                    <p>
                        {{ 'ERROR.SOMETHING' | translate }}
                    </p>
                    {{ 'ERROR.REDIRECT_PARA1' | translate }} <a routerLink="['/home']">
                        {{ 'ERROR.REDIRECT_HOME' | translate }}</a> {{ 'ERROR.REDIRECT_PARA2' | translate }}
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="id == 0">
        <div class="col-md-12">
            <div class="error-template">
                <img src="assets/img/logo.png" width="50" height="50" class="rounded-circle d-inline-block align-top"
                    alt="Kaam Karega IT Services">
                <p>
                    <span class="logo-title">{{ 'HOMENAV.COMPANYNAMEPART1' | translate }}<span class="logo-u">{{
                        'HOMENAV.COMPANYNAMEPART2' | translate }}</span></span>
                </p>
                <hr>
                <h1>
                    {{ 'ERROR.OOPS' | translate }}</h1>
                <h2>
                    {{ 'ERROR.SORRY' | translate }}</h2>
                <div class="error-details">
                    <h1> {{ 'ERROR.SESSION_EXPIRED' | translate }}</h1>
                </div>
                <div class="error-actions">
                    <p>
                        {{ 'ERROR.SESSION_EXPIRED_PAR' | translate }}
                    </p>
                    {{ 'ERROR.REDIRECT_PARA1' | translate }} <a routerLink="['/home']">
                        {{ 'ERROR.REDIRECT_HOME' | translate }}</a> {{ 'ERROR.REDIRECT_PARA2' | translate }}
                </div>
            </div>
        </div>
    </div>
</div>