<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    BE RIGHT BACK</h2>
                <div class="error-details">
                    <b>Maintenace</b>
                </div>
                <div class="error-actions">
                    Sorry for the inconvenience . We'll we back up and running as fast as possible.
                    You may want to head back to the <a routerLink="['/home']">homepage.</a> after some time.
                </div>
            </div>
        </div>
    </div>
</div>