.error-template {
  padding: 40px 15px;
  text-align: center;
}
.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}
.error-actions .btn {
  margin-right: 10px;
}
.logo-title {
  font-size: 36px;
  color: #105844;
  font-weight: 500;
  /* margin-left: -12px; */
}

.logo-u {
  color: #ff4949;
  font-weight: 500;
  font-size: 40px;
}
