select {
  margin-top: 10px;
  /* border: 1px solid black; */
  /* border-radius: 7px; */
  background-color: #0a382b;
  color: white;
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
}
.d-none {
  display: none !important;
}
.carousel-caption {
  position: absolute;
  top: 17%;
  left: 57%;
  z-index: 10;
  padding-top: 0px;
  color: #fff;
  text-align: inherit;
  text-shadow: 1px 1px 11px #000000;
}

.carousel-caption-ban4 {
  position: absolute;
  top: 32%;
  right: 43%;
  z-index: 10;
  padding-top: 0px;
  color: #fff;
  text-align: right;
  text-shadow: 1px 1px 11px #000000;
}
.carousel-caption-mob-ban4 {
  position: absolute;
  top: 10%;
  font-size: smaller;
  right: 43%;
  z-index: 10;
  padding-top: 0px;
  color: #fff;
  text-align: right;
  text-shadow: 1px 1px 11px #000000;
}
.scroll .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.carousel-caption p {
  font-size: 18px;
}
.carousel-caption1 {
  position: absolute;
  left: 53%;
  top: 25%;
  z-index: 10;
  padding-top: 0px;
}
h5 {
  color: white;
  font-size: 23px;
}

.carousel-indicators .active {
  background-color: #000;
}

.carousel-indicators li {
  width: 47px;
  height: 4px;
  background-color: white;
}
.carousel-indicators {
  bottom: 3px;
}

.box-shadow {
  border: 1.9px solid #ff4949;
  padding-left: 0px;
  padding-right: 0px;
  height: 300px;
  background-color: #0a382b;
  color: white;
}
.modal-header {
  background-color: #051c16;
}

.close {
  color: #fff;
  opacity: 1.5;
}

.logo-title {
  font-size: 36px;
  color: white;
  font-weight: 500;
  /* margin-left: -12px; */
}

.logo-u {
  color: #ff4949;
  font-weight: 500;
  /*font-size: 40px;*/
}
.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.dropdown-menu {
  position: absolute;
  width: 673px;
  margin-left: -315px;
  padding: 1px;
}
.box-bg:hover {
  background-color: #136c53;
  color: white;
}

.btn-outline-primary:hover {
  color: #fff;
  /* padding: 21px; */
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 91px;
  /* background-color: #007bff; */
  border-color: #007bff;
  background-color: none;
}

.hide {
  display: none;
}
.myDIV:hover {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: red;
}

.rounded-circle {
  border-radius:15% !important
}

.announcement {
  padding: 10px 15px 0px;
  border: 1px solid #e1e1e1;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px 5px #0a382b;
}

.box-shadow-small {
  border: 1.9px solid #ff4949;
  height: 250px;
  background-color: #0a382b;
  color: white;
}