<!-- Section 6 Footer -->
<div id="section-5">
	<div class="section-6-container">
		<section class="contact  bg-light" id="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="address">
							<h2>
								<span class="logo-title">{{ 'HOMENAV.COMPANYNAMEPART1' | translate }}<span
										class="logo-u">{{
										'HOMENAV.COMPANYNAMEPART2' | translate }}</span></span>
							</h2>
							<!-- <hr> -->
							<ul class="list-unstyled">
								<li> {{ 'FOOTER.ADDRESS_LINE1' | translate }}</li>
								<li>{{ 'FOOTER.ADDRESS_LINE2' | translate }}</li>
							</ul>
							<p>{{ 'FOOTER.DONTSENDANYTHING' | translate }}</p>
						</div>
					</div>
					<div class="col-md-3">
						<h2>{{ 'FOOTER.CONTACT' | translate }}</h2>
						<!-- <hr> -->
						<div class="email">
							<!-- <h5>{{ 'TOUCH.EMAIL' | translate }} <small>info@email.com</small></h5> -->
							<ul class="list-unstyled">
								<li><i class="fa fa-envelope"></i> info@email.com</li>
								<li><i class="fa fa-phone"></i> +91- 8800XXXXXX34</li>
							</ul>
						</div>
						<div class="social">
							<ul class="list-inline list-unstyled">
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-twitter fa-2x"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-youtube-play fa-2x"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-instagram fa-2x"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<div class="address">
							<h2>{{ 'FOOTER.USEFULLINKS' | translate }}</h2>
							<!-- <hr> -->
							<ul style="list-style: circle;">
								<li><a href="/home#section-1">{{ 'HOMENAV.ABOUTUS' | translate }}</a></li>
								<li><a href="/home#section-2">{{ 'HOMENAV.ONBOARD' | translate }}</a></li>
								<li><a href="/home#section-3">{{ 'HOMENAV.SERVICE' | translate }}</a></li>
								<li><a href="/home#section-4">{{ 'HOMENAV.PRICING' | translate }}</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<img style="padding-top:0px" src="assets/img/backgrounds/pay13.png">
					</div>
				</div>
			</div> 
		</section>
	</div>
</div>

<!-- Section 6 Footer -->
<div class="section-6-container">
	<section class="contact bg-light-copy" id="contact">
		<div class="row">
			<div class="col-md-4 text-center">
				<span>
					<a href={{signupComponent.termsofservice}} target="_blank">{{ 'HOMESIGNUP.SIGNUP_TERMOFSERVICE' |
						translate }} </a></span>
			</div>
			<div class="col-md-4 text-center">
				<span><a href={{signupComponent.privacypolicy}} target="_blank">{{ 'HOMESIGNUP.SIGNUP_PRIVACYPOLICY' |
						translate }}</a></span>
			</div>
			<div class="col-md-4 text-center">
				<span><small>Copy Rights @2020 Kaam Karega All Rights Reserved.</small></span>
			</div>
		</div>
	</section>
</div>