<!-- Section 6 Footer -->
<div id="section-5">
	<div class="section-6-container footer-col col-md-12 col-sm-6 ">
		<section class="contact bg-light" id="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="address">
							<h2>
								<span class="logo-title">{{ 'HOMENAV.COMPANYNAMEPART1' | translate }}<span
										class="logo-u">{{
										'HOMENAV.COMPANYNAMEPART2' | translate }}</span></span>
							</h2>
							<!-- <hr> -->
							<ul class="list-unstyled">
								<li> {{ 'FOOTER.ADDRESS_LINE1' | translate }}</li>
								<li>{{ 'FOOTER.ADDRESS_LINE2' | translate }}</li>
							</ul>
							<p>{{ 'FOOTER.DONTSENDANYTHING' | translate }}</p>
						</div>
					</div>
					<div class="col-md-3">
						<h2>{{ 'FOOTER.CONTACT' | translate }}</h2>
						<!-- <hr> -->
						<div class="email">
							<!-- <h5>{{ 'TOUCH.EMAIL' | translate }} <small>info@email.com</small></h5> -->
							<ul class="list-unstyled">
								<li><i class="fa fa-envelope"></i> support@kaamkarega.in</li>
								<li><i class="fa fa-phone"></i> +91- 8800XXXXXX34</li>
							</ul>
						</div>
						<div class="social">
							<ul class="list-inline list-unstyled">
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-twitter fa-2x"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-youtube-play fa-2x"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-instagram fa-2x"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-2" *ngIf="this.userService.currentUserValue == null">
						<div class="address">
							<h2>{{ 'FOOTER.USEFULLINKS' | translate }}</h2>
							<!-- <hr> -->
							<ul style="list-style: circle;">
								<li><a href="/home#section-1">{{ 'HOMENAV.ABOUTUS' | translate }}</a></li>
								<li><a href="/home#section-2">{{ 'HOMENAV.ONBOARD' | translate }}</a></li>
								<li><a href="/home#section-3">{{ 'HOMENAV.SERVICE' | translate }}</a></li>
								<li><a href="/home#section-4">{{ 'HOMENAV.PRICING' | translate }}</a></li>
							</ul>
						</div>
					</div>
					<div *ngIf="this.userService.currentUserValue != null">
						<div *ngIf="this.userService.currentUserValue.userroles.rolecode =='FREELANCER_USER'">
							<div class="address">
								<h2>{{ 'FOOTER.USEFULLINKS' | translate }}</h2>
								<!-- <hr> -->
								<ul style="list-style: circle;">
									<li><a [routerLink]="['/dashboard']">{{
											'DASHOARD_FU_MENU.SUMMARY' | translate }}</a>
									</li>
									<li><a routerLink='/vieworeditprofile/{{userService.currentUserValue.userId}}'>
											{{ 'DASHOARD_FU_MENU.EDIT_PROFILE' | translate }}</a></li>
									<li *ngIf="this.userService.currentUserValue.freeLanceDetails.isregfeedone">
										<a [routerLink]="['/paymenthistory']">
											{{ 'DASHOARD_FU_MENU.PAYMENTHISTORY' | translate }}
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div *ngIf="userService.currentUserValue != null">
						<div *ngIf="userService.currentUserValue.userroles.rolecode =='CLIENT_BUSINESS_ADMINISTRATOR'">
							<div class="address">
								<h2>{{ 'FOOTER.USEFULLINKS' | translate }}</h2>
								<!-- <hr> -->
								<ul style="list-style: circle;">
									<li><a [routerLink]="['/dashboard']">Our Services</a>
									</li>
									<li><a routerLink='/vieworeditprofile/{{userService.currentUserValue.userId}}'>
											{{ 'DASHOARD_FU_MENU.EDIT_PROFILE' | translate }}</a></li>
									<li>
										<a [routerLink]="['/job']">
											Manage Jobs
										</a>
									</li>
									<li>
										<a [routerLink]="['/paymenthistory']">
											Payment History
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div *ngIf="userService.currentUserValue != null">
						<div *ngIf="userService.currentUserValue.userroles.rolecode=='CORE_SERVICE_SUPPORT_MANAGER' ||
					userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_TEAM'">
							<div class="address">
								<h2>{{ 'FOOTER.USEFULLINKS' | translate }}</h2>
								<!-- <hr> -->
								<ul style="list-style: circle;">
									<li><a [routerLink]="['/dashboard']">Dashboard</a>
									</li>
									<li><a [routerLink]="['/manageuser']"> Manage Users</a>
									</li>
									<li><a [routerLink]="['/manageservice']"> Manage
											Services</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-2" *ngIf="userService.currentUserValue == null">
						<img style="padding-top:0px" src="assets/img/backgrounds/pay13.png">
					</div>
					<div class="col-md-2" *ngIf="userService.currentUserValue != null">
						<img style="padding-top:0px" src="assets/img/backgrounds/pay15.jpg">
					</div>
					<div class="col-md-2">
						<img style="padding-top:0px;height: 150px;" src="assets/img/backgrounds/pay14-transparent.png">
					</div>
				</div>
			</div>
		</section>
		<section class="contact bg-light-copy" id="contact">
			<small>
			<div class="row">
				<div class="col-md-4 text-center">
					<span>
						<a href={{signupComponent.termsofservice}} target="_blank">{{ 'HOMESIGNUP.SIGNUP_TERMOFSERVICE'
							|
							translate }} <i class="fa fa-share-square-o"> </i> </a></span>
				</div>
				<div class="col-md-4 text-center">
					<span><a href={{signupComponent.privacypolicy}} target="_blank">{{ 'HOMESIGNUP.SIGNUP_PRIVACYPOLICY'
							|
							translate }} <i class="fa fa-share-square-o"></i></a> </span>
				</div>
				<div class="col-md-4 text-center">
					<span><i class="fa fa-copyright" aria-hidden="true"></i>2021 Kaam Karega IT Services Private Limited. All rights reserved.</span>
				</div>
			</div>
		</small>
		</section>
	</div>
</div>