<h4>Dashboard</h4>
<hr>
<div class="row mb-2"></div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
          aria-controls="collapseOne">
          <i class="fa fa-caret-right"></i>
          Summary - Skilled Worker Search Service
        </a>
      </h4>
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true"
          aria-controls="collapseTwo">
          <i class="fa fa-caret-right"></i>
          Summary - All Services
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="row mb-4 justify-content-center">
          <div class="col-xl-2 col-sm-6 py-2">
            <div class="card bg-success text-white h-100">
              <div class="card-body bg-success">
                <div class="rotate">
                  <i class="fa fa-inr fa-4x"></i>
                </div>
                <h6 class="text-uppercase">Company Earns</h6>
                <h1>{{this.totalmoneyearnedbycompanytilltoday}}</h1>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-sm-6 py-2">
            <div class="card bg-success text-white h-100">
              <div class="card-body bg-info">
                <div class="rotate">
                  <i class="fa fa-inr fa-4x"></i>
                </div>
                <h6 class="text-uppercase">Workers Earns</h6>
                <h1> {{this.totalmoneyearnedbyskilledworkerstilltoday}}
                </h1>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-sm-6 py-2">
            <div class="card bg-success text-white h-100">
              <div class="card-body bg-danger">
                <div class="rotate">
                  <i class="fa fa-inr fa-4x"></i>
                </div>
                <h6 class="text-uppercase">Pending Payments</h6>
                <h1> {{this.totalcompletedjobswithoutpaymentbyclient}}</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4 justify-content-between">
          <div class="col-xl-2 col-sm-6 py-2 ">
            <a class="btn"
              [ngStyle]="{'background-color': todaysvoliationList == null && todaysvoliationList.length == 0 ? '#28a745':'#dc3545'}"
              data-toggle="collapse" href="#reportedVoliations" role="button" aria-expanded="false"
              aria-controls="reportedVoliations">
              <i class="fa fa-reorder iconCSS"></i>
              <span class="textCSS" *ngIf="todaysvoliationList != null">
                Pending Reported Voliations
                <b>
                  [{{todaysvoliationList.length}}]
                </b>
              </span>
            </a>
          </div>
          <div class="col-xl-2 col-sm-6 py-2">
            <a class="btn"
              [ngStyle]="{'background-color': newjobsbutnotactiviatedList == null && newjobsbutnotactiviatedList.length == 0 ? '#28a745':'#dc3545'}"
              data-toggle="collapse" href="#newnonactivatedjobs" role="button" aria-expanded="false"
              aria-controls="newnonactivatedjobs">
              <i class="fa fa-reorder iconCSS"></i>
              <span class="textCSS" *ngIf="newjobsbutnotactiviatedList != null">
                New Jobs - Not Activated
                <b>
                  [{{newjobsbutnotactiviatedList.length}}]
                </b>
              </span>
            </a>
          </div>
          <div class="col-xl-2 col-sm-6 py-2">
            <a class="btn btn-warning" data-toggle="collapse" href="#newlyactivatedjobs" role="button"
              aria-expanded="false" aria-controls="newlyactivatedjobs">
              <i class="fa fa-reorder"></i> New Jobs - Just Activated
              <span *ngIf="newjobsactiviatedbutnotacceptedList != null">
                <b>
                  [{{newjobsactiviatedbutnotacceptedList.length}}]
                </b>
              </span>
            </a>
          </div>
          <div class="col-xl-3 col-sm-6 py-2">
            <a class="btn btn-warning" data-toggle="collapse" href="#resolvedVoliations" role="button"
              aria-expanded="false" aria-controls="resolvedVoliations">
              <i class="fa fa-reorder"></i> Resolved Voliations
              <span *ngIf="todaysvoliationList != null">
                <b>
                  [{{totalvoliationResolvedList.length}}]
                </b>
              </span>
            </a>
          </div>
        </div>
        <div class="row mb-4 justify-content-center">
          <div class="col-xl-3 col-sm-6 py-2">
            <a class="btn btn-success" data-toggle="collapse" href="#totalscheduledjobs" role="button"
              aria-expanded="false" aria-controls="totalscheduledjobs">
              <i class="fa fa-reorder"></i> Today's Scheduled Jobs
              <span *ngIf="todaysvoliationList != null">
                <b>
                  [{{todaysjobscheduledList.length}}]
                </b>
              </span>
            </a>
          </div>
          <div class="col-xl-3 col-sm-6 py-2">
            <a class="btn btn-info" data-toggle="collapse" href="#upcomingscheduledjobs" role="button"
              aria-expanded="false" aria-controls="upcomingscheduledjobs">
              <i class="fa fa-reorder"></i> Upcoming Scheduled Jobs
              <span *ngIf="upcomingjobscheduledList != null">
                <b>
                  [{{upcomingjobscheduledList.length}}]
                </b>
              </span>
            </a>
          </div>

        </div>
        <div class="row mb-4 justify-content-center">
          <div class="col-xl-4 col-sm-6 py-2">
            <a class="btn btn-success" data-toggle="collapse" href="#jobscompletedList" role="button"
              aria-expanded="false" aria-controls="jobscompletedList">
              <i class="fa fa-reorder"></i> Client & Payout Payment Complete
              <span *ngIf="jobscompletedList != null">
                <b>
                  [{{jobscompletedList.length}}]
                </b>
              </span>
            </a>
          </div>
          <div class="col-xl-3 col-sm-6 py-2">
            <a class="btn"
              [ngStyle]="{'background-color': jobscompletedwithoutpaymentList == null && jobscompletedwithoutpaymentList.length == 0 ? '#28a745':'#dc3545'}"
              data-toggle="collapse" href="#jobscompletedwithoutpaymentList" role="button" aria-expanded="false"
              aria-controls="jobscompletedwithoutpaymentList">
              <i class="fa fa-reorder iconCSS"></i>
              <span class="textCSS" *ngIf="jobscompletedwithoutpaymentList != null">
                Client Payment Pending
                <b>
                  [{{jobscompletedwithoutpaymentList.length}}]
                </b>
              </span>
            </a>
          </div>
          <div class="col-xl-3 col-sm-6 py-2">
            <a class="btn btn-warning" data-toggle="collapse" href="#jobscompletedpayoutpendingList" role="button"
              aria-expanded="false" aria-controls="jobscompletedpayoutpendingList">
              <i class="fa fa-reorder"></i> Payout Pending Payments
              <span *ngIf="jobscompletedpayoutpendingList != null">
                <b>
                  [{{jobscompletedpayoutpendingList.length}}]
                </b>
              </span>
            </a>
          </div>
        </div>
        <div class="row mb-4 justify-content-center">
          <div class="col-xl-4 col-sm-6 py-2">
              <select  class="btn btn-dark"   (change)="getFUWorkStatus($event);">
                <option value=''> --Select Category --</option>
                <option *ngFor="let item of listofAllFUSkills" value={{item.code}}>
                  {{item.label}}
                </option>
              </select>
          </div>
        </div> 
        <!-- Selected Sub Category Results -->
              <div class="row" *ngIf="isshowswithjobbycategory">
                <div class="col-14">
                  <h5>Jobs ON Users</h5>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Job Id</th>
                        <th scope="col">SW Name</th>
                        <th scope="col">SW PhoneNo</th>
                        <th scope="col">Client</th>
                        <th scope="col">Total Amount</th>
                        <th scope="col">Job Start Date</th>
                        <th scope="col">Job End Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let job of onworkfreelancelistsbysubcategory">
                        <td>{{job.jobId}}</td>
                        <td>
                          <a href="javascript: return false;"
                            (click)='manageruser.openViewAccountDetailsModal(job.freelanceuserId)'>
                            {{job.fullname}}
                          </a>
                          <p><i><small>{{job.subcategorylabel}}</small></i></p>

                        </td>
                        <td>{{job.fuphoneno}}</td>
                        <td>
                          <a href="javascript: return false;"
                            (click)='manageruser.openViewAccountDetailsModal(job.userId)'>
                            {{job.bizname}}
                          </a>
                        </td>
                        <td>{{job.tocompanyamount | currency:"INR$"}}</td>
                        <td>{{job.jobstartedon}}</td>
                        <td>{{job.jobendedon}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row" *ngIf="isshowswithnojobbycategory">
                <div class="col-14">
                  <h5>No Jobs for the below users</h5>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Skilled Worker Name</th>
                        <th scope="col">Skilled Worker Phone Number</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let worker of onnotworkfreelancelistsbysubcategory">
                        <td>
                          <a href="javascript: return false;"
                            (click)='manageruser.openViewAccountDetailsModal(worker.userId)'>
                            {{worker.fullname}}
                          </a>
                        </td>
                        <td>{{worker.phoneno}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
             </div>
             <div class="alert alert-success alert-dismissible fade show w-100" role="alert"
              *ngIf="isshownofreelancerinsystem">
              <h5 class="display-5">
                  No skilled workers onboard in the platform under this skill category.
              </h5>
          </div>

        <!-- Reported Voliations -->
        <div class="collapse" id="reportedVoliations">
              <div class="row">
                <div class="col-14">
                  <h5>Pending Reported Voliations</h5>
                  <form [formGroup]="voliationResolvedForm">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Job Id</th>
                          <th scope="col">SW Name</th>
                          <th scope="col">SW PhoneNo</th>
                          <th scope="col">Client</th>
                          <th scope="col">Job Start Date</th>
                          <th scope="col">Job End Date</th>
                          <th scope="col">Voliation Comments</th>
                          <th scope="col">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let job of todaysvoliationList">
                          <td>{{job.jobId}}</td>
                          <td>
                            <a href="javascript: return false;"
                              (click)='manageruser.openViewAccountDetailsModal(job.freelanceuserId)'>
                              <p>{{job.fullname}}</p>
                            </a>
                            <p><i><small>{{job.subcategorylabel}}</small></i></p>
                          </td>
                          <td>{{job.fuphoneno}}</td>
                          <td>
                            <a href="javascript: return false;"
                              (click)='manageruser.openViewAccountDetailsModal(job.userId)'>
                              {{job.bizname}}
                            </a>
                          </td>
                          <td>{{job.jobstartedon}}</td>
                          <td>{{job.jobendedon}}</td>
                          <td>
                            <textarea class="form-control" formControlName="resolvedvoliationreason" rows="5"
                              id="input5" placeholder="Enter Volidation Detailed Comment"
                              [ngClass]="{ 'is-invalid': issubmit && f.resolvedvoliationreason.errors }"></textarea>
                            <div *ngIf="issubmit && f.resolvedvoliationreason.errors" class="invalid-feedback">
                              <div *ngIf="f.resolvedvoliationreason.errors.required">Voliation Resolved Comment is
                                required
                              </div>
                            </div>
                          </td>
                          <td>
                            <p>
                              <button type="submit" class="btn-sm btn-primary"><i class="fa fa-floppy-o"
                                  (click)="savevoliationResolvedReason(job.jobId)"
                                  title='Click once the save is resolved voliation.'></i></button>
                                  &nbsp;
                              <button type="button" class="btn-sm btn-info"><i class="fa fa-undo"
                                  title='Click to recreate a new job.'></i></button>
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </form>
                </div>


            </div>
        </div>
        <div class="row mb-2"></div>
        <div class="collapse" id="resolvedVoliations">
            <div class="row">
              <div class="col-14">
                <h5>Resolved Voliations</h5>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Job Id</th>
                      <th scope="col">SW Name</th>
                      <th scope="col">SW PhoneNo</th>
                      <th scope="col">Client</th>
                      <th scope="col">Total Amount</th>
                      <th scope="col">Job Start Date</th>
                      <th scope="col">Job End Date</th>
                      <th scope="col">Voliation Comments</th>
                      <th scope="col">Voliation Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let job of totalvoliationResolvedList">
                      <td>{{job.jobId}}</td>
                      <td>
                        <a href="javascript: return false;"
                          (click)='manageruser.openViewAccountDetailsModal(job.freelanceuserId)'>
                          {{job.fullname}}
                        </a>
                        <p><i><small>{{job.subcategorylabel}}</small></i></p>

                      </td>
                      <td>{{job.fuphoneno}}</td>
                      <td>
                        <a href="javascript: return false;"
                          (click)='manageruser.openViewAccountDetailsModal(job.userId)'>
                          {{job.bizname}}
                        </a>
                      </td>
                      <td>{{job.tocompanyamount | currency:"INR$"}}</td>
                      <td>{{job.jobstartedon}}</td>
                      <td>{{job.jobendedon}}</td>
                      <td>{{job.resolvedvoliationreason}}</td>
                      <td>
                        <p>
                          <i class="fa fa-check" style="color:green" title='Voliation is Resolved'></i>
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
        <div class="row mb-2"></div>
        <div class="collapse" id="totalscheduledjobs">
              <div class="row">
                <div class="col-14">
                  <h5>Todays Scheduled Jobs</h5>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Job Id</th>
                        <th scope="col">SW Name</th>
                        <th scope="col">SW Phone</th>
                        <th scope="col">Client</th>
                        <th scope="col">Total Amount</th>
                        <th scope="col">Job Start Date</th>
                        <th scope="col">Job End Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let job of todaysjobscheduledList">
                        <td>{{job.jobId}}</td>
                        <td>
                          <a href="javascript: return false;"
                            (click)='manageruser.openViewAccountDetailsModal(job.freelanceuserId)'>
                            {{job.fullname}}
                          </a>
                          <p><i><small>{{job.subcategorylabel}}</small></i></p>

                        </td>
                        <td>{{job.fuphoneno}}</td>
                        <td>
                          <a href="javascript: return false;"
                            (click)='manageruser.openViewAccountDetailsModal(job.userId)'>
                            {{job.bizname}}
                          </a>
                        </td>
                        <td>{{job.tocompanyamount | currency:"INR$"}}</td>
                        <td>{{job.jobstartedon}}</td>
                        <td>{{job.jobendedon}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
        </div>
        <div class="row mb-2"></div>
        <div class="collapse" id="upcomingscheduledjobs">
            <div class="row">
              <div class="col-14">
                <h5>Upcoming Scheduled Jobs</h5>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Job Id</th>
                      <th scope="col">SWorker Name</th>
                      <th scope="col">SWorker Phone</th>
                      <th scope="col">Client</th>
                      <th scope="col">Total Amount</th>
                      <th scope="col">Job Start Date</th>
                      <th scope="col">Job End Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let job of upcomingjobscheduledList">
                      <td>{{job.jobId}}</td>
                      <td>
                        <a href="javascript: return false;"
                          (click)='manageruser.openViewAccountDetailsModal(job.freelanceuserId)'>
                          {{job.fullname}}
                        </a>
                        <p><i><small>{{job.subcategorylabel}}</small></i></p>

                      </td>
                      <td>{{job.fuphoneno}}</td>
                      <td>
                        <a href="javascript: return false;"
                          (click)='manageruser.openViewAccountDetailsModal(job.userId)'>
                          {{job.bizname}}
                        </a>
                      </td>
                      <td>{{job.tocompanyamount | currency:"INR$"}}</td>
                      <td>{{job.jobstartedon}}</td>
                      <td>{{job.jobendedon}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        <div class="row mb-2"></div>
        <div class="collapse" id="newnonactivatedjobs">
            <div class="row">
              <div class="col-14">
                <h5>New Jobs - Not Activated</h5>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Job Id</th>
                      <th scope="col">Client</th>
                      <th scope="col">Client Phone No</th>
                      <th scope="col">Skill</th>
                      <th scope="col">Job Start Date</th>
                      <th scope="col">Job End Date</th>
                      <th scope="col">Total Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let job of newjobsbutnotactiviatedList">
                      <td>{{job.jobId}}</td>
                      <td>
                        <a href="javascript: return false;"
                          (click)='manageruser.openViewAccountDetailsModal(job.userId)'>
                          {{job.bizname}}
                        </a>
                      </td>
                      <td>{{job.cbaphoneno}}</td>
                      <td>{{job.subcategorylabel}}</td>
                      <td>{{job.jobstartedon}}</td>
                      <td>{{job.jobendedon}}</td>
                      <td>{{job.amount | currency:"INR₹"}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
    
        </div>
        </div>
        <div class="row mb-2"></div>
        <div class="collapse" id="newlyactivatedjobs">
            <div class="row">
              <div class="col-14">
                <h5>New Jobs - Just Activiated</h5>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Job Id</th>
                      <th scope="col">Client</th>
                      <th scope="col">Job Start Date</th>
                      <th scope="col">Job End Date</th>
                      <th scope="col">Company% </th>
                      <th scope="col">SW Amount</th>
                      <th scope="col">Total Amount</th>
                      <th scope="col">Sub Category</th>
                      <th scope="col" *ngIf="isshowfualluser">Re-Assign/Assign</th>
                      <th scope="col" *ngIf="fuUserId > 0">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let job of newjobsactiviatedbutnotacceptedList;let i = index">
                      <td>{{job.jobId}}</td>
                      <td>
                        <a href="javascript: return false;"
                          (click)='manageruser.openViewAccountDetailsModal(job.userId)'>
                          {{job.bizname}}
                        </a>
                      </td>
                      <td>{{job.jobstartedon}}</td>
                      <td>{{job.jobendedon}}</td>
                      <td>{{job.tocompanyamount | currency:"INR$"}}</td>
                      <td>{{job.tofreelanceamount | currency:"INR$"}}</td>
                      <td>{{job.amount | currency:"INR₹"}}</td>
                      <td><a class="btn btn-info btn-sm" (click)="getFUUsersByCategory(job.scategory , i )">
                          Get All {{job.subcategorylabel}}
                        </a>
                      </td>
                      <td *ngIf="isshowfualluser && i == this.index && allFreelancerUsersList != null">
                        <select (change)="captureUserDetails($event);">
                          <option value=null> --Select {{job.subcategorylabel}} --</option>
                          <option *ngFor="let item of allFreelancerUsersList" value={{item.userId}}>{{item.fullname}}
                            {{item.label}}
                          </option>
                        </select>
                      </td>
                      <td *ngIf="isshowfualluser && i == this.index && allFreelancerUsersList == null">
                        <small> No {{job.subcategorylabel}}'s </small>
                      </td>
                      <td *ngIf="fuUserId > 0 && i == this.index ">
                        <p>
                          <button type="button" class="btn btn-primary" (click)='reassign(job.jobId)'><i
                              class="fa fa-floppy-o"
                              title='Click to save and notify to the skilled worker'></i></button>
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        <div class="row mb-2"></div>
        <div class="collapse" id="jobscompletedList">
            <div class="row">
              <div class="col-14">
                <h5>Client & Payout Payment Complete</h5>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Job Id</th>
                      <th scope="col">SWorker Name</th>
                      <th scope="col">Client</th>
                      <th scope="col">Job Start Date</th>
                      <th scope="col">Job End Date</th>
                      <th scope="col">Company%</th>
                      <th scope="col">SWorker Amount</th>
                      <th scope="col">Total Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let job of jobscompletedList">
                      <td>{{job.jobId}}</td>
                      <td>
                        <a href="javascript: return false;"
                          (click)='manageruser.openViewAccountDetailsModal(job.freelanceuserId)'>
                          {{job.fullname}}
                        </a>
                        <p><i><small>{{job.subcategorylabel}}</small></i></p>
                      </td>
                      <td>
                        <a href="javascript: return false;"
                          (click)='manageruser.openViewAccountDetailsModal(job.userId)'>
                          {{job.bizname}}
                        </a>
                      </td>
                      <td>{{job.jobstartedon}}</td>
                      <td>{{job.jobendedon}}</td>
                      <td>{{job.tocompanyamount | currency:"INR$"}}</td>
                      <td>{{job.tofreelanceamount | currency:"INR$"}}</td>
                      <td>{{job.amount | currency:"INR₹"}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        <div class="row mb-2"></div>
        <div class="collapse" id="jobscompletedwithoutpaymentList">
            <div class="row">
              <div class="col-12">
                <h5>Client Payment Pending</h5>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Job Id</th>
                      <th scope="col">SWorker Name</th>
                      <th scope="col">SWorker PhoneNo</th>
                      <th scope="col">Client</th>
                      <th scope="col">Job Start Date</th>
                      <th scope="col">Job End Date</th>
                      <th scope="col">Company%</th>
                      <th scope="col">SWorker Amount</th>
                      <th scope="col">Total Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let job of jobscompletedwithoutpaymentList">
                      <td>{{job.jobId}}</td>
                      <td>
                        <a href="javascript: return false;"
                          (click)='manageruser.openViewAccountDetailsModal(job.freelanceuserId)'>
                          {{job.fullname}}
                        </a>
                        <p><i><small>{{job.subcategorylabel}}</small></i></p>

                      </td>
                      <td>
                        <a href="javascript: return false;"
                          (click)='manageruser.openViewAccountDetailsModal(job.userId)'>
                          {{job.bizname}}
                        </a>
                      </td>
                      <td>{{job.fuphoneno}}</td>
                      <td>{{job.jobstartedon}}</td>
                      <td>{{job.jobendedon}}</td>
                      <td>{{job.tocompanyamount | currency:"INR₹"}}</td>
                      <td>{{job.tofreelanceamount | currency:"INR₹"}}</td>
                      <td>{{job.amount | currency:"INR₹"}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        <div class="row mb-2"></div>
        <div class="collapse" id="jobscompletedpayoutpendingList">
            <div class="row">
              <div class="col-14">
                <h5>Payout Pending Payments</h5>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Job Id</th>
                      <th scope="col">SWorker Name</th>
                      <th scope="col">SWorker PhoneNo</th>
                      <th scope="col">Client</th>
                      <th scope="col">Job Start Date</th>
                      <th scope="col">Job End Date</th>
                      <th scope="col">SWorker Amount</th>
                      <th scope="col">Total Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let job of jobscompletedpayoutpendingList">
                      <td>{{job.jobId}}</td>
                      <td>
                        <a href="javascript: return false;"
                          (click)='manageruser.openViewAccountDetailsModal(job.freelanceuserId)'>
                          {{job.fullname}}
                        </a>
                        <p><i><small>{{job.subcategorylabel}}</small></i></p>

                      </td>
                      <td>{{job.fuphoneno}}</td>
                      <td>
                        <a href="javascript: return false;"
                          (click)='manageruser.openViewAccountDetailsModal(job.userId)'>
                          {{job.bizname}}
                        </a>
                      </td>
                      <td>{{job.jobstartedon}}</td>
                      <td>{{job.jobendedon}}</td>
                      <td>{{job.tofreelanceamount | currency:"INR$"}}</td>
                      <td>{{job.amount | currency:"INR₹"}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
        
          </div>
        </div>
    </div>
  </div>

    <!-- Summary of All Service Dashboard -->
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
          <div class="row">
            <div class="row mb-4 justify-content-end">
              <div class="col-xl-4 col-sm-6 py-2">
              <select  class="btn btn-info" (change)="getServicesDetailsByServiceId($event);">
                <option value=null> --Select Services --</option>
                <option *ngFor="let item of onlistofallactivenewservices" value={{item.ourserviceId}}>
                  {{item.name}}
                </option>
              </select>
            </div>
            </div>
          </div>
          <div class="row mb-4 justify-content-end" *ngIf="servicetableenabled">
            <div class="col-xl-2 col-sm-12 py-2">
              <div class="card bg-success text-white h-100">
                <div class="card-body bg-success">
                  <div class="rotate">
                    <i class="fa fa-inr fa-4x"></i>
                  </div>
                  <h6 class="text-uppercase">Total All Earnings</h6>
                  <h1>{{this.totalearningallservices}}</h1>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-sm-12 py-2">
              <div class="card bg-success text-white h-100">
                <div class="card-body bg-info">
                  <div class="rotate">
                    <i class="fa fa-inr fa-4x"></i>
                  </div>
                  <h6 class="text-uppercase">Earned On This Service</h6>
                  <h1>{{this.totalearningonservice}}</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="servicetableenabled" >
            <div class="col-12">
              <h5><u>Client Purchased Service</u></h5>
              <table class="table table-bordered" *ngIf="!ispurchasedserviceempty">
                <thead>
                  <tr>
                    <th scope="col">Service Name</th>
                    <th scope="col">Client Name</th>
                    <th scope="col">Business Name</th>
                    <th scope="col">Phone No</th>
                    <th scope="col">Validate </th>
                    <th scope="col">Start On</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Txn Id</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let srv of listofallpaidservices">
                    <td>
                      {{srv.name}}
                    </td>
                    <td>
                      <a href="javascript: return false;" (click)='manageruser.openViewAccountDetailsModal(srv.userid)'>
                        {{srv.fullname}}
                      </a>
                    </td>
                    <td>{{srv.bizname}}</td>
                    <td>{{srv.phoneno}}</td>
                    <td>{{srv.validPeriodLabel}}</td>
                    <td>{{srv.servicestarton}}</td>
                    <td>{{srv.serviceendon}}</td>
                    <td>{{srv.amount | currency:"INR₹"}}</td>
                    <td>
                      <a [routerLink]="['/payment',srv.txnid]">{{srv.txnid}}</a></td>
                  </tr>
                </tbody>
              </table>
              <div class="alert alert-success alert-dismissible fade show w-100" role="alert"
              *ngIf="ispurchasedserviceempty">
              <h5 class="display-5">
                  No clients has purchased this service.
              </h5>
          </div>
            </div>
          </div>
          <div class="row mb-3"></div>
          <div class="row" *ngIf="servicetableenabled"> 
            <div class="col-12">
              <h5><u>Client Add Cart & Pending Payment</u></h5>
              <table class="table table-bordered" *ngIf="!isnotpurchasedserviceempty">
                <thead>
                  <tr>
                    <th scope="col">Service Name</th>
                    <th scope="col">Client Name</th>
                    <th scope="col">Business Name</th>
                    <th scope="col">Phone No</th>
                    <th scope="col">Validate </th>
                    <th scope="col">Start On</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let srv of listofallnotpaidservices">
                    <td>
                      {{srv.name}}
                    </td>
                    <td>
                      <a href="javascript: return false;" (click)='manageruser.openViewAccountDetailsModal(srv.userid)'>
                        {{srv.fullname}}
                      </a>
                    </td>
                    <td>{{srv.bizname}}</td>
                    <td>{{srv.phoneno}}</td>
                    <td>{{srv.validPeriodLabel}}</td>
                    <td>{{srv.servicestarton}}</td>
                    <td>{{srv.serviceendon}}</td>
                    <td>{{srv.amount | currency:"INR₹"}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="alert alert-success alert-dismissible fade show w-100" role="alert"
              *ngIf="isnotpurchasedserviceempty">
              <h5 class="display-5">
                  No clients has added this service on the cart for purchase.
              </h5>
          </div>
            </div>
          </div>
      </div>
    </div>
    <!-- Summary of All Service Dashboard -->
</div>