<div class="container">
	<h4>{{'FU_REVIEW.REVIEWS' | translate }}</h4>
	<hr>
	<div *ngIf="fureviews.length > 0">
		<div class="card mb-2 border-0" *ngIf="avgrating > 0 && !fureviewsempty">
			<span class="pull-left"> <small>overall rating : <b>{{avgrating}} / 5 </b> </small></span>
		</div>
		<div class="card" *ngFor="let item of fureviews; index as i" style="margin-top:10px;">
			<div class="card-body">
				<div class="row">
					<div class="col-md-12">
						<p>
							<a class="pull-right"><b>{{item.feedbackby}} </b></a>
							<i class="fa fa-star" *ngFor="let i of item.starrate"> </i>
						</p>
						<p class="pull-right">
							<small><i>{{ this.datepipe.transform(item.feedbackon,"dd/MM/yyyy hh:mm:ss")}}</i></small>
						</p>
						<div class="clearfix"></div>
						<p>{{item.feedbackcomment}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="fureviewsempty">
		<div class="alert alert-success alert-dismissible fade show w-100" role="alert">
			<h5 class="display-5">
				{{'FU_REVIEW.NOREVIEWS' | translate }}
			</h5>
		</div>
	</div>
</div>