<!-- Our Services-->
<div id="section-3">
  <div class="section-7-container section-container" *ngIf="listOfAllApprovedNewServices.length > 0">
    <div class="container">
      <div class="row">
        <div class="col section-7 section-description wow fadeIn">
          <h2 align="center">{{ 'SERVICE.LABEL_OURSERVICE' | translate }}</h2>
          <div align="center" class="divider-1 wow fadeInUp"><span></span></div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-12 section-7-box wow fadeInLeft "
          *ngFor="let svc of listOfAllApprovedNewServices;index as i">
          <div class="col-md-12 text-center" *ngIf="i<3">
            <img src={{svc.imgurl}} align="center" class="section-7-box-icon text-center">
            <h3 align="center">{{svc.name}}</h3>
            <p style="text-align: justify;">{{svc.description}}</p>
          </div>
          <button class="btn btn-primary  btn-sm" *ngIf="i==3 && !contentMore" (click)="viewMore()" id="btnViewmore">{{
            'SERVICE.BUTTON_VIEWMORE' | translate }}</button>
        </div>
        <div *ngIf="contentMore">
          <div class="col-md-12 section-7-box wow fadeInLeft "
            *ngFor="let svc of listOfAllApprovedNewServices;index as i">
            <div class="col-md-12 text-center" *ngIf="i>3">
              <img src={{svc.imgurl}} align="center" class="section-7-box-icon text-center">
              <h3 align="center">{{svc.name}}</h3>
              <p style="text-align: justify;">{{svc.description}}</p>
            </div>
          </div>
          <div *ngFor="let svc of listOfAllApprovedNewServices;index as i">
            <button class="btn btn-primary  btn-sm" *ngIf="i==3" (click)="viewLess()">{{ 'SERVICE.BUTTON_VIEWLESS' |
              translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Our Services-->
<div id="section-4">
  <br><br>
  <!-- Pricing -->
  <div class="section-5-container price-bg" *ngIf="listofAllIndividualServices.length > 0">
    <div class="container-fluid">
      <h1 align="center">{{ 'PRICE.TITLE' | translate }}</h1>
      <div class="divider-1 wow fadeInUp text-center"><span></span></div>
      <div class="row text-center">
        <div class="col-md-12 col-xl-12 mx-auto text-center">
          <p class="text-center">{{ 'PRICE.DESC1' | translate }}</p>
          <p class="lead text-center mb-4">{{ 'PRICE.DESC2' | translate }} </p>
          <div class="row justify-content-center mb-4">
            <div class="col-auto">
              <nav class="nav btn-group">
                <a href="#monthly" class="btn btn-outline-primary active" data-toggle="tab">{{ 'PRICE.INDIVIDUAL' |
                  translate }}</a>
                <a href="#annual" class="btn btn-outline-primary  " data-toggle="tab">{{ 'PRICE.PACKAGE' | translate
                  }}</a>
              </nav>
            </div>
          </div>
          <div class="tab-content" style="padding: 18px;">
            <div class="tab-pane fade show active" id="monthly">
              <div class="card-body Card-Body-1" *ngIf="listofAllIndividualServices != null" role="tabpanel"
                aria-labelledby="headingOne" data-parent="#accordion" >
                <div class="card-deck">
                  <div class="col-md-3" style="margin-bottom:8px !important"
                    *ngFor="let svc of listofAllIndividualServices;index as i">
                    <div class="card text-center h-100" *ngIf="i<=3">
                      <div class="card-header header-bg mt-10">
                        <a style="cursor:pointer;border-bottom: 0px dotted red;color: white;" title="{{svc.name}}"
                          (click)="openReadMorePopup(svc.description , svc.name, null)">
                          <h6>
                            {{svc.name}}
                          </h6>
                        </a>
                      </div>
                      <img class="card-img-top center" src={{svc.imgurl}} style="width: 14rem; height: 11rem;">
                      <div class="card-body d-flex flex-column">
                        <div class="card-title">
                          <span class="display-4"><i class="fa fa-inr"></i>{{svc.amount}}</span>
                          <span class="mb-4">
                            /{{svc.validPeriodLabel}}
                          </span>
                        </div>
                        <div class="card-text">
                          <p class="mb-1" *ngFor="let features of svc.fullcontent">
                            {{features}}
                          </p>
                        </div>
                      </div>
                      <div class="card-footer">
                        <button type="button" class="btn btn-primary btn-rounded btn-sm"
                          (click)="openSignupModal(svc.ourserviceId , svc.packwithotherourserviceid , svc.amount , svc.validPeriodLabel, svc.validPeriodCode, svc.serviceendon, svc.servicestarton)">
                          {{ 'PRICE.SIGNUP' | translate }}</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-deck" *ngIf="priceMore">
                  <div class="col-md-3" style="margin-bottom:8px !important"
                    *ngFor="let svc of listofAllIndividualServices;index as i">
                    <div class="card text-center h-100" *ngIf="i>3">
                      <div class="card-header header-bg mt-10">
                        <a style="cursor:pointer;border-bottom: 0px dotted red;color: white;" title="{{svc.name}}"
                          (click)="openReadMorePopup(svc.description , svc.name, null)">
                          <h6>
                            {{svc.name}}
                          </h6>
                        </a>
                      </div>
                      <img class="card-img-top center" src={{svc.imgurl}} style="width: 14rem; height: 11rem;">
                      <div class="card-body d-flex flex-column">
                        <div class="card-title">
                          <span class="display-4"><i class="fa fa-inr"></i>{{svc.amount}}</span>
                          <span class="mb-4">
                            /{{svc.validPeriodLabel}}
                          </span>
                        </div>
                        <div class="card-text">
                          <p class="mb-1" *ngFor="let features of svc.fullcontent">
                            {{features}}
                          </p>
                        </div>
                      </div>
                      <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-primary"
                          (click)="openSignupModal(svc.ourserviceId , svc.packwithotherourserviceid , svc.amount , svc.validPeriodLabel, svc.validPeriodCode, svc.serviceendon, svc.servicestarton)">
                          {{ 'PRICE.SIGNUP' | translate }}</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngFor="let svc of listofAllIndividualServices;index as i">
                  <button class="btn btn-primary btn-sm text-center" *ngIf="i==2 && !priceMore" (click)="pricemore()">
                    {{ 'PRICE.BUTTON_VIEWMORE' | translate }}</button>
                </div>
                <div *ngFor="let svc of listofAllIndividualServices;index as i">
                  <button class="btn btn-primary btn-sm text-center" *ngIf="i==2 && priceMore" (click)="priceless()"> {{
                    'PRICE.BUTTON_VIEWLESS' | translate }}</button>
                </div>
              </div>
            </div>
            <div class="tab-pane fade show" id="annual">
              <div class="card-body Card-Body-1" *ngIf="listofAllPackageServices != null" role="tabpanel"
                aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-deck">
                  <div class="col-md-3 mb-3 mb-md-0" style="margin-bottom:8px !important"
                    *ngFor="let svc of listofAllPackageServices;index as i">
                    <div class="card text-center h-100" *ngIf="i<=3">
                      <div class="card-header header-bg">
                        <a style="cursor:pointer;border-bottom: 0px dotted red;color: white;" title="{{svc.name}}"
                        (click)="openReadMorePopup(svc.description , svc.name, null)">
                        <h6>
                          {{svc.name}}
                        </h6>
                      </a>
                      </div>
                      <img class="card-img-top center" src={{svc.imgurl}} style="width: 14rem; height: 11rem;">
                      <div class="card-body d-flex flex-column">
                        <div class="card-title">
                          <span class="display-4"><i class="fa fa-inr"></i>{{svc.amount}}</span>
                          <span class="mb-4">
                            /{{svc.validPeriodLabel}}
                          </span>
                        </div>
                        <div class="card-text">
                          <p class="mb-1" *ngFor="let features of svc.fullcontent">
                            {{features}}
                          </p>
                        </div>
                      </div>
                      <div class="card-footer">
                        <button type="button" class="btn btn-primary btn-rounded btn-sm"
                          (click)="openSignupModal(svc.ourserviceId , svc.packwithotherourserviceid ,svc.amount , svc.validPeriodLabel,  svc.validPeriodCode,svc.serviceendon, svc.servicestarton)">{{
                          'PRICE.SIGNUP' | translate }}</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-deck" *ngIf="priceMore1">
                  <div class="col-md-4 mb-3 mb-md-0" style="margin-bottom:8px !important"
                    *ngFor="let svc of listofAllPackageServices;index as i">
                    <div class="card text-center h-100" *ngIf="i>2">
                      <div class="card-header header-bg">
                        <a style="cursor:pointer;border-bottom: 0px dotted red;color: white;" title="{{svc.name}}"
                        (click)="openReadMorePopup(svc.description , svc.name, null)">
                        <h6>
                          {{svc.name}}
                        </h6>
                      </a>
                      </div>
                      <img class="card-img-top center" src={{svc.imgurl}} style="width: 14rem; height: 11rem;">
                      <div class="card-body d-flex flex-column">
                        <div class="card-title">
                          <span class="display-4"><i class="fa fa-inr"></i>{{svc.amount}}</span>
                          <span class="mb-4">
                            /{{svc.validPeriodLabel}}
                          </span>
                        </div>
                        <div class="card-text">
                          <p class="mb-1" *ngFor="let features of svc.fullcontent">
                            {{features}}
                          </p>
                        </div>
                      </div>
                      <div class="card-footer">
                        <button type="button" class="btn btn-primary btn-sm"
                          (click)="openSignupModal(svc.ourserviceId , svc.packwithotherourserviceid ,svc.amount , svc.validPeriodLabel,  svc.validPeriodCode,svc.serviceendon, svc.servicestarton)">{{
                          'PRICE.SIGNUP' | translate }}</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngFor="let svc of listofAllPackageServices;index as i">
                  <button class="btn btn-primary btn-sm text-center" *ngIf="i==2 && !priceMore1"
                    (click)="pricemore1()">{{ 'PRICE.BUTTON_VIEWMORE' | translate }}</button>
                </div>
                <div *ngFor="let svc of listofAllPackageServices;index as i">
                  <button class="btn btn-primary btn-sm text-center" *ngIf="i==2 && priceMore1" (click)="priceless1()">{{
                    'PRICE.BUTTON_VIEWLESS' | translate }}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Frequently Asked Question Interface -->
<section class="faq-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">&nbsp;&nbsp;&nbsp;</div>
      <div class="col-sm-8">
        <div class="text-center text-white my-4">
          <h2>{{ 'QUESTIONS.FREQUENTLYASKEDQUESTIONS' | translate }}</h2>
          <div class="divider-1 wow fadeInUp text-center"><span></span></div>
        </div>
        <!--Accordion wrapper-->
        <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true"
          style="text-align: justify;">
          <!-- Accordion card -->
          <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="headingOne1">
              <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                aria-controls="collapseOne1">
                <h5 class="mb-0">{{ 'QUESTIONS.DOINEEDTOPAYFORSIGNUP' | translate }}
                </h5>
                <i class="fa fa-angle-down rotate-icon pull-right"></i>
              </a>
            </div>
            <!-- Card body -->
            <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1"
              data-parent="#accordionEx">
              <div class="card-body">
                {{ 'QUESTIONS.DOINEEDTOPAYFORSIGNUP1' | translate }}
              </div>
            </div>
          </div>
          <!-- Accordion card -->
          <!-- Accordion card -->
          <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="headingTwo2">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                aria-expanded="false" aria-controls="collapseTwo2">
                <h5 class="mb-0">{{ 'QUESTIONS.DOYOUOFFERAFREETRAIL' | translate }}
                </h5>
                <i class="fa fa-angle-down rotate-icon pull-right"></i>
              </a>
            </div>
            <!-- Card body -->
            <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
              data-parent="#accordionEx">
              <div class="card-body">{{ 'QUESTIONS.DOYOUOFFERAFREETRAIL1' | translate }}
              </div>
            </div>
          </div>
          <!-- Accordion card -->
          <!-- Accordion card -->
          <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="headingThree3">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                aria-expanded="false" aria-controls="collapseThree3">
                <h5 class="mb-0">{{ 'QUESTIONS.AREPAYMENTSSECURE' | translate }}
                </h5>
                <i class="fa fa-angle-down rotate-icon pull-right"></i>
              </a>
            </div>
            <!-- Card body -->
            <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
              data-parent="#accordionEx">
              <div class="card-body">
                {{ 'QUESTIONS.AREPAYMENTSSECURE1' | translate }}
              </div>
            </div>
          </div>
          <!-- Accordion card -->
          <!-- Accordion card -->
          <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="headingThree4">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree4"
                aria-expanded="false" aria-controls="collapseThree4">
                <h5 class="mb-0">{{ 'QUESTIONS.SKILLWORKERTAKINGLONGYIME' | translate }}
                </h5>
                <i class="fa fa-angle-down rotate-icon pull-right"></i>
              </a>
            </div>
            <!-- Card body -->
            <div id="collapseThree4" class="collapse" role="tabpanel" aria-labelledby="headingThree4"
              data-parent="#accordionEx">
              <div class="card-body">
                {{ 'QUESTIONS.SKILLWORKERTAKINGLONGYIME1' | translate }}
              </div>
            </div>
          </div>
          <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="headingThree5">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree5"
                aria-expanded="false" aria-controls="collapseThree5">
                <h5 class="mb-0">{{ 'QUESTIONS.DOESKKACCEPTSCASH' | translate }}
                </h5>
                <i class="fa fa-angle-down rotate-icon pull-right"></i>
              </a>
            </div>
            <!-- Card body -->
            <div id="collapseThree5" class="collapse" role="tabpanel" aria-labelledby="headingThree5"
              data-parent="#accordionEx">
              <div class="card-body">
                {{ 'QUESTIONS.DOESKKACCEPTSCASH1' | translate }}
              </div>
            </div>
          </div>
          <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="headingThree6">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree6"
                aria-expanded="false" aria-controls="collapseThree6">
                <h5 class="mb-0">{{ 'QUESTIONS.WHATIFSKILLWORKERHASNOTCOMPLETEDPROFILE' | translate }}
                </h5>
                <i class="fa fa-angle-down rotate-icon pull-right"></i>
              </a>
            </div>
            <!-- Card body -->
            <div id="collapseThree6" class="collapse" role="tabpanel" aria-labelledby="headingThree6"
              data-parent="#accordionEx">
              <div class="card-body">
                {{ 'QUESTIONS.WHATIFSKILLWORKERHASNOTCOMPLETEDPROFILE1' | translate }}
              </div>
            </div>
          </div>
          <!-- Accordion card -->
        </div>
        <!-- Accordion wrapper -->
      </div>
    </div>
  </div>
</section>