<h4>Manage New Services</h4>
<hr>
<div class="row mb-4  justify-content-between">
    <div class="col-xl-2 col-sm-6 py-2">
        <div class="card bg-success text-white h-100">
            <div class="card-body bg-warning">
                <div class="rotate">
                    <i class="fa fa-reorder fa-4x"></i>
                </div>
                <h6 class="text-uppercase">My Task</h6>
                <h1 class="display-4">{{myNewServiceForReview.length}}</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-sm-6 py-2">
        <div class="card bg-info text-white  h-100">
            <div class="card-body bg-info">
                <div class="rotate">
                    <i class="fa fa-briefcase  fa-4x"></i>
                </div>
                <h6 class="text-uppercase">Under Progress</h6>
                <h1 class="display-4">{{listOfAllPendingNewServices.length}}</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-sm-6 py-2">
        <div class="card text-white bg-success h-100">
            <div class="card-body bg-success">
                <div class="rotate">
                    <i class="fa fa-briefcase  fa-4x"></i>
                </div>
                <h6 class="text-uppercase">Active On Platform</h6>
                <h1 class="display-4">{{listOfAllApprovedNewServices.length}}</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-sm-6 py-2">
        <div class="card text-white bg-danger h-100">
            <div class="card-body bg-danger">
                <div class="rotate">
                    <i class="fa fa-briefcase  fa-4x"></i>
                </div>
                <h6 class="text-uppercase">InActive On Platform</h6>
                <h1 class="display-4">{{listOfAllRejectedNewServices.length}}</h1>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <section class="container py-4">
        <div class="row">
            <div class="col-md-12">
                <ul id="tabs" class="nav nav-tabs">
                    <li class="nav-item"><a href="" data-target="#myworktab" data-toggle="tab"
                            class="nav-link medium text-uppercase active"><b>My Task</b></a></li>
                    <li class="nav-item"><a href="" data-target="#underprogresstab" data-toggle="tab"
                            class="nav-link medium text-uppercase"><b>Under Progress</b> </a></li>
                    <li class="nav-item"><a href="" data-target="#approvedtab" data-toggle="tab"
                            class="nav-link medium text-uppercase"><b>Active On Platform</b></a></li>
                    <li class="nav-item"><a href="" data-target="#rejectedtab" data-toggle="tab"
                            class="nav-link medium text-uppercase"><b>InActive On Platform</b></a></li>
                </ul>
                <br>
                <div id="tabsContent" class="tab-content">
                    <div id="myworktab" class="tab-pane active fade show">

                        <span>
                            <div class="col-md-12 bg-search">

                                <input type="text" class="form-control col-md-3" placeholder="Search Results">
                                
                                <div class="pull-right mt-btn-v">
                                <button class="btn btn-primary btn-sm pull-right">View All</button>
                                </div>
                                
                                </div>
                            </span>
                            <br> 

                        <table id="example" class="table table-bordered table-hover table-sm table-striped">
                            <thead *ngIf="myNewServiceForReview.length > 0">
                                <tr>
                                    <th>Name</th>
                                    <th>Domain</th>
                                    <th>Category</th>
                                    <th>Created On</th>
                                    <th>Valid Period</th>
                                    <th>Price</th>
                                    <th></th>
                                    <th
                                        *ngIf="userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_TEAM'; ">
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngIf="myNewServiceForReview.length > 0; else elseNoNewService">
                                <tr *ngFor="let mywork of myNewServiceForReview">
                                    <td>
                                        <a href="javascript: return false;"
                                            (click)='viewnewservicedetails(mywork.ourserviceId)'>
                                            {{mywork.name}}
                                        </a>
                                    </td>
                                    <td>
                                        <div *ngFor="let refdata of  signupComponent.fullRefLookupDetails">
                                            <div *ngIf="mywork.domain == refdata.refId">
                                                {{refdata.label}}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div *ngFor="let referencelookupmap of  signupComponent.fullReferencedetailsmap">
                                            <div *ngIf="mywork.category === referencelookupmap.code">
                                                {{referencelookupmap.label}}
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{mywork.createdOn}}</td>
                                    <td>
                                        <div *ngFor="let terms of  serviceterms">
                                            <div *ngIf="mywork.validPeriod == terms.code">
                                                {{terms.label}}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div *ngIf="mywork.amount > 0; else elseZeroRup">
                                            {{mywork.amount}}&nbsp;₹
                                        </div>
                                        <ng-template #elseZeroRup>
                                            0 &nbsp;₹
                                        </ng-template>
                                    </td>
                                    <td *ngFor="let newserviceobj of mywork.serviceHistory">
                                        <a *ngIf="newserviceobj.islocked" class="btn  btn-sm"
                                            (click)='processnewserviceopenmodal(newserviceobj.ourserviceId)'>
                                            <i title="You can start working.." class="fa fa-lock"
                                                style="color: rgb(37, 165, 37)">
                                            </i>
                                        </a>
                                    </td>
                                    <td
                                        *ngIf=" userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_TEAM'; ">
                                        <div *ngFor="let newserviceobj of mywork.serviceHistory">
                                            <a *ngIf="newserviceobj.islocked"
                                                routerLink='/editorviewnewservice/{{mywork.ourserviceId}}'>
                                                <i class="fa fa-edit" title="Edit Service Now "></i>
                                            </a>
                                        </div>
                                    </td>
                            </tbody>
                            <ng-template #elseNoNewService>
                                <tbody align="center">
                                    No New-Services Task for Review
                                </tbody>
                            </ng-template>
                        </table>
                    </div>
                    <div id="underprogresstab" class="tab-pane fade ">
                        <span>
                            <div class="col-md-12 bg-search">

                                <input type="text" class="form-control col-md-3" placeholder="Search Results">
                                
                                <div class="pull-right mt-btn-v">
                                <button class="btn btn-primary btn-sm pull-right">View All</button>
                                </div>
                                
                                </div>
                            </span>
                            <br> 

                        <table id="example" class="table table-bordered table-hover table-sm table-striped">
                            <thead *ngIf="listOfAllPendingNewServices.length > 0;">
                                <tr>
                                    <th>Name</th>
                                    <th>Domain</th>
                                    <th>Category</th>
                                    <th>Created On</th>
                                    <th>Created By</th>
                                    <th>Decision Taken</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="listOfAllPendingNewServices.length > 0; else elseNoPendingNewService">
                                <tr *ngFor="let newserviceobj of listOfAllPendingNewServices">
                                    <td>
                                        <a href="javascript: return false;"
                                            (click)='viewnewservicedetails(newserviceobj.ourserviceId)'>
                                            {{newserviceobj.name}}
                                        </a>
                                    </td>
                                    <td>
                                        <div *ngFor="let refdata of  signupComponent.fullRefLookupDetails">
                                            <div *ngIf="newserviceobj.domain == refdata.refId">
                                                {{refdata.label}}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div *ngFor="let referencelookupmap of  signupComponent.fullReferencedetailsmap">
                                            <div *ngIf="newserviceobj.category == referencelookupmap.code">
                                                {{referencelookupmap.label}}
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{newserviceobj.createdOn}}</td>
                                    <td>{{newserviceobj.createdBy}}</td>
                                    <td *ngFor="let newservicehisobj of newserviceobj.serviceHistory">
                                        {{newservicehisobj.decisionBy}}
                                    </td>
                                    <td *ngFor="let newservicehisobj of newserviceobj.serviceHistory">
                                        <i class="fa fa-check" title="Approved by {{newservicehisobj.decisionBy}} "
                                            *ngIf="newservicehisobj.status == 'APPROVED'; else elseRejected"
                                            style="color: rgb(37, 165, 37)"></i>
                                        <ng-template #elseRejected>
                                            <i class="fa fa-ban" title="Rejected by {{newservicehisobj.decisionBy}} "
                                                *ngIf="newservicehisobj.status == 'REJECTED'; else elseOther"
                                                style="color: rgb(165, 37, 37)"></i>
                                        </ng-template>
                                        <ng-template #elseOther>
                                            <i class="fa fa-spinner"
                                                title="In-Progress with {{newservicehisobj.decisionBy}} "
                                                style="color: rgb(26, 9, 255)"></i>
                                        </ng-template>
                                    </td>
                                </tr>
                            </tbody>
                            <ng-template #elseNoPendingNewService>
                                <tbody align="center">
                                    No New-Services Pending For Review
                                </tbody>
                            </ng-template>
                        </table>
                    </div>
                    <div id="approvedtab" class="tab-pane fade ">

                        <span>
                            <div class="col-md-12 bg-search">

                                <input type="text" class="form-control col-md-3" placeholder="Search Results">
                                
                                <div class="pull-right mt-btn-v">
                                <button class="btn btn-primary btn-sm pull-right">View All</button>
                                </div>
                                
                                </div>
                            </span>
                            <br> 
                        <table id="example" class="table table-bordered table-hover table-sm table-striped">
                            <thead *ngIf="listOfAllApprovedNewServices.length > 0">
                                <tr>
                                    <th>Name</th>
                                    <th>Domain</th>
                                    <th>Category</th>
                                    <th>Created On</th>
                                    <th>Created By</th>
                                    <th>Decision Taken</th>
                                    <th>Status</th>
                                    <th
                                        *ngIf="userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_TEAM'">
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngIf="listOfAllApprovedNewServices.length > 0; else elseNoApprovedNewService">
                                <tr *ngFor="let newserviceobj of listOfAllApprovedNewServices">
                                    <td>
                                        <a href="javascript: return false;"
                                            (click)='viewnewservicedetails(newserviceobj.ourserviceId)'>
                                            {{newserviceobj.name}}
                                        </a>
                                    </td>
                                    <td>
                                        <div *ngFor="let refdata of  signupComponent.fullRefLookupDetails">
                                            <div *ngIf="newserviceobj.domain == refdata.refId">
                                                {{refdata.label}}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div *ngFor="let referencelookupmap of  signupComponent.fullReferencedetailsmap">
                                            <div *ngIf="newserviceobj.category == referencelookupmap.code">
                                                {{referencelookupmap.label}}
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{newserviceobj.createdOn}}</td>
                                    <td>{{newserviceobj.createdBy}}</td>
                                    <td *ngFor="let newservicehisobj of newserviceobj.serviceHistory">
                                        {{newservicehisobj.decisionBy}}
                                    </td>
                                    <td *ngFor="let newservicehisobj of newserviceobj.serviceHistory">
                                        <i class="fa fa-check" title="Approved by {{newservicehisobj.decisionBy}} "
                                            *ngIf="newservicehisobj.status == 'APPROVED'; else elseRejected"
                                            style="color: rgb(37, 165, 37)"></i>
                                        <ng-template #elseRejected>
                                            <i class="fa fa-ban" title="Rejected by {{newservicehisobj.decisionBy}} "
                                                *ngIf="newservicehisobj.status == 'REJECTED'; else elseOther"
                                                style="color: rgb(165, 37, 37)"></i>
                                        </ng-template>
                                        <ng-template #elseOther>
                                            <i class="fa fa-spinner"
                                                title="In-Progress with {{newservicehisobj.decisionBy}} "
                                                style="color: rgb(26, 9, 255)"></i>
                                        </ng-template>
                                    </td>
                                    <td
                                        *ngIf="newserviceobj.active && userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_TEAM'">
                                        <a routerLink='/editorviewnewservice/{{newserviceobj.ourserviceId}}'>
                                            <i class="fa fa-edit" title="Upgrade Service Now "> </i>
                                        </a>

                                    </td>
                                </tr>
                            </tbody>
                            <ng-template #elseNoApprovedNewService>
                                <tbody align="center">
                                    No New-Services got Approved
                                </tbody>
                            </ng-template>
                        </table>
                    </div>
                    <div id="rejectedtab" class="tab-pane fade ">

                        <span>
                            <div class="col-md-12 bg-search">

                                <input type="text" class="form-control col-md-3" placeholder="Search Results">
                                
                                <div class="pull-right mt-btn-v">
                                <button class="btn btn-primary btn-sm pull-right">View All</button>
                                </div>
                                
                                </div>
                            </span>
                            <br> 
                        <table id="example" class="table table-bordered table-hover table-sm table-striped">
                            <thead *ngIf="listOfAllRejectedNewServices.length > 0">
                                <tr>
                                    <th>Name</th>
                                    <th>Domain</th>
                                    <th>Category</th>
                                    <th>Created On</th>
                                    <th>Created By</th>
                                    <th>Decision Taken</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="listOfAllRejectedNewServices.length > 0; else elseNoRejectedNewService">
                                <tr *ngFor="let newserviceobj of listOfAllRejectedNewServices">
                                    <td>
                                        <a href="javascript: return false;"
                                            (click)='viewnewservicedetails(newserviceobj.ourserviceId)'>
                                            {{newserviceobj.name}}
                                        </a>
                                    </td>
                                    <td>
                                        <div *ngFor="let refdata of  signupComponent.fullRefLookupDetails">
                                            <div *ngIf="newserviceobj.domain == refdata.refId">
                                                {{refdata.label}}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div *ngFor="let referencelookupmap of  signupComponent.fullReferencedetailsmap">
                                            <div *ngIf="newserviceobj.category == referencelookupmap.code">
                                                {{referencelookupmap.label}}
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{newserviceobj.createdOn}}</td>
                                    <td>{{newserviceobj.createdBy}}</td>
                                    <td *ngFor="let newservicehisobj of newserviceobj.serviceHistory">
                                        {{newservicehisobj.decisionBy}}
                                    </td>
                                    <td *ngFor="let newservicehisobj of newserviceobj.serviceHistory">
                                        <i class="fa fa-check" title="Approved by {{newservicehisobj.decisionBy}} "
                                            *ngIf="newservicehisobj.status == 'APPROVED'; else elseRejected"
                                            style="color: rgb(37, 165, 37)"></i>
                                        <ng-template #elseRejected>
                                            <i class="fa fa-ban" title="Rejected by {{newservicehisobj.decisionBy}} "
                                                *ngIf="newservicehisobj.status == 'REJECTED'; else elseOther"
                                                style="color: rgb(165, 37, 37)"></i>
                                        </ng-template>
                                        <ng-template #elseOther>
                                            <i class="fa fa-spinner"
                                                title="In-Progress with {{newservicehisobj.decisionBy}} "
                                                style="color: rgb(26, 9, 255)"></i>
                                        </ng-template>
                                    </td>
                                </tr>
                            </tbody>
                            <ng-template #elseNoRejectedNewService>
                                <tbody align="center">
                                    No New Services got Rejected
                                </tbody>
                            </ng-template>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>