<h4>Dashboard</h4>
<hr>

<button class="btn btn-info btn-sm pull-right" (click)="openUserServiceCart()"
  *ngIf="userservicedetailsAddedList.length > 0 && this.userService.currentUserValue.userroles.rolecode != 'FREELANCER_USER' ">
  <i class="fa fa-shopping-cart ">
    <span *ngIf="userservicedetailsAddedList.length == 1 ; else morethenOne">
      {{userservicedetailsAddedList.length}} Item
    </span>
    <ng-template #morethenOne>
      <span>
        {{userservicedetailsAddedList.length}} Items
      </span>
    </ng-template>
  </i>
</button>
<div class='clearfix'></div><br>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <!-- <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"> 
      <i class="fa fa-cogs fatab"></i>
      <br>
      <b>{{ 'DASHOARD_CBA_MAIN_BODY.SERVICEPROVIDER' | translate }}</b>
    
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
      <i class="fa fa-building-o fatab"></i>
      <br>
      <b>{{ 'DASHOARD_CBA_MAIN_BODY.REALESTATEINDUSTRY' | translate }}</b>
    </a>
  </li>
  -->
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
      aria-selected="true">
      <i class="fa fa-cogs fatab" style="color:#FF4949"></i>
      <br>
      <b>{{ 'DASHOARD_CBA_MAIN_BODY.SERVICEPROVIDER' | translate }}</b>
    </a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <br>
    <div class="row">
      <div class="col-sm-4 mb-3 mb-md-0" style="margin-bottom:8px !important"
        *ngFor="let svc of listOfAllApprovedNewServices">
        <div class="card text-center">
          <div class="card-header header-bg">
            <img class="img-thumbnail pull-left" src={{svc.imgurl}} width="70" height="40">
            <div *ngIf="userservicedetailsExistingIds.includes(svc.ourserviceId) ; else addToCart">
            </div>
            <ng-template #addToCart>
              <a class="btn btn-info btn-sm pull-right"
                (click)="prepareSaveUserServiceForServiceId(svc.ourserviceId , svc.packwithotherourserviceid , svc.amount , svc.validPeriodLabel , svc.validPeriodCode ,svc.serviceendon, svc.servicestarton)">
                <i class="fa fa-plus" > Add To Cart </i></a>
            </ng-template>
          </div>

          <div class="card-body d-flex flex-column">
            <div class="card-title">
              <h5 class="text-center"><b>{{svc.name}}</b></h5>
              <hr>
              <span class="display-4"><i class="fa fa-inr">{{svc.amount}}</i></span>
              <span class="mb-4">/{{svc.validPeriodLabel}}
              </span>
            </div>
            <div class="card-text">
              <ul class="list-unstyled">
                <li class="mb-1" *ngFor="let features of svc.fullcontent">
                  <!-- <app-read-more [content]="features" [limit]="100" [completeWords]="true">
                  </app-read-more>
                  -->
                  {{features}}
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
   <br><br>
   <div class="row">
    <div class="col-sm-4 mb-3 mb-md-0" style="margin-bottom:8px !important"
          *ngFor="let svc of domainRealEstateIndustry">
          <div class="card text-center h-100">
            <div class="card-header header-bg">
              <h6>{{svc.name}}</h6>
            </div>
            <img class="card-img" src={{svc.imgurl}}>
            <div class="card-body d-flex flex-column">
              <div class="card-title">
                <span class="display-4"><i class="fa fa-inr">{{svc.amount}}</i></span>
                <span class="mb-4">/{{svc.validPeriodLabel}}
                </span>
              </div>
              <div class="card-text">
                <ul class="list-unstyled">
                  <li class="mb-1" *ngFor="let features of svc.fullcontent">
                    {{features}}
                  </li>
                </ul>
              </div>
            </div>
            <div class="card-footer">
              <div *ngIf="userservicedetailsExistingIds.includes(svc.ourserviceId) ; else addToCart">
              </div>
              <ng-template #addToCart>
                <button type="button" class="btn btn-primary"
                  (click)="prepareSaveUserServiceForServiceId(svc.ourserviceId , svc.packwithotherourserviceid ,svc.amount , svc.validPeriodLabel, svc.validPeriodCode,svc.serviceendon, svc.servicestarton)">
                  <i class="fa fa-plus"> Add To Cart </i></button>
              </ng-template>
            </div>
          </div>
        </div>
        </div>
  </div>-->
</div>