<h4>Manage Users</h4>
<hr>
<div class="row mb-3  justify-content-between">
    <div class="col-xl-2 col-sm-6 py-2">
        <div class="card bg-success text-white h-100">
            <div class="card-body bg-warning">
                <div class="rotate">
                    <i class="fa fa-reorder fa-4x"></i>
                </div>
                <h6 class="text-uppercase">My Work</h6>
                <h1 class="display-4">{{usrObjMyWork.length}}</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-sm-6 py-2">
        <div class="card text-white bg-info h-100">
            <div class="card-body bg-info">
                <div class="rotate">
                    <i class="fa fa-briefcase  fa-4x"></i>
                </div>
                <h6 class="text-uppercase">CBA</h6>
                <h1 class="display-4">{{usrObjCBAs.length}}</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-sm-6 py-2">
        <div class="card text-white bg-info h-100">
            <div class="card-body bg-info">
                <div class="rotate">
                    <i class="fa fa-user fa-4x"></i>
                </div>
                <h6 class="text-uppercase">SW</h6>
                <h1 class="display-4">{{usrObjFUs.length}}</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-sm-6 py-2">
        <div class="card text-white bg-info h-100">
            <div class="card-body">
                <div class="rotate">
                    <i class="fa fa-user-secret fa-4x"></i>
                </div>
                <h6 class="text-uppercase">Admin</h6>
                <h1 class="display-4">{{usrObjPlatformAdmins.length}}</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-sm-6 py-2">
        <div class="card bg-success text-white h-100">
            <div class="card-body bg-success">
                <div class="rotate">
                    <i class="fa fa-users fa-4x"></i>
                </div>
                <h6 class="text-uppercase">Total Users</h6>
                <h1 class="display-4">{{usrObjTotalUsers.length}}</h1>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <section class="container py-4">
        <div class="row">
            <div class="col-md-12">
                <ul id="tabs" class="nav nav-tabs mb-2">
                    <li class="nav-item"><a href="" data-target="#myworktab" data-toggle="tab"
                            class="nav-link medium text-uppercase active"><b>My Work</b></a></li>
                    <li class="nav-item"><a href="" data-target="#cbatab" data-toggle="tab"
                            class="nav-link medium text-uppercase"><b>Clients</b></a></li>
                    <li class="nav-item"><a href="" data-target="#futab" data-toggle="tab"
                            class="nav-link medium text-uppercase "><b>Skilled Workers</b></a></li>
                    <li class="nav-item"><a href="" data-target="#admintab" data-toggle="tab"
                            class="nav-link medium text-uppercase"><b>Administrators</b></a></li>
                </ul>
                <div id="tabsContent " class="tab-content">
                    <div id="myworktab" class="tab-pane active fade show">
                        <span>
                            <div class="col-md-12 bg-search">
                                <input type="text" id="myTaskInputUser" onkeyup="manageUsersTableSearch('mytask')"
                                    class="form-control col-md-3" placeholder="Search by name">
                            </div>
                        </span>
                         <table id="userMYTasktable" class="table table-hover table-sm table-striped">
                            <thead *ngIf="usrObjMyWork != ''">
                                <tr>
                                    <th>Name</th>
                                    <th>Active?</th>
                                    <th>Email Address</th>
                                    <th>Skill</th>
                                    <th>Phone No</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="usrObjMyWork != ''; else elseNoBGWork">
                                <tr *ngFor="let mywork of usrObjMyWork">
                                    <td>
                                        <a href="javascript: return false;"
                                            (click)='openViewAccountDetailsModal(mywork.userId)'>
                                            {{mywork.fullname}}
                                        </a>
                                    </td>
                                    <td>
                                        <i class="fa fa-smile-o ml-3" style="color:#0a382b;" *ngIf="mywork.isactive"> </i>
                                        <i class="fa fa-frown-o ml-3" style="color:#FF4949" *ngIf="!mywork.isactive"> </i>
                                    </td>
                                    <td>{{mywork.username}}</td>
                                    <td>{{mywork.freeLanceDetails.subcategorylabel}}</td>
                                    <td>{{this.commonlogic.formatPhoneNumber(mywork.phoneno)}}</td>
                                    <td>
                                        <a *ngIf="mywork.freelancehistoryentity.islocked" class="btn  btn-sm"
                                            (click)='processbgverficiationopenmodal(mywork.userId)'>
                                            <i title="You can start working.." class="fa fa-eye ml-3" style="color:#0a382b;">
                                            </i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <ng-template #elseNoBGWork>
                                <tbody align="center">
                                    No New Background Verification Cases
                                </tbody>
                            </ng-template>
                        </table>
                    </div>
                    <div id="cbatab" class="tab-pane fade ">
                        <span>
                            <div class="col-md-12 bg-search">
                                <input type="text" id="myCBAInputUser" onkeyup="manageUsersTableSearch('cba')"
                                    class="form-control col-md-3" placeholder="Search by name">
                            </div>
                        </span>
                        <table id="userCBAtable" class="table table-hover table-sm table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Active?</th>
                                    <th>Email Address</th>
                                    <th>Type</th>
                                    <th>Phone No</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center-row" *ngFor="let cbu of usrObjCBAs">
                                    <td>
                                        <a href="javascript: return false;"
                                            (click)='openViewAccountDetailsModal(cbu.userId)'>
                                            {{cbu.fullname}}
                                        </a>
                                    </td>
                                    <td> 
                                        <i class="fa fa-smile-o ml-3" style="color:#0a382b" *ngIf="cbu.isactive"> </i>
                                        <i class="fa fa-frown-o ml-3" style="color:#FF4949" *ngIf="!cbu.isactive"> </i>
                                    </td>
                                    <td>{{cbu.username}}</td>
                                    <td>{{cbu.userbizdetails.biztype}}</td>
                                    <td>{{this.commonlogic.formatPhoneNumber(cbu.phoneno)}}</td>
                                    <td>
                                        <a class="btn  btn-sm"
                                            [routerLink]="['/viewuserservicedetails',cbu.userId]">
                                            <i class="fa fa-cog" title="View Associated Services"
                                                style="color:#0a382b"></i>
                                        </a>
                                        <a class="btn  btn-sm"
                                        [routerLink]="['/viewfujobdetails',cbu.userId,'cba']">
                                        <i class="fa fa-briefcase" title="View Associated Jobs"
                                            style="color:#0a382b"></i>
                                         </a>
                                        <a class="btn  btn-sm" (click)='userAction(cbu.userId,"deactive");'
                                            *ngIf="cbu.isactive">
                                            <i title="Deactivate User" class="fa fa-trash" style="color:#FF4949"></i>
                                        </a>
                                        <a class="btn  btn-sm" (click)='userAction(cbu.userId,"active");'
                                            *ngIf="!cbu.isactive">
                                            <i title="Activate User" class="fa fa-eye" style="color:#0a382b"></i>
                                        </a>
                                    </td>
                                </tr>
                        </table>

                    </div>
                    <div id="futab" class="tab-pane fade">
                        <span>
                            <div class="col-md-12 bg-search">
                                <input type="text" id="myFUInputUser" onkeyup="manageUsersTableSearch('fu')"
                                    class="form-control col-md-3" placeholder="Search by name">
                            </div>
                        </span>
                        <table id="userFUtable" class="table table-hover table-sm table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Active?</th>
                                    <th>Skill Name</th>
                                    <th style="width:15%">Phone No</th>
                                    <th>Profile?</th>
                                    <th style="width:12%">Pay Done?</th>
                                    <th style="width:12%">BG Started ?</th>
                                    <th style="width:12%">BG Done?</th>
                                    <!-- <th>Current Status</th> -->
                                    <th style="width:12%">BG Status</th>
                                    <th style="width:12%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center-row" *ngFor="let fu of usrObjFUs">
                                    <td>
                                        <a href="javascript: return false;"
                                            (click)='openViewAccountDetailsModal(fu.userId)'>
                                            {{fu.fullname}}
                                        </a>
                                    </td>
                                    <td>
                                        <i class="fa fa-smile-o ml-3" style="color:#0a382b" *ngIf="fu.isactive"> </i>
                                        <i class="fa fa-frown-o ml-3" style="color:#FF4949" *ngIf="!fu.isactive"> </i>
                                    </td>
                                    <td>
                                        {{fu.freeLanceDetails.subcategorylabel}}
                                    </td>
                                    <td>{{this.commonlogic.formatPhoneNumber(fu.phoneno)}}</td>
                                    <td *ngIf="fu.freeLanceDetails !=null">
                                        <div
                                            *ngIf="fu.freeLanceDetails.isprofilecompleted; else elseIsProfileNotCompleted">
                                            <i class="fa fa-check ml-3" title="Profile data is available"
                                                style="color:#0a382b"></i>
                                        </div>
                                        <ng-template #elseIsProfileNotCompleted>
                                            <i class="fa fa-ban ml-3" title="Profile data not available"
                                                style="color:rgb(199, 25, 25)"></i>
                                        </ng-template>
                                    </td>
                                    <td *ngIf="fu.freeLanceDetails !=null">
                                        <div *ngIf="fu.freeLanceDetails.isregfeedone; else elseIsRegNotCompleted">
                                            <i class="fa fa-inr ml-5" title="Registration is completed"
                                                style="color:#0a382b"></i>
                                        </div>
                                        <ng-template #elseIsRegNotCompleted>
                                            <i class="fa fa-inr ml-5" title="Registration is not completed"
                                                style="color:rgb(199, 25, 25)"></i>
                                        </ng-template>
                                    </td>
                                    <td *ngIf="fu.freeLanceDetails !=null">
                                        <div *ngIf="fu.freeLanceDetails.isbgstarted; else elseIsBgNotDone">
                                            <i class="fa fa-check ml-5" title="Background  verification started"
                                                style="color: #0a382b"></i>
                                        </div>
                                        <ng-template #elseIsBgNotDone>
                                            <i class="fa fa-ban ml-5" title="Background verification not started"
                                                style="color:rgb(199, 25, 25)"></i>
                                        </ng-template>
                                    </td>
                                    <td *ngIf="fu.freeLanceDetails !=null">
                                        <div *ngIf="fu.freeLanceDetails.isbgstarted">
                                            <div *ngIf="fu.freeLanceDetails.isbgdone">
                                                <i class="fa fa-check ml-5" title="Background verification is completed"
                                                    style="color: #0a382b"></i>
                                            </div>
                                            <div *ngIf="!fu.freeLanceDetails.isbgdone">
                                                <i class="fa fa-spinner ml-5" title="Background verification is in-progress"
                                                    style="color:rgb(16, 0, 238)"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <!-- <td *ngIf="fu.freelancehistoryentity !=null">
                                        <div *ngFor="let refdata of refDataObj">
                                            <div *ngIf="refdata.code === fu.freeLanceDetails.bgcurrentstatus">
                                                {{refdata.label}}
                                                <label title="Decision by {{fu.freelancehistoryentity.decisionby}}">
                                                    <i class="fa fa-question-circle"
                                                        *ngIf="fu.freelancehistoryentity.decisionby != null"
                                                        style="font-size:10px;color:rgb(35, 124, 226)"></i>
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                -->
                                    <td>
                                        <i title="{{fu.fullname}} background verification is rejected"
                                            class="fa fa-thumbs-down ml-5" title = "Decision by {{fu.freelancehistoryentity.decisionby}} "
                                            style="color:rgb(241, 18, 18)"
                                            *ngIf="fu.freeLanceDetails.bgcurrentstatus == 'BG_REJECTED'; else elseApproved ">
                                        </i>
                                        <ng-template #elseApproved>
                                            <i *ngIf="fu.freeLanceDetails.bgcurrentstatus == 'BG_APPROVED'; else elseInProgress"
                                                title="{{fu.fullname}} background verification is approved - Decision by {{fu.freelancehistoryentity.decisionby}}"
                                                class="fa fa-thumbs-up ml-5" style="color:#0a382b"></i>
                                        </ng-template>
                                        <ng-template #elseInProgress>
                                            <i title="{{fu.fullname}} background verification is in-progress - Decision by {{fu.freelancehistoryentity.decisionby}}"
                                                class="fa fa-spinner ml-5" style="color:blue"></i>
                                        </ng-template>
                                    </td>
                                    <td>
                                        <a *ngIf="fu.freeLanceDetails.isprofilecompleted && fu.freeLanceDetails.isregfeedone
                                        && !fu.freeLanceDetails.isbgstarted &&
                                        userService.currentUserValue.userroles.rolecode == 'CORE_SERVICE_SUPPORT_TEAM'"
                                            class="btn  btn-sm" (click)='executeBGVerificationCheck(fu.userId)'>
                                            <i title="Initiate Background verification" class="fa fa-play"
                                                style="color:#0a382b"></i>
                                        </a>
                                        <a class="btn  btn-sm"
                                        *ngIf="fu.freeLanceDetails.bgcurrentstatus == 'BG_APPROVED'"
                                         [routerLink]="['/viewfujobdetails',fu.userId,'fu']">
                                            <i title="View Assoicated Jobs" class="fa fa-briefcase" style="color:#0a382b"></i>
                                        </a>
                                        <a class="btn  btn-sm" (click)='userAction(fu.userId,"deactive");'
                                            *ngIf="fu.isactive">
                                            <i title="Deactivate User" class="fa fa-trash" style="color:#FF4949"></i>
                                        </a>
                                        <a class="btn  btn-sm" (click)='userAction(fu.userId,"active");'
                                            *ngIf="!fu.isactive">
                                            <i title="Activate User" class="fa fa-eye" style="color:#0a382b"></i>
                                        </a>
                                        <a class="btn  btn-sm" [routerLink]="['/_reviews',fu.userId,'usr']"
                                            *ngIf="fu.isactive">
                                        <i title="Ratings" class="fa fa-commenting-o" style="color:#0a382b"></i>
                                    </a>
                                    </td>
                                </tr>
                        </table>
                    </div>
                    <div id="admintab" class="tab-pane fade">
                        <span>
                            <div class="col-md-12 bg-search">
                                <input type="text" id="myAdminInputUser" onkeyup="manageUsersTableSearch('admin')"
                                    class="form-control col-md-3" placeholder="Search by name">
                            </div>
                        </span>
                        <table id="userAdmintable" class="table table-hover table-sm table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Active?</th>
                                    <th>Designation</th>
                                    <th>Phone No</th>
                                    <th>Created By</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let platformuser of usrObjPlatformAdmins">
                                    <td>
                                        <a href="javascript: return false;"
                                            (click)='openViewAccountDetailsModal(platformuser.userId)'>
                                            {{platformuser.fullname}}
                                        </a>
                                    </td>
                                    <td>
                                        <i class="fa fa-smile-o ml-3" style="color:#0a382b" *ngIf="platformuser.isactive">
                                        </i>
                                        <i class="fa fa-frown-o ml-3" style="color:#FF4949" *ngIf="!platformuser.isactive">
                                        </i>
                                    </td>
                                    <td>
                                        <div
                                            *ngIf="platformuser.userroles.rolecode == 'CORE_SERVICE_SUPPORT_TEAM'; else elseCBA">
                                            Core Support Service Team
                                        </div>
                                        <ng-template #elseCBA>
                                            Core Support Service Manager
                                        </ng-template>
                                    </td>
                                    <td>{{this.commonlogic.formatPhoneNumber(platformuser.phoneno)}}</td>
                                    <td>{{platformuser.createdby}}</td>
                                  
                                    <td>
                                        <a class="btn  btn-sm" (click)='userAction(platformuser.userId,"deactive");'
                                            *ngIf="platformuser.isactive">
                                            <i title="Deactivate User" class="fa fa-trash ml-3" style="color:#FF4949"></i>
                                        </a>
                                        <a class="btn  btn-sm" (click)='userAction(platformuser.userId,"active");'
                                            *ngIf="!platformuser.isactive">
                                            <i title="Activate User" class="fa fa-eye ml-3" style="color:#0a382b"></i>
                                        </a>
                                    </td>

                                </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>