<h4>Manage Users</h4>
<hr>

<div class="row mb-4  justify-content-between">
    
    <div class="col-xl-2 col-sm-6 py-2">
        <div class="card bg-success text-white h-100">
            <div class="card-body bg-warning">
                <div class="rotate">
                    <i class="fa fa-reorder fa-4x"></i>
                </div>
                <h6 class="text-uppercase">My Bg Work</h6>
                <h1 class="display-4">{{usrObjMyWork.length}}</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-sm-6 py-2">
        <div class="card text-white bg-info h-100">
            <div class="card-body bg-info">
                <div class="rotate">
                    <i class="fa fa-briefcase  fa-4x"></i>
                </div>
                <h6 class="text-uppercase">CBA</h6>
                <h1 class="display-4">{{usrObjCBAs.length}}</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-sm-6 py-2">
        <div class="card text-white bg-info h-100">
            <div class="card-body bg-info">
                <div class="rotate">
                    <i class="fa fa-user fa-4x"></i>
                </div>
                <h6 class="text-uppercase">FU</h6>
                <h1 class="display-4">{{usrObjFUs.length}}</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-sm-6 py-2">
        <div class="card text-white bg-info h-100">
            <div class="card-body">
                <div class="rotate">
                    <i class="fa fa-user-secret fa-4x"></i>
                </div>
                <h6 class="text-uppercase">Admin</h6>
                <h1 class="display-4">{{usrObjPlatformAdmins.length}}</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-sm-6 py-2">
        <div class="card bg-success text-white h-100">
            <div class="card-body bg-success">
                <div class="rotate">
                    <i class="fa fa-users fa-4x"></i>
                </div>
                <h6 class="text-uppercase">Total Users</h6>
                <h1 class="display-4">{{usrObjTotalUsers.length}}</h1>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <section class="container py-4">
        <div class="row">
            <div class="col-md-12">
                <ul id="tabs" class="nav nav-tabs">
                    <li class="nav-item"><a href="" data-target="#myworktab" data-toggle="tab"
                            class="nav-link medium text-uppercase active"><b>My Bg Work</b></a></li>
                    <li class="nav-item"><a href="" data-target="#cbatab" data-toggle="tab"
                            class="nav-link medium text-uppercase"><b>Client Business Administrator</b></a></li>
                    <li class="nav-item"><a href="" data-target="#futab" data-toggle="tab"
                            class="nav-link medium text-uppercase "><b>FreeLancer</b></a></li>
                    <li class="nav-item"><a href="" data-target="#admintab" data-toggle="tab"
                            class="nav-link medium text-uppercase"><b>Platform Administrator</b></a></li>
                </ul>
                <br>
                <div id="tabsContent" class="tab-content">
                    <div id="myworktab" class="tab-pane active fade show">

                        <span>
                            <div class="col-md-12 bg-search">

                                <input type="text" class="form-control col-md-3" placeholder="Search Results">
                                
                                <div class="pull-right mt-btn-v">
                                <button class="btn btn-primary btn-sm pull-right">View All</button>
                                </div>
                                
                                </div>
                        </span>
                            <br> 

                        <table id="example" class="table table-bordered table-hover table-sm table-striped">
                            <thead *ngIf="usrObjMyWork != ''">
                                <tr>
                                    <th>Name</th>
                                    <th>Email Address</th>
                                    <th>Created On</th>
                                    <th>Last Updated On</th>
                                    <th>Language</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody *ngIf="usrObjMyWork != ''; else elseNoBGWork">
                                <tr *ngFor="let mywork of usrObjMyWork">
                                    <td>
                                        <a href="javascript: return false;"
                                            (click)='openViewAccountDetailsModal(mywork.userId)'>
                                            {{mywork.fullname}}
                                        </a>
                                    </td>
                                    <td>{{mywork.username}}</td>
                                    <td>{{mywork.createdon}}</td>
                                    <td>{{mywork.updatedon}}</td>
                                    <td>
                                        <div *ngIf="mywork.preferlang == 'en'">
                                            English
                                        </div>
                                        <div *ngIf="mywork.preferlang == 'te'">
                                            తెలుగు
                                        </div>
                                        <div *ngIf="mywork.preferlang == 'hi'">
                                            हिंदी
                                        </div>
                                    </td>
                                    <td>
                                        <a *ngIf="mywork.freelancehistoryentity.islocked" class="btn  btn-sm"
                                            (click)='processbgverficiationopenmodal(mywork.userId)'>
                                            <i title="You can start working.." class="fa fa-lock"
                                                style="color: rgb(37, 165, 37)">
                                            </i>
                                        </a>
                                    </td>

                                </tr>
                            </tbody>
                            <ng-template #elseNoBGWork>
                                <tbody align="center">
                                    No New Background Verification Cases
                                </tbody>
                            </ng-template>
                        </table>
                    </div>
                    <div id="cbatab" class="tab-pane fade ">
                        <span>
                            <div class="col-md-12 bg-search">

                                <input type="text" class="form-control col-md-3" placeholder="Search Results">
                                
                                <div class="pull-right mt-btn-v">
                                <button class="btn btn-primary btn-sm pull-right">View All</button>
                                </div>
                                
                                </div>
                            </span>
                            <br> 

                        <table id="example" class="table table-bordered table-hover table-sm table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email Address</th>
                                    <th>Created On</th>
                                    <th>Language</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cbu of usrObjCBAs">
                                    <td>
                                        <a href="javascript: return false;"
                                            (click)='openViewAccountDetailsModal(cbu.userId)'>
                                            {{cbu.fullname}}
                                        </a>
                                    </td>
                                    <td>{{cbu.username}}</td>
                                    <td>{{cbu.createdon}}</td>
                                    <td>
                                        <div *ngIf="cbu.preferlang == 'en'">
                                            English
                                        </div>
                                        <div *ngIf="cbu.preferlang == 'te'">
                                            తెలుగు
                                        </div>
                                        <div *ngIf="cbu.preferlang == 'hi'">
                                            हिंदी
                                        </div>
                                    </td>
                                    <td>
                                        <a href="javascript: return false;"
                                            [routerLink]="['/viewuserservicedetails',cbu.userId]">
                                            View Associated Services
                                        </a>
                                    </td>
                                </tr>
                        </table>

                    </div>
                    <div id="futab" class="tab-pane fade">
                        <span>
                            <div class="col-md-12 bg-search">

                                <input type="text" class="form-control col-md-3" placeholder="Search Results">
                                
                                <div class="pull-right mt-btn-v">
                                <button class="btn btn-primary btn-sm pull-right">View All</button>
                                </div>
                                
                                </div>
                            </span>
                            <br> 

                        <table id="example" class="table table-bordered table-hover table-sm table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Email Address</th>
                                    <th>Language</th>
                                    <th>Is BG Complete</th>
                                    <th>Is BG Start</th>
                                    <th>Is Profile Completed</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let fu of usrObjFUs">
                                    <td
                                        *ngIf="userService.currentUserValue.userroles.rolecode == 'CORE_SERVICE_SUPPORT_TEAM' || 
                                        userService.currentUserValue.userroles.rolecode == 'CORE_SERVICE_SUPPORT_MANAGER'">
                                        <a *ngIf="fu.freeLanceDetails.isprofilecompleted && fu.freeLanceDetails.isregfeedone
                                         && !fu.freeLanceDetails.isbgstarted" class="btn  btn-sm"
                                            (click)='executeBGVerificationCheck(fu.userId)'>
                                            <i title="Initiate Background verification" class="fa fa-play"
                                                style="color: rgb(37, 165, 37)"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="javascript: return false;"
                                            (click)='openViewAccountDetailsModal(fu.userId)'>
                                            {{fu.fullname}}
                                        </a>
                                    </td>
                                    <td>{{fu.username}}</td>
                                    <td>
                                        <div *ngIf="fu.preferlang == 'en'">
                                            English
                                        </div>
                                        <div *ngIf="fu.preferlang == 'te'">
                                            తెలుగు
                                        </div>
                                        <div *ngIf="fu.preferlang == 'hi'">
                                            हिंदी
                                        </div>
                                    </td>
                                    <td *ngIf="fu.freeLanceDetails !=null">
                                        <div *ngIf="fu.freeLanceDetails.isbgstarted">
                                            <div *ngIf="fu.freeLanceDetails.isbgdone">
                                                <i class="fa fa-check" title="Bg verification is completed"
                                                    style="color: rgb(37, 165, 37)"></i>
                                            </div>
                                            <div *ngIf="!fu.freeLanceDetails.isbgdone">
                                                <i class="fa fa-spinner" title="Bg verification is in-progress"
                                                    style="color:rgb(16, 0, 238)"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td *ngIf="fu.freeLanceDetails !=null">
                                        <div *ngIf="fu.freeLanceDetails.isbgstarted; else elseIsBgNotDone">
                                            <i class="fa fa-check" title="Bg  verification started"
                                                style="color: rgb(37, 165, 37)"></i>
                                        </div>
                                        <ng-template #elseIsBgNotDone>
                                            <i class="fa fa-ban" title="Bg verification not started"
                                                style="color:rgb(199, 25, 25)"></i>
                                        </ng-template>
                                    </td>
                                    <td *ngIf="fu.freeLanceDetails !=null">
                                        <div
                                            *ngIf="fu.freeLanceDetails.isprofilecompleted; else elseIsProfileCompleted">
                                            <i class="fa fa-check" title="Profile data is available"
                                                style="color: rgb(37, 165, 37)"></i>
                                        </div>
                                        <ng-template #elseIsProfileCompleted>
                                            <i class="fa fa-ban" title="Profile data not available"
                                                style="color:rgb(199, 25, 25)"></i>
                                        </ng-template>
                                    </td>
                                    <td *ngIf="fu.freelancehistoryentity !=null">
                                        <div *ngFor="let refdata of refDataObj">
                                            <div *ngIf="refdata.code === fu.freeLanceDetails.bgcurrentstatus">
                                                {{refdata.label}}
                                                <label title="Decision by {{fu.freelancehistoryentity.decisionby}}">
                                                    <i class="fa fa-question-circle"
                                                        *ngIf="fu.freelancehistoryentity.decisionby != null"
                                                        style="font-size:10px;color:rgb(35, 124, 226)"></i>
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <i title="{{fu.fullname}} background verification is rejected"
                                            class="fa fa-thumbs-down " style="color:rgb(241, 18, 18)"
                                            *ngIf="fu.freeLanceDetails.bgcurrentstatus == 'BG_REJECTED'; else elseApproved ">
                                        </i>
                                        <ng-template #elseApproved>
                                            <i *ngIf="fu.freeLanceDetails.bgcurrentstatus == 'BG_APPROVED'; else elseInProgress"
                                                title="{{fu.fullname}} background verification is approved"
                                                class="fa fa-thumbs-up" style="color:green"></i>
                                        </ng-template>
                                        <ng-template #elseInProgress>
                                            <i title="{{fu.fullname}} background verification is in-progress"
                                                class="fa fa-spinner" style="color:blue"></i>
                                        </ng-template>

                                    </td>
                                    <td>
                                        <a href="javascript: return false;"
                                            [routerLink]="['/viewfujobdetails',fu.userId]">
                                            View Jobs
                                        </a>
                                    </td>
                                </tr>
                        </table>
                    </div>
                    <div id="admintab" class="tab-pane fade">

                        <span>
                            <div class="col-md-12 bg-search">

                                <input type="text" class="form-control col-md-3" placeholder="Search Results">
                                
                                <div class="pull-right mt-btn-v">
                                <button class="btn btn-primary btn-sm pull-right">View All</button>
                                </div>
                                
                                </div>
                            </span>
                            <br> 
                        <table id="example" class="table table-bordered table-hover table-sm table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email Address</th>
                                    <th>Created On</th>
                                    <th>Created By</th>
                                    <th>Language</th>
                                    <th>Designation</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let platformuser of usrObjPlatformAdmins">
                                    <td>
                                        <a href="javascript: return false;"
                                            (click)='openViewAccountDetailsModal(platformuser.userId)'>
                                            {{platformuser.fullname}}
                                        </a>
                                    </td>
                                    <td>{{platformuser.username}}</td>
                                    <td>{{platformuser.createdon}}</td>
                                    <td>{{platformuser.createdby}}</td>
                                    <td>
                                        <div *ngIf="platformuser.preferlang == 'en'">
                                            English
                                        </div>
                                        <div *ngIf="platformuser.preferlang == 'te'">
                                            తెలుగు
                                        </div>
                                        <div *ngIf="platformuser.preferlang == 'hi'">
                                            हिंदी
                                        </div>
                                    </td>
                                    <td>
                                        <div
                                            *ngIf="platformuser.userroles.rolecode == 'CORE_SERVICE_SUPPORT_TEAM'; else elseCBA">
                                            Core Service Analyst
                                        </div>
                                        <ng-template #elseCBA>
                                            Core Service Manager
                                        </ng-template>
                                    </td>
                                </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>