<div id="section-6" >

  <div class="section-4-container">
        <div class="container">
      <div class="row">
        <div class="col-md-6 center" style="margin-top:68px;">
          <div *ngIf="!isfwd; else elseFwd">
            <div class="card card-container">
              <img id="profile-img" class="profile-img-card" src="assets/img/backgrounds/login.jpg" />
              <h4 style="text-align: left;"> {{ 'HOMESIGNUP.ACCOUNTLOGIN' | translate }}</h4>
               <p id="profile-name" class="profile-name-card">   </p> 
              <form [formGroup]="loginForm" (ngSubmit)="loginUserByUsername()">
                <span id="reauth-email" class="reauth-email"></span>
                <div class="form-group rounded">
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-user-circle form-control-icon"></i></span>
                    </div> 
                   
                  <input type="email" formControlName="username"
                    [ngClass]="{ 'is-invalid': issubmit && f.username.errors }" class="form-control"
                    placeholder="{{ 'HOMESIGNUP.EMAILADDRESS' | translate }}">
                  <div *ngIf="issubmit && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required || f.username.errors.email"> {{ 'HOMESIGNUP.GIVEVALIDEMAIL' |
                      translate }}
                    </div></div>
                    <div *ngIf="f.username.errors.maxlength">{{ 'HOMESIGNUP.SHOULDNOTBE40' | translate }}
                    </div>
                  </div>
                </div>
                
                <div class="form-group">
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-lock form-control-icon"></i></span>
                    </div>                
                  <input type="password" id="inputPassword" class="form-control"
                    placeholder="{{ 'HOMESIGNUP.PASSWORD' | translate }}" formControlName="password"
                    [ngClass]="{ 'is-invalid': issubmit && f.password.errors }">
                  <div *ngIf="issubmit && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">{{ 'HOMESIGNUP.PASSWORDISREQUIRED' | translate }}
                    </div>
                    <div *ngIf="f.password.errors.minlength">{{ 'HOMESIGNUP.PASSWORDMUSTBE8CHAR' | translate }}</div>
                  </div>
                </div></div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">{{ 'HOMESIGNUP.LOGIN' |
                  translate }}</button>
              </form>
              <a (click)="disFwd(true)" class="btn btn-sm">
                {{ 'HOMESIGNUP.FORGOTYOURPASSWORD' | translate }}
              </a>
            </div>
          </div>
          <ng-template #elseFwd>
            <div class="card card-container">
              <h4 class="card-title"> {{ 'HOMESIGNUP.FORGOTYOURPASSWORD' | translate }}</h4>
              <form [formGroup]="fpwdForm" (ngSubmit)="forgotPassword()">
                <span id="reauth-email" class="reauth-email"></span>
                <div class="form-group">
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-user-circle form-control-icon"></i></span>
                    </div>
                  <input type="email" id="inputEmail" formControlName="fpwdusername"
                    [ngClass]="{ 'is-invalid': isfpwdsubmit && fpwd.fpwdusername.errors }" class="form-control"
                    placeholder="{{ 'HOMESIGNUP.EMAILADDRESS' | translate }}" autofocus></div>
                  <div *ngIf="isfpwdsubmit && fpwd.fpwdusername.errors" class="invalid-feedback">
                    <div *ngIf="fpwd.fpwdusername.errors.required || fpwd.fpwdusername.errors.email">{{
                      'HOMESIGNUP.GIVEVALIDEMAIL' | translate }}
                    </div>
                    <div *ngIf="fpwd.fpwdusername.errors.maxlength">{{ 'HOMESIGNUP.SHOULDNOTBE40' | translate }}</div>
                  </div>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">{{ 'HOMESIGNUP.SENDPASSWORD' |
                  translate }}</button>
                <a (click)="disFwd(false)" class="btn  btn-sm">{{ 'HOMESIGNUP.BACKTOLOGIN' | translate }}</a>
              </form>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>