<div class="container" *ngIf="!iscreatejobdiv">
    <hr>
    <div>
        <i class="fa fa-info-circle">
        </i>
        <small>To schedule a job appointment for {{name | lowercase}} search by appointment
            date & job
            location and than
            click on create job button.</small>
        <form [formGroup]="searchform" (ngSubmit)="searchByFilterFreelancer()">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <span>
                        <i class="fa fa-calendar form-control-icon"></i>
                    </span>
                    <input readonly [owlDateTime]="dt1" formControlName="startdate" [min]="minstartDate"
                        [max]="maxstartDate" [owlDateTimeTrigger]="dt1" class="form-control"
                        placeholder="Choose the appointment date"
                        [ngClass]="{ 'is-invalid': issubmit && s.startdate.errors }">
                    <div *ngIf="issubmit && s.startdate.errors" class="invalid-feedback">
                        <div *ngIf="s.startdate.errors.required">Appointment Date is required
                        </div>
                    </div>
                    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                    <small class="text-muted">
                        You can make appointment piror 10 days.
                    </small>
                </div>
                <div class="form-group col-md-4">
                    <span>
                        <i class="fa fa-map-marker form-control-icon"></i>
                    </span>
                    <input formControlName="fulladdress" placeholder="Enter job location" autocorrect="off"
                        autocomplete="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
                        #search [ngClass]="{ 'is-invalid': issubmit && s.fulladdress.errors }">
                    <div *ngIf="issubmit && s.fulladdress.errors" class="invalid-feedback">
                        <div *ngIf="s.fulladdress.errors.required">Address is required
                        </div>
                    </div>
                    <small class="w-100">{{ 'DASHBOARD_FU_PROFILE.PROFILE_ADDRESS_INSTRUCTIONS' | translate }}</small>
                </div>
                <div class="row">
                    <div class="col-4">
                        <input type="submit" class="btn btn-primary" value="Search">
                    </div>
                    <div class="col-4" *ngIf="issearchbydate && userFUObjList.length > 0 && 
                            this.userService.currentUserValue.userroles.rolecode === 'CLIENT_BUSINESS_ADMINISTRATOR'">
                        <a (click)="openCreateJobInterface()" class="btn btn-success"><i class="fa fa-plus"></i>
                            Create Job</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="mt-4">
        <span class="section-title" *ngIf="userFUObjList.length > 0 && !issearchbydate;">
            <h5>
                <p>
                    Below are the {{name | lowercase }}'s at all over the locations.
                </p>
            </h5>
        </span>
        <span class=" section-title " *ngIf="userFUObjList.length == 1 && issearchbydate &&
            this.searchform.get('fulladdress').value.length > 0;">
            <h5>
                <p>Available {{name | lowercase}} at : {{this.searchform.get('fulladdress').value}} </p>
            </h5>
        </span>
        <span class="section-title " *ngIf="userFUObjList.length > 1 && issearchbydate && 
                this.searchform.get('fulladdress').value.length > 0;">
            <h5>
                <p> Available {{name | lowercase}}'s at : {{this.searchform.get('fulladdress').value}} </p>
            </h5>
        </span>

    </div>
</div>
<div class="row justify-content-center mt-3 mb-3">
    <div class="col-auto">
        <nav class="nav btn-group">
            <a href="#cardview" class="btn btn-outline-info active"
                *ngIf="userFUObjList.length > 0 && timelaps && !iscreatejobdiv && issearchbydate" data-toggle="tab">Card
                View</a>
            <a href="#mapview" class="btn btn-outline-primary"
                *ngIf="userFUObjList.length > 0 && timelaps && !iscreatejobdiv && issearchbydate" data-toggle="tab"> Map
                View</a>
        </nav>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane fade show active" *ngIf="userFUObjList.length > 0 && timelaps && !iscreatejobdiv"
        id="cardview">
        <!-- Freelance Search Section -->
        <section id="team">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-8 mb-3 mb-md-0" *ngFor="let fuuser of userFUObjList">
                        <div class="card">
                            <div class="card-header bg-info">
                                <span class="fa fa-star" style="color:#0a382b" *ngFor="let i of fuuser.starRate"></span>
                                <small *ngIf="fuuser.starRate !== null">/ out of 5</small>
                            </div>
                            <div class="card-body flex-column h-100 text-center">
                                <h4 *ngIf="this.userService.currentUserValue.userroles.rolecode === 'CLIENT_BUSINESS_ADMINISTRATOR'"
                                    class="card-title">{{fuuser.fullname}}</h4>
                                <h4 *ngIf="this.userService.currentUserValue.userroles.rolecode === 'CORE_SERVICE_SUPPORT_TEAM' || this.userService.currentUserValue.userroles.rolecode === 'CORE_SERVICE_SUPPORT_MANAGER'"
                                    class="card-title">
                                    <a href="javascript: return false;"
                                        (click)='this.manageuserComponent.openViewAccountDetailsModal(fuuser.userId)'>
                                        {{fuuser.fullname}}
                                    </a>
                                </h4>
                                <p><img class="card-img-top img-fluid " src="{{fuuser.avtarurl}}" alt="card image">
                                </p>
                                <p *ngIf="this.userService.currentUserValue.userroles.rolecode === 'CLIENT_BUSINESS_ADMINISTRATOR'"
                                    class="card-text"><small>{{fuuser.shortaddress | slice:0:40}}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class=" tab-pane fade" *ngIf="userFUObjList.length > 0 && timelaps && !iscreatejobdiv && issearchbydate"
        id="mapview">
        <div id="map-container-google-1" class="z-depth-1-half map-container"
            style="height: 500px; box-shadow: 0px 1px 8px 0px #0a382b;">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
                <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng"
                    [label]="m.label" [markerDraggable]="m.draggable">

                    <agm-info-window>
                        <div class="card" style="width:240px">
                            <img class="card-img-top" src={{m.avtarurl}} alt="card image">
                            <div class="card-body text-center">
                                <h3 class="card-title">{{m.label}}</h3>
                                <p class="card-text">{{m.shortaddress}}</p>
                            </div>
                        </div>
                    </agm-info-window>
                </agm-marker>
                <agm-circle [latitude]="lat" [longitude]="lng" [radius]="10000" [fillColor]="'red'"
                    [circleDraggable]="false" [editable]="false">
                </agm-circle>
            </agm-map>
        </div>
    </div>
</div>
<!-- Freelancer Search Section Ended -->
<div *ngIf="userFUObjList.length == 0 && timelaps && this.searchform.get('fulladdress').value.length > 0">
    <h5> No {{name}} found near this address {{this.searchform.get('fulladdress').value}}.</h5>
</div>
<div *ngIf="userFUObjList.length == 0 && !timelaps && this.searchform.get('fulladdress').value.length === 0">
    <h5> All {{name}}s are currently busy at work.We are working hard to get a {{name}} for you.Please try
        again after some time.</h5>
</div>

<!-- Create a New Job  Interface-->
<div class="row container" *ngIf="userFUObjList.length > 0 && iscreatejobdiv">
    <div class="col-md-12 mx-auto">
        <form [formGroup]="createjobform" (ngSubmit)="preparetosavefreelanceonservice()">
            <div class="card-header bg-white">
                <h3 color="#0a382b">Create a Job for {{name}}</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <label><b>Job Location</b> </label>
                            <span>
                                <i class="fa fa-address-book form-control-icon"></i>
                            </span>
                            <input type="text" formControlName="joblocation" rows="4" class="form-control" readonly
                                id="input4">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-8">
                            <label><b>Total Hours Of Work</b>&nbsp;
                            </label>
                            <span>
                                <i class="fa fa-clock-o form-control-icon"></i>
                            </span>
                            <input type="url" formControlName="totalhoursofjob" class="form-control"
                                (change)="addHoursToJobStartDateAndMinMaxAmount ($event)" id="input3"
                                placeholder="Enter hours of work "
                                [ngClass]="{ 'is-invalid': issubmit && f.totalhoursofjob.errors }" />
                            <div *ngIf="issubmit && f.totalhoursofjob.errors" class="invalid-feedback">
                                <div *ngIf="f.totalhoursofjob.errors.required">Total hours of job is
                                    required
                                </div>
                                <div *ngIf="f.totalhoursofjob.errors.min">Can't be Zero.
                                </div>
                                <div *ngIf="f.totalhoursofjob.errors.maxlength">Total hours of job cant
                                    exceed
                                    2
                                    digits</div>
                                <div *ngIf="f.totalhoursofjob.errors.pattern">Must be digit only
                                </div>
                            </div>
                            <small>
                                By entering this value, we estimate the job end date.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-3">
                            <label><b>Job Start Date</b>&nbsp;
                            </label>
                            <span>
                                <i class="fa fa-calendar   form-control-icon"></i>
                            </span>
                            <input formControlName="jobstartedon" class="form-control" readonly>
                            <small>
                                <i>(yyyy-mm-dd hh:mm)</i>
                                <p>
                                    Job start time is default to  <span class="btn-warning">10:00 am</span>
                                </p>
                            </small>
                        </div>
                        <div class="col-md-5">
                            <label><b>Job End Date</b>&nbsp;
                            </label>
                            <span>
                                <i class="fa fa-calendar form-control-icon"></i>
                            </span>
                            <input readonly formControlName="jobendedon" class="form-control">
                            <small *ngIf="enddatevalue != null">
                                <i>(yyyy-mm-dd hh:mm)</i>
                                <p>
                                    Our auto estimated job end date & time : <span
                                        class="btn-warning">{{this.commonlogic.getIndianDateFormat(enddatevalue)}}</span>
                                </p>
                                <p>
                                    We add an additional one hour buffer time to the job end date and time.
                                    (Incase the skilled worker has a trouble to reach at the job location.)
                                </p>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-8">
                            <label> <b> Enter amount </b></label>&nbsp;
                            <span>
                                <i class="fa fa-inr form-control-icon"></i>
                            </span>
                            <input formControlName="amount" type="url" class="form-control" id="input3"
                                placeholder="Enter amount for the work"
                                [ngClass]="{ 'is-invalid': issubmit && f.amount.errors }" />
                            <div *ngIf="issubmit && f.amount.errors" class="invalid-feedback">
                                <div *ngIf="f.amount.errors.required">Amount is
                                    required
                                </div>
                                <div *ngIf="f.amount.errors.pattern">Must be digit only
                                </div>
                            </div>
                            <p *ngIf=" avgHourlyRate != null">
                                <small *ngIf="avgHourlyRate != maxHourlyRateCal">As per our auto estimator system, the
                                    amount must in between [{{avgHourlyRate | currency:"INR₹"}} and
                                    {{maxHourlyRateCal | currency:"INR₹"}}]
                                    <p>
                                        Estimate rates is based on the total hours entered. (i.e for {{totalhoursofjob}}
                                        hours only).
                                    </p>
                                </small>
                                <small *ngIf="avgHourlyRate == maxHourlyRateCal">
                                    As per our auto estimator system, the amount can be or more than
                                    [{{avgHourlyRate | currency:"INR₹"}}]
                                    <p>
                                        Estimate rates is based on the total hours entered. (i.e for
                                        {{totalhoursofjob }}
                                        hours only).
                                    </p>
                                </small>
                            </p>
                        </div>
                        <div class="col-md-8">
                            <label><b> Job Description </b></label>
                            <span>
                                <i class="fa fa-at form-control-icon"></i>
                            </span>
                            <textarea class="form-control" formControlName="jobdescription" rows="5" id="input5"
                                placeholder="Enter Job Description"
                                [ngClass]="{ 'is-invalid': issubmit && f.jobdescription.errors }"></textarea>
                            <div *ngIf="issubmit && f.jobdescription.errors" class="invalid-feedback">
                                <div *ngIf="f.jobdescription.errors.required">Job description is
                                    required
                                </div>
                                <div *ngIf="f.jobdescription.errors.pattern">No special character allowed.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" formControlName="acceptjobterms"
                        [ngStyle]="{'outline':(issubmit && f.acceptjobterms.errors) ? 'red auto 1px' : '' }"
                        [ngClass]="{ 'is-invalid': issubmit && f.acceptjobterms.errors }">
                    <small>
                        <label class="form-check-label" for="exampleCheck1">{{'HOMESIGNUP.SIGNUP_TERM_AGREE_LABEL' |
                        translate}}
                            <a href={{signupComponent.termsofservice}} target="_blank">{{'HOMESIGNUP.SIGNUP_TERMOFSERVICE' |
                            translate}} </a> &
                            <a href={{signupComponent.privacypolicy}} target="_blank">{{'HOMESIGNUP.SIGNUP_PRIVACYPOLICY' |
                            translate}}</a></label>
                    </small>
                    <div *ngIf="issubmit && f.acceptjobterms.errors" class="invalid-feedback">
                        <div *ngIf="f.acceptjobterms.errors.required">
                            {{'HOMESIGNUP.SIGNUP_VALIDATION_TERMS_POLICYCHECKBOX_REQ' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-none">
                <div class="row">
                    <div class="col-4">
                        <button type="button" (click)="backToSearch();" class="btn btn-secondary">Back
                        </button>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- /form card register -->
    </div>
</div>