<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<div class="container" *ngIf="!iscreatejobdiv">
    <div class=" row">
        <div class="col-md-11">
            <h5 class=" section-title h2" *ngIf="userFUObjList.length > 1 && !issearchbydate;">
                <p>Below are the {{name}}'s all over the locations.
                </p>
            </h5>
            <h5 class=" section-title h2" *ngIf="userFUObjList.length == 1 && issearchbydate &&
            this.searchform.get('fulladdress').value.length > 0;">
                Available {{name}} at <b> : </b>
                {{this.searchform.get('fulladdress').value}}
            </h5>
            <h5 class="section-title h2" *ngIf="userFUObjList.length > 1 && issearchbydate && 
                this.searchform.get('fulladdress').value.length > 0;">
                Available {{name}}'s at
                <b> : </b>{{this.searchform.get('fulladdress').value}}
            </h5>
        </div>

    </div>
    <div class="row">
        <div class="col-md-9">
            <i>To Create a Job for {{name}} 'Select Job Start Date & Job Location'</i>
        </div>
    </div>
    <div class="row">
        <form [formGroup]="searchform" (ngSubmit)="searchByFilterFreelancer()">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <span>
                        <i class="fa fa-briefcase form-control-icon"></i>
                    </span>
                    <input readonly [owlDateTime]="dt1" formControlName="startdate" [min]="startDate"
                        [owlDateTimeTrigger]="dt1" class="form-control" placeholder="Select the Job Start Date"
                        [ngClass]="{ 'is-invalid': issubmit && s.startdate.errors }">
                    <div *ngIf="issubmit && s.startdate.errors" class="invalid-feedback">
                        <div *ngIf="s.startdate.errors.required">Start Date is required
                        </div>
                    </div>
                    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                </div>
                <div class="form-group col-md-4">
                    <span>
                        <i class="fa fa-address-book form-control-icon"></i>
                    </span>
                    <input formControlName="fulladdress" placeholder="Enter Job Location" autocorrect="off"
                        autocomplete="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
                        #search [ngClass]="{ 'is-invalid': issubmit && s.fulladdress.errors }">
                    <div *ngIf="issubmit && s.fulladdress.errors" class="invalid-feedback">
                        <div *ngIf="s.fulladdress.errors.required">Address is required
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="submit" class="btn btn-primary" value="Search" />
                </div>
                <div class="col-md-2" *ngIf="issearchbydate && userFUObjList.length > 0 && 
                            this.userService.currentUserValue.userroles.rolecode === 'CLIENT_BUSINESS_ADMINISTRATOR'">
                    <a (click)="openCreateJobInterface()" class="btn btn-warning"><i class="fa fa-plus"></i>
                        Create a Job Now</a>
                </div>

            </div>
        </form>
    </div>
</div>
<div class="row" *ngIf="userFUObjList.length > 0 && iscreatejobdiv">
    <div class="col-md-8 mx-auto">
        <!-- form card register -->
        <form [formGroup]="createjobform" (ngSubmit)="preparetosavefreelanceonservice()">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Create a Job for {{name}}</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <p>Job Location </p>
                            </div>
                            <div class="form-group col-md-8">
                                <span>
                                    <i class="fa fa-address-book form-control-icon"></i>
                                </span>
                                <textarea formControlName="joblocation" class="form-control" readonly id="input4"
                                    placeholder="Job Location"> </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <p>Total Hours Of Work
                                    <i class="fa fa-question-circle"
                                        title="Enter hours of work will calcuate the job end date automatically"
                                        style="font-size:10px;color:rgb(76, 0, 255)"></i>
                                </p>
                            </div>
                            <div class="form-group col-md-8">
                                <span>
                                    <i class="fa fa-clock-o form-control-icon"></i>
                                </span>
                                <input type="url" formControlName="totalhoursofjob" class="form-control"
                                    (change)="addHoursToJobStartDateAndMinMaxAmount ($event)" id="input3"
                                    placeholder="Enter hours of work "
                                    [ngClass]="{ 'is-invalid': issubmit && f.totalhoursofjob.errors }" />
                                <div *ngIf="issubmit && f.totalhoursofjob.errors" class="invalid-feedback">
                                    <div *ngIf="f.totalhoursofjob.errors.required">Total hours of job is
                                        required
                                    </div>
                                    <div *ngIf="f.totalhoursofjob.errors.min">Can't be Zero.
                                    </div>
                                    <div *ngIf="f.totalhoursofjob.errors.maxlength">Total hours of job cant
                                        exceed
                                        2
                                        digits</div>
                                    <div *ngIf="f.totalhoursofjob.errors.pattern">Must be digit only
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <p>Job Start Date
                                    <i class="fa fa-question-circle" title="We setup the time at 10:00 AM"
                                        style="font-size:10px;color:rgb(76, 0, 255)"></i>
                                </p>
                            </div>
                            <div class="form-group col-md-8">
                                <span>
                                    <i class="fa fa-calendar   form-control-icon"></i>
                                </span>
                                <input formControlName="jobstartedon" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <p>Job End Date
                                    <i class="fa fa-question-circle"
                                        title="The end date auto generated based on the hours of work "
                                        style="font-size:10px;color:rgb(76, 0, 255)"></i>
                                </p>
                            </div>
                            <div class="form-group col-md-8">
                                <span>
                                    <i class="fa fa-calendar   form-control-icon"></i>
                                </span>
                                <input readonly formControlName="jobendedon" class="form-control">
                                <p *ngIf="enddatevalue != null">
                                    Our auto estimated end date & time : {{enddatevalue}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                Enter price your estimating
                            </div>
                            <div class="form-group col-md-8">
                                <span>
                                    <i class="fa fa-clock-o form-control-icon"></i>
                                </span>
                                <input formControlName="amount" type="url" class="form-control" id="input3"
                                    placeholder="Enter price for the work "
                                    [ngClass]="{ 'is-invalid': issubmit && f.amount.errors }" />
                                <div *ngIf="issubmit && f.amount.errors" class="invalid-feedback">
                                    <div *ngIf="f.amount.errors.required">Amount is
                                        required
                                    </div>
                                    <div *ngIf="f.amount.errors.pattern">Must be digit only
                                    </div>
                                </div>
                                <p *ngIf=" avgHourlyRate != null">
                                    Our auto estimated quote of amount between {{avgHourlyRate}} and
                                    {{maxHourlyRateCal}}
                                    <i class="fa fa-question-circle"
                                        title="We calcuate estimated rates based on the hours of the work entered"
                                        style="font-size:10px;color:rgb(76, 0, 255)"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                Job Description
                            </div>
                            <div class="form-group col-md-8">
                                <span>
                                    <i class="fa fa-at form-control-icon"></i>
                                </span>
                                <textarea class="form-control" formControlName="jobdescription" id="input5"
                                    placeholder="Enter Job Description"
                                    [ngClass]="{ 'is-invalid': issubmit && f.jobdescription.errors }"></textarea>
                                <div *ngIf="issubmit && f.jobdescription.errors" class="invalid-feedback">
                                    <div *ngIf="f.jobdescription.errors.required">Job description is
                                        required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-3">
                            <button type="button" (click)="backToSearch();"
                                class="btn btn-warning btn-lg float-right">Back
                                To Search</button>
                        </div>
                        <div class="col-md-9">
                            <button type="submit" class="btn btn-success btn-lg float-right">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- /form card register -->
    </div>
</div>
<hr>
<div class="row justify-content-center mt-3 mb-2">
    <div class="col-auto">
        <nav class="nav btn-group">
            <a href="#cardview" class="btn btn-outline-primary active"
                *ngIf="userFUObjList.length > 0 && timelaps && !iscreatejobdiv && issearchbydate" data-toggle="tab">Card
                View</a>
            <a href="#mapview" class="btn btn-outline-primary"
                *ngIf="userFUObjList.length > 0 && timelaps && !iscreatejobdiv && issearchbydate" data-toggle="tab"> Map
                View</a>
        </nav>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane fade show active" *ngIf="userFUObjList.length > 0 && timelaps && !iscreatejobdiv"
        id="cardview">
        <!-- Freelance Search Section -->
        <section id="team" class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let fuuser of userFUObjList">
                        <div class="card">
                            <div class="card-header">
                                <span class="fa fa-star" *ngFor="let i of fuuser.starRate"></span>
                                <small *ngIf="fuuser.starRate !== null">/ out of 5</small>
                            </div>
                            <div class="card-body flex-column h-100 text-center">
                                <p><img class="card-img-top img-fluid " src="{{fuuser.avtarurl}}" alt="card image">
                                </p>
                                <h4 *ngIf="this.userService.currentUserValue.userroles.rolecode === 'CLIENT_BUSINESS_ADMINISTRATOR'"
                                    class="card-title">{{fuuser.fullname}}</h4>
                                <h4 *ngIf="this.userService.currentUserValue.userroles.rolecode === 'CORE_SERVICE_SUPPORT_TEAM' || this.userService.currentUserValue.userroles.rolecode === 'CORE_SERVICE_SUPPORT_MANAGER'"
                                    class="card-title">
                                    <a href="javascript: return false;"
                                        (click)='this.manageuserComponent.openViewAccountDetailsModal(fuuser.userId)'>
                                        {{fuuser.fullname}}
                                    </a>
                                </h4>
                                <hr>
                                <p class="card-text">{{fuuser.shortaddress}}</p>
                                <p *ngIf="this.userService.currentUserValue.userroles.rolecode === 'CORE_SERVICE_SUPPORT_TEAM' || this.userService.currentUserValue.userroles.rolecode === 'CORE_SERVICE_SUPPORT_MANAGER'"
                                    class="card-text">{{fuuser.username}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class=" tab-pane fade" *ngIf="userFUObjList.length > 0 && timelaps && !iscreatejobdiv && issearchbydate"
        id="mapview">
        <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
                <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng"
                    [label]="m.label" [markerDraggable]="m.draggable">

                    <agm-info-window>
                        <div class="card" style="width:240px">
                            <img class="card-img-top" src={{m.avtarurl}} alt="card image">
                            <div class="card-body text-center">
                                <h3 class="card-title">{{m.label}}</h3>
                                <p class="card-text">{{m.shortaddress}}</p>
                            </div>
                        </div>
                    </agm-info-window>
                </agm-marker>
                <agm-circle [latitude]="lat" [longitude]="lng" [radius]="10000" [fillColor]="'red'"
                    [circleDraggable]="false" [editable]="false">
                </agm-circle>
            </agm-map>
        </div>
    </div>
</div>
<!-- Freelancer Search Section Ended -->
<div *ngIf="userFUObjList.length == 0 && timelaps && this.searchform.get('fulladdress').value.length > 0">
    <h3> No {{name}} Found near the address {{this.searchform.get('fulladdress').value}}</h3>
</div>
<div *ngIf="userFUObjList.length == 0 && !timelaps && this.searchform.get('fulladdress').value.length === 0">
    <h3> Currently all our {{name}}'s are busy at work. Try search by job date and job location address</h3>
</div>