<div class="container">
    <h4>Service Details</h4>
    <hr>
    <div class="row" *ngIf="userservicedetails.length > 0">
       
     <div class="col-md-12">
        <table class="table table-bordered table-hover table-sm table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Service Start Date</th>
                    <th>Service End Date</th>
                    <th>Status</th>
                    <th>Valid Period</th>
                    <th>Valid Days</th>
                    <th>Transction Id</th>
                    <th>Job Details</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usrvdetails of userservicedetails">
                    <td>{{usrvdetails.name}}</td>
                    <td>{{usrvdetails.servicestarton}}</td>
                    <td>{{usrvdetails.servicestarton}}</td>
                    <td>{{usrvdetails.status}}</td>
                    <td>{{usrvdetails.validPeriodLabel}}</td>
                    <td>{{usrvdetails.validdays}}</td>
                    <td><a [routerLink]="['/payment',usrvdetails.txnid]">{{usrvdetails.txnid}}</a></td>
                    <td *ngIf="usrvdetails.category ==='FS_S'"></td>
                    <td *ngIf="usrvdetails.category != 'FS_S'">N/A</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="row" *ngIf="userservicedetails.length == 0">
        No Services found
    </div>
</div>