<div class="container-fluid">
    <h4> {{ 'PAYMENTHIST.PAYMENTHIST_HEADER' | translate }}</h4>
    <hr>
    <div class="mt-md-4"></div>
    <input type="text" id="myInput" onkeyup="paymentHistoryTableSearch()"
        placeholder="{{ 'PAYMENTHIST.PAYMENTHIST_SEARCH' | translate }}">
    <div class="mt-md-4"></div>
    <div class="row ">
        <div class="col-md-12 col-sm-12 table-responsive " *ngIf="paymentdetails != null">
            <small>
                <table id="myTable" class="table  table-hover table-bordered table-md table-striped">
                    <thead>
                        <tr>
                            <th> {{ 'PAYMENTHIST.PAYMENTHIST_TRAN_NUMBER' | translate }} </th>
                            <th>{{ 'PAYMENTHIST.PAYMENTHIST_TRAN_DATE' | translate }}</th>
                            <th *ngIf="userService.currentUserValue.userroles.rolecode === 'CLIENT_BUSINESS_ADMINISTRATOR' ||
                        userService.currentUserValue.userroles.rolecode === 'FREELANCER_USER'">
                                {{ 'PAYMENTHIST.PAYMENTHIST_STATUS' | translate }}</th>
                            <th>{{ 'PAYMENTHIST.PAYMENTHIST_AMOUNT' | translate }}</th>
                            <th>{{ 'PAYMENTHIST.PAYMENTHIST_NOTES' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{paymentdetails.txnid}}</td>
                            <td>
                                {{paymentdetails.createdon}}

                            </td>
                            <td
                                *ngIf="userService.currentUserValue.userroles.rolecode === 'CLIENT_BUSINESS_ADMINISTRATOR'">
                                {{paymentdetails.paymentsCBATrans.status}}</td>
                            <td *ngIf="userService.currentUserValue.userroles.rolecode === 'FREELANCER_USER'">
                                {{paymentdetails.paymentsFUTrans.status}}</td>
                            <td>{{paymentdetails.amount | currency:"INR₹"}}</td>
                            <td>
                                {{paymentdetails.productinfo | slice:0:30}}
                                <i class="fa fa-forward" *ngIf="paymentdetails.productinfo.length > 30 "
                                    title="{{paymentdetails.productinfo}}"> </i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </small>
        </div>
    </div>
    <div class="row table-responsive">
        <div class="col-md-12 col-sm-12" *ngIf="fupaymenthistorydetails.length > 0 ">
            <small>
                <table id="myTable" class="table table-bordered table-hover table-md table-striped">
                    <thead>
                        <tr>
                            <th> {{ 'PAYMENTHIST.PAYMENTHIST_TRAN_NUMBER' | translate }}</th>
                            <th>{{ 'PAYMENTHIST.PAYMENTHIST_TRAN_DATE' | translate }}</th>
                            <th>{{ 'PAYMENTHIST.PAYMENTHIST_STATUS' | translate }}</th>
                            <th>{{ 'PAYMENTHIST.PAYMENTHIST_AMOUNT' | translate }}</th>
                            <th>{{ 'PAYMENTHIST.PAYMENTHIST_NOTES' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let fupayments of fupaymenthistorydetails">
                        <tr>
                            <td>{{fupayments.txnid}}</td>
                            <td>
                                {{fupayments.createdon}}
                            </td>
                            <td>{{fupayments.status}}</td>
                            <td>{{fupayments.amount | currency:"INR₹"}}</td>
                            <td>
                                {{fupayments.productinfo | slice:0:30}}
                                <i class="fa fa-forward" *ngIf="fupayments.productinfo.length > 30 "
                                    title="{{fupayments.productinfo}}"> </i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </small>
        </div>
        <div class="alert alert-success alert-dismissible fade show w-100" role="alert"
            *ngIf="this.ispaymentdetailFUempty">
            <h5 class="display-5">
                There is no payment history details.
            </h5>
        </div>
    </div>
    <div class="row ">
        <div class=" col-md-12 col-sm-12 table-responsive"
            *ngIf="cbapaymenthistorydetails.length >0  && paymentdetails == null">
            <small>
                <table id="myTable" class="table table-hover table-bordered table-md table-striped">
                    <thead>
                        <tr>
                            <th> {{ 'PAYMENTHIST.PAYMENTHIST_TRAN_NUMBER' | translate }}</th>
                            <th>{{ 'PAYMENTHIST.PAYMENTHIST_TRAN_DATE' | translate }}</th>
                            <th>{{ 'PAYMENTHIST.PAYMENTHIST_STATUS' | translate }}</th>
                            <th>{{ 'PAYMENTHIST.PAYMENTHIST_AMOUNT' | translate }}</th>
                            <th>{{ 'PAYMENTHIST.PAYMENTHIST_NOTES' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let cbupayments of cbapaymenthistorydetails">
                        <tr>
                            <td>{{cbupayments.txnid}}</td>
                            <td>
                                {{cbupayments.createdon}}
                            </td>
                            <td>{{cbupayments.status}}</td>
                            <td>{{cbupayments.amount | currency:"₹"}}</td>
                            <td>
                                {{cbupayments.productinfo | slice:0:30}}
                                <i class="fa fa-forward" *ngIf="cbupayments.productinfo.length > 30 "
                                    title="{{cbupayments.productinfo}}"> </i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </small>
        </div>
        <div class="alert alert-success alert-dismissible fade show w-100" role="alert"
            *ngIf="this.ispaymentdetailCBUempty">
            <h5 class="display-5">
                There is no payment history details.
            </h5>
        </div>
    </div>
</div>