<div id="section-1">
  <br><br><br>
<div class="container">
<div class="row">
 
  <div class="col  wow fadeIn">
    <h2 align="center">{{ 'HOMEWHATWEDO.ABOUTUS' | translate }}</h2>
    <div class="divider-1 wow fadeInUp text-center"><span></span></div>
  </div>
</div>

    <!-- <div class="container">
  <div class="card" >
    <h3 class="title">{{ 'HOMEWHATWEDO.WHOWEARE' | translate }}</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="text">
      <p>{{ 'HOMEWHATWEDO.WHOWEARE_DETAILS' | translate }}</p>
    </div>
  </div>

  <div class="card">
    <h3 class="title">{{ 'HOMEWHATWEDO.WHATWEDO' | translate }}</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="text">
      <p>{{ 'HOMEWHATWEDO.WHATWEDO_DETAILS' | translate }}</p>
    </div>
  </div>


  <div class="card">
    <h3 class="title">{{ 'HOMEWHATWEDO.HOWDOWEGETITDONE' | translate }}</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="text">
      <p>{{ 'HOMEWHATWEDO.HOWDOWEGETITDONE_DETAILS' | translate }}</p>
    </div>
  </div>

  <div class="card">
    <h3 class="title">{{ 'HOMEWHATWEDO.WHOITHELPS' | translate }}</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="text">
      <p>{{ 'HOMEWHATWEDO.WHOITHELPS_DETAILS' | translate }}</p>
    </div>
  </div>
</div> -->
<!--  -->


  <div class="row">
    <div class="col-sm-3 text-center">
      <!-- <div class="card">
        <div class="card-body"> -->
          <div class="mb-20">
          <i class="fa fa-user"></i>
          <h5 class="card-title">{{ 'HOMEWHATWEDO.WHOWEARE' | translate }}</h5>
          <p class="card-text text-justify">{{ 'HOMEWHATWEDO.WHOWEARE_DETAILS' | translate }}</p>
          </div>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        <!-- </div>
      </div> -->
    </div>
    <div class="col-sm-3 text-center">
      <!-- <div class="card">
        <div class="card-body"> -->
          <div class="mb-20">
          <!-- <i class="fa fa-tint"></i> -->
          <!-- <i class="bi bi-graph-up"></i> -->
          <svg xmlns="http://www.w3.org/2000/svg" width="42" height="50" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z"/>
          </svg>
          <h5 class="card-title">{{ 'HOMEWHATWEDO.WHATWEDO' | translate }}</h5>
          <p class="card-text text-justify">{{ 'HOMEWHATWEDO.WHATWEDO_DETAILS' | translate }}</p>
          </div>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        <!-- </div>
      </div> -->
    </div>
    <div class="col-sm-3 text-center">
      <!-- <div class="card">
        <div class="card-body"> -->
          <div class="mb-20">
          <i class="fa fa-male"></i>
          <h5 class="card-title">{{ 'HOMEWHATWEDO.HOWDOWEGETITDONE' | translate }}</h5>
          <p class="card-text text-justify">{{ 'HOMEWHATWEDO.HOWDOWEGETITDONE_DETAILS' | translate }}</p>
          </div>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        <!-- </div>
      </div> -->
    </div>

    <div class="col-sm-3 text-center">
      <!-- <div class="card">
        <div class="card-body"> -->
          <div class="mb-20">
          <!-- <i class="fa fa-gittip"></i> -->
          <svg xmlns="http://www.w3.org/2000/svg" width="42" height="50" fill="currentColor" class="bi bi-diagram-3" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5v-1zM8.5 5a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1zM0 11.5A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
          </svg>
          <h5 class="card-title">{{ 'HOMEWHATWEDO.WHOITHELPS' | translate }}</h5>
          <p class="card-text text-justify">{{ 'HOMEWHATWEDO.WHOITHELPS_DETAILS' | translate }}</p>
          </div>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        <!-- </div>
      </div> -->
    </div>
   
  </div>

  <br>
  <br>
</div>
</div>