<div class="container">
    <h4> {{ 'DASHOARD_FU_MENU.SUMMARY' | translate }}</h4>
    <hr>
    <br>
    <div class="row placeholders justify-content-between">
        <div class="col-6 col-sm-1 placeholder text-center">
            <!-- <img src="{{stage1Img}}" class="mx-auto img-fluid rounded-circle"> -->
            <i class="fa fa-address-card-o  rounded-circle"></i>
            <a routerLink='/vieworeditprofile/{{userService.currentUserValue.userId}}'
                *ngIf="!userService.currentUserValue.freeLanceDetails.isprofilecompleted; else elseFU">
                <p style="color: #ff4949"><small><b>
                    <u>
                    {{ 'DASHBOARD_FU_BODY.FILLOUTPROFILE' | translate }}
                </u></b></small></p>
            </a>
            <ng-template #elseFU>
                <p align="center"><small>
                        <b>
                            {{ 'DASHBOARD_FU_BODY.PROFILEEUPDATE' | translate }}
                        </b>
                    </small></p>
            </ng-template>

        </div>
        <div class="stepConectorPiece"
            [ngStyle]="{'background': userService.currentUserValue.freeLanceDetails.isprofilecompleted ? 'green':'lightgrey'}">
        </div>
        <div class="col-6 col-sm-1 placeholder text-center">
            <!-- <img src="{{stage2Img}}" class="mx-auto img-fluid rounded-circle" alt="Generic placeholder thumbnail"> -->
            <i class="fa fa-credit-card-alt rounded-circle"></i>
            <p align="center" *ngIf="!userService.currentUserValue.freeLanceDetails.isregfeedone && istimelap && 
            userService.currentUserValue.freeLanceDetails.isprofilecompleted">
                <a href=" javascript: return false;" (click)="openPaymentComponent()">
                    <small>
                        <b>
                            {{ 'DASHBOARD_FU_BODY.PAYMENT' | translate }}
                            {{referenceobj[0].label}}
                        </b>
                    </small>
                </a>
            </p>
            <p align="center" *ngIf=" istimelap &&  !userService.currentUserValue.freeLanceDetails.isprofilecompleted">
                <small>
                    <b>
                        {{ 'DASHBOARD_FU_BODY.PAYMENT' | translate }}
                        {{referenceobj[0].label}}
                    </b>
                </small>
            </p>
            <p align="center" *ngIf="userService.currentUserValue.freeLanceDetails.isregfeedone">
                <small><b> {{ 'DASHBOARD_FU_BODY.PAYMENTCOMPLETED' | translate }}</b></small>
            </p>

        </div>

        <div class="stepConectorPiece"
            [ngStyle]="{'background': userService.currentUserValue.freeLanceDetails.isregfeedone ? 'green':'lightgrey'}">
        </div>
        <div class="col-6 col-sm-2 placeholder text-center">
            <!-- <img src="{{stage3Img}}" class="mx-auto img-fluid rounded-circle" alt="Generic placeholder thumbnail"> -->
            <i class="fa fa-street-view rounded-circle"></i>
            <p align="center"><small><b>{{ 'DASHBOARD_FU_BODY.BGVERIFICATIONINITIATED' | translate }}</b></small></p>

        </div>
        <div class="stepConectorPiece"
            [ngStyle]="{'background': userService.currentUserValue.freeLanceDetails.isbgstarted ? 'green':'lightgrey'}">
        </div>
        <div class="col-6 col-sm-2 placeholder text-center">
            <!-- <img src="{{stage4Img}}" class="mx-auto img-fluid rounded-circle"
                alt="Background Verification is In Progress"> -->
            <i class="fa fa-hourglass-start rounded-circle"></i>
            <p align="center"><small><b>{{ 'DASHBOARD_FU_BODY.BGVERFIFICATIONINPROGRESS' | translate }}</b></small></p>

        </div>
        <div class="stepConectorPiece"
            [ngStyle]="{'background': userService.currentUserValue.freeLanceDetails.isbgdone ? 'green':'lightgrey'}">
        </div>
        <div class="col-6 col-sm-2 placeholder text-center">
            <!-- <img src="{{stage5Img}}" class="mx-auto img-fluid rounded-circle" alt="Final Result"> -->
            <i class="fa fa fa-hand-paper-o rounded-circle"></i>
            <p align="center"><small><b>{{ 'DASHBOARD_FU_BODY.BGVERFIFICATIONFINALRESULTS' | translate }}</b></small>
            </p>

        </div>
    </div>
    <div *ngIf="this.userService.currentUserValue.freeLanceDetails.isregfeedone && 
        this.userService.currentUserValue.freeLanceDetails.bgcurrentstatus == 'BG_APPROVED' ">
        <div class="row">

            <div class="col-sm-2"></div>
            <div class="col-sm-6 col-lg-4 mb-3 text-center" *ngFor="let card of infoCards, index as i">
                <!-- <i class="fa fa-user text-center rounded-circle"></i> -->
                <br>
                <div class="" [ngClass]="i==0 ? 'bg-customupcoming card' : 'bg-custom card' "
                    style="padding-left: 27px;padding-top: 27px;color: white;">

                    <span style="color: white;">
                        <p class="pull-center"><b>{{ card.name }}</b>
                        </p>
                        <span class="pull-center">
                            <h3 style="color: white;"><i class="fa fa-inr" *ngIf="card.value > 0"
                                    style="color:lightgreen;"></i>
                                <i *ngIf="card.value == 0" class="fa fa-inr " style="color:orange;"></i>
                                <b>{{ card.value | number}}</b>
                                <i class="fa fa-info-circle " *ngIf="i==0"
                                    title="{{ 'DASHBOARD_FU_BODY.UPCOMINGTOOLTIP' | translate }}"
                                    style="font-size:10px;color:brown"></i>
                            </h3>
                        </span>
                    </span>
                    <p style="color: black;"><small>{{ 'DASHBOARD_FU_BODY.LASTUPDATED' | translate }} {{indiaTime}} {{
                            'DASHBOARD_FU_BODY.MINSAGO' | translate }}</small></p>
                </div>
            </div>
            <br>
        </div>
        <br>
        <div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="collapseFUNewJobs-tab" data-toggle="tab" href="#collapseFUNewJobs"
                        role="tab" aria-controls="collapseFUNewJobs" aria-selected="true">
                        <i class="fa fa-map-marker fatab"></i>
                        <br><b>
                            {{ 'DASHBOARD_FU_BODY.UPCOMINGJOBS' | translate }}
                        </b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="collapseFUUpcomingJobs-tab" data-toggle="tab" href="#collapseFUUpcomingJobs"
                        role="tab" aria-controls="collapseFUUpcomingJobs" aria-selected="false">
                        <i class="fa fa-podcast fatab"></i><br><b> {{ 'DASHBOARD_FU_BODY.NEWJOBS' | translate }}</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="collapseCompletedJobs-tab" data-toggle="tab" href="#collapseCompletedJobs"
                        role="tab" aria-controls="collapseCompletedJobs" aria-selected="false">
                        <i class="fa fa-road fatab"></i>
                        <br><b>{{ 'DASHBOARD_FU_BODY.COMPLETEDJOBS' | translate }}</b></a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="collapseFUNewJobs" role="tabpanel"
                    aria-labelledby="collapseFUNewJobs-tab">
                    <br>
                    <div class="row" *ngIf="upcomingJobList.length > 0">
                        <div class="col-lg-4 mb-3 mb-md-0" style="margin-bottom:8px !important"
                            *ngFor="let element of upcomingJobList">
                            <div class="card card-flip h-100 ">
                                <div class="card-header text-white bg-secondary">
                                    <p> <b>{{ 'DASHBOARD_FU_BODY.JOB' | translate }}#{{element.jobId}} </b>
                                        <button class="pull-right" (click)="cancel(element.jobId)"
                                            style="font-size:14px">{{ 'DASHBOARD_FU_BODY.CANCELJOBBUTTON' | translate }}
                                            <i class="fa fa-remove"></i></button>
                                    </p>
                                    <span class="display-4">
                                        <i class="fa fa-inr">{{element.tofreelanceamount | number}}</i></span>
                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.STARTON' | translate }} </b>
                                            {{element.jobstartedon}}
                                        </small>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.ENDON' | translate }} </b> {{element.jobendedon}}
                                        </small>
                                    </p>
                                    <p *ngIf="element.freelanceuserId > 0">
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.ACCEPTEDON' | translate }}
                                            </b>{{element.jobaccepteddate}}
                                        </small>
                                    </p>
                                </div>
                                <div class="card-body">
                                    <i class="fa fa-briefcase fa-3x float-right"></i>
                                    <h2> <b>{{ 'DASHBOARD_FU_BODY.JOBDETAILS' | translate }} </b> </h2>
                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.CLIENTNAME' | translate }} </b> {{element.bizname}}
                                        </small>
                                    </p>
                                    <p>
                                        <small class="pull-left">
                                            <b> {{ 'DASHBOARD_FU_BODY.JOBLOCATION' | translate }} </b>
                                            {{element.joblocation}}
                                        </small>
                                    </p>
                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.PHONENO' | translate }} </b> {{element.cbaphoneno}}
                                        </small>
                                    </p>
                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.JOBDESCPTION' | translate }} </b>
                                            {{element.jobdescription}}
                                        </small>
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <small class="text-muted ">
                                            <p class="text-danger">
                                                {{ 'DASHBOARD_FU_BODY.CANCELNOTE1' | translate }} <b><u>
                                                        {{ 'DASHBOARD_FU_BODY.CANCELNOTE2' | translate }} </u></b>
                                            </p>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  class="row" *ngIf="upcomingJobList.length == 0">
                        <p class="pull-center"><small><b>{{ 'DASHBOARD_FU_BODY.NO_UPCOMING_MSG' | translate }} </b> </small></p>
                    </div>
                </div>
                <div class="tab-pane fade" id="collapseFUUpcomingJobs" role="tabpanel"
                    aria-labelledby="collapseFUUpcomingJobs-tab">
                    <br> <br>
                    <div class="row" *ngIf="newJobList.length > 0" >
                        <div class="col-sm-4 mb-3 mb-md-0" style="margin-bottom:8px !important"
                            *ngFor="let element of newJobList">
                            <div class="card card-flip h-100 ">
                                <div class="card-header text-white bg-secondary">
                                    <p> <b>{{ 'DASHBOARD_FU_BODY.JOB' | translate }}#{{element.jobId}} </b>
                                        <button class="bg-success pull-right" (click)="accept(element.jobId)"
                                            style="font-size:14px">{{ 'DASHBOARD_FU_BODY.ACCEPTJOBBUTTON' | translate }}
                                            <i class="fa fa-play"></i></button>
                                    </p>
                                    <span class="display-4">
                                        <i class="fa fa-inr">{{element.tofreelanceamount | number}}</i></span>
                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.STARTON' | translate }} </b>
                                            {{element.jobstartedon}}
                                        </small>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.ENDON' | translate }} </b> {{element.jobendedon}}
                                        </small>
                                    </p>
                                </div>
                                <div class="card-body">
                                    <i class="fa fa-briefcase fa-3x float-right"></i>
                                    <h2> <b>{{ 'DASHBOARD_FU_BODY.JOBDETAILS' | translate }} </b> </h2>
                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.CLIENTNAME' | translate }} </b> {{element.bizname}}
                                        </small>
                                    </p>
                                    <p>
                                        <small class="pull-left">
                                            <b> {{ 'DASHBOARD_FU_BODY.JOBLOCATION' | translate }} </b>
                                            {{element.joblocation}}
                                        </small>
                                    </p>
                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.PHONENO' | translate }} </b> {{element.cbaphoneno}}
                                        </small>
                                    </p>
                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.JOBDESCPTION' | translate }} </b>
                                            {{element.jobdescription}}
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  class="row" *ngIf="newJobList.length == 0">
                        <p class="pull-center"><small><b>{{ 'DASHBOARD_FU_BODY.NO_NEWJOB_MSG' | translate }} </b> </small></p>
                    </div>
                </div>
                <div class="tab-pane fade" id="collapseCompletedJobs" role="tabpanel"
                    aria-labelledby="collapseCompletedJobs-tab">
                    <br> <br>
                    <div class="row"  *ngIf="completedJobList.length > 0">
                        <div class="col-sm-4 mb-3 mb-md-0" style="margin-bottom:8px !important"
                            *ngFor="let element of completedJobList">
                            <div class="card card-flip h-100 ">
                                <div class="card-header text-white bg-secondary">
                                    <p> <b>{{ 'DASHBOARD_FU_BODY.JOB' | translate }}#{{element.jobId}} </b>
                                        <i class="fa fa-minus-circle fa-2x pull-right" style="color:red" title="*{{element.bizname}}
                                         {{ 'DASHBOARD_FU_BODY.ALTER2' | translate }}
                                         *{{element.bizname}}
                                         {{ 'DASHBOARD_FU_BODY.ALTER3' | translate }}"
                                            *ngIf="!element.isjobamtpaidtocompany">
                                        </i>
                                        <i class="fa fa-bullhorn fa-2x pull-right" style="color:black"
                                            title="{{'DASHBOARD_FU_BODY.ALTER1' | translate }}"
                                            *ngIf="element.isjobamtpaidtocompany && !element.isjobamtpaidtofu">
                                        </i>
                                    </p>
                                    <span class="display-4">
                                        <i class="fa fa-inr">{{element.tofreelanceamount | number}}</i></span>
                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.STARTON' | translate }} </b>
                                            {{element.jobstartedon}}
                                        </small>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.ENDON' | translate }} </b> {{element.jobendedon}}
                                        </small>
                                    </p>
                                </div>
                                <div class="card-body">
                                    <i class="fa fa-briefcase fa-3x float-right"></i>
                                    <h2> <b>{{ 'DASHBOARD_FU_BODY.JOBDETAILS' | translate }} </b> </h2>
                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.CLIENTNAME' | translate }} </b> {{element.bizname}}
                                        </small>
                                    </p>
                                    <p>
                                        <small class="pull-left">
                                            <b> {{ 'DASHBOARD_FU_BODY.JOBLOCATION' | translate }} </b>
                                            {{element.joblocation}}
                                        </small>
                                    </p>
                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.TOTAL_HOURSOFWORK' | translate }}</b> {{element.totalhoursofjob}}
                                        </small>
                                    </p>
                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.PHONENO' | translate }} </b> {{element.cbaphoneno}}
                                        </small>
                                    </p>
                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.JOBDESCPTION' | translate }} </b>
                                            {{element.jobdescription}}
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  class="row" *ngIf="completedJobList.length == 0">
                        <p class="pull-center"><small><b>{{ 'DASHBOARD_FU_BODY.NO_COMPLETEDJOBS_MSG' | translate }} </b> </small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <dl class="row" *ngIf="this.userService.currentUserValue.freeLanceDetails.isregfeedone && 
    this.userService.currentUserValue.freeLanceDetails.bgcurrentstatus == 'BG_APPROVED'">
        <dt class="col-sm-3">
            <h4>{{ 'DASHBOARD_FU_BODY.IMPINST_HEADER' | translate }}</h4>
        </dt>
        <dd class="col-sm-9"> </dd>
        <dt class="col-sm-3 text-truncate">
            <button class="pull-right" style="font-size:14px">{{ 'DASHBOARD_FU_BODY.CANCELJOBBUTTON' | translate }}
                <i class="fa fa-remove"></i></button>
        </dt>
        <dd class="col-sm-9">
            {{ 'DASHBOARD_FU_BODY.IMPINST_CANCELBUTTON' | translate }}
        </dd>
        <dt class="col-sm-3">
            <button class="bg-success pull-right" style="font-size:14px">{{ 'DASHBOARD_FU_BODY.ACCEPTJOBBUTTON' |
                translate }}
                <i class="fa fa-play"></i></button>
        </dt>
        <dd class="col-sm-9">
            {{ 'DASHBOARD_FU_BODY.IMPINST_NEWJOBS_ACCEPTBUTTON' | translate }}
        </dd>
        <dt class="col-sm-3">
            <i class="fa fa-minus-circle fa-2x pull-right" style="color:red"></i>
        </dt>
        <dd class="col-sm-9">
            {{ 'DASHBOARD_FU_BODY.IMPINST_ICON1' | translate }}
        </dd>
        <dt class="col-sm-3">
            <i class="fa fa-bullhorn fa-2x pull-right" style="color:black"></i>
        </dt>
        <dd class="col-sm-9">
            {{ 'DASHBOARD_FU_BODY.IMPINST_ICON2' | translate }}
        </dd>
    </dl>
</div>