<div class="container">
    <h4> {{ 'DASHOARD_FU_MENU.SUMMARY' | translate }}</h4>
    <p> <small>{{ 'DASHOARD_FU_MENU.SUBHEADING' | translate }}</small></p>
    <hr class="my-4">
    <div class="row mb-3"></div>
    <div class="row placeholders justify-content-between ">
        <h5 class="col-12 col-sm-2 placeholder text-center d-lg-none">
            {{ 'DASHOARD_FU_MENU.CURRENTSTAGE' | translate }}
        </h5>
        <div class="row mb-5 d-lg-none"></div>
        <div class="col-12 col-sm-2 placeholder text-center d-lg-none">
            <p *ngIf="!userService.currentUserValue.freeLanceDetails.isprofilecompleted;">
                <i class="fa fa-address-card-o  rounded-circle" [ngStyle]="{'background':'white'}"></i>
                <a routerLink='/_profilesettings/{{userService.currentUserValue.userId}}'>
                    <p class='text-center'><small><b>
                                <u>
                                    {{ 'DASHBOARD_FU_BODY.FILLOUTPROFILE' | translate }}
                                </u></b></small></p>
                </a>
            </p>
            <i class="fa fa-credit-card-alt rounded-circle"
                *ngIf="!userService.currentUserValue.freeLanceDetails.isregfeedone"
                [ngStyle]=" {'background': 'white'}"></i>
            <p
                *ngIf="!userService.currentUserValue.freeLanceDetails.isregfeedone && istimelap &&   userService.currentUserValue.freeLanceDetails.isprofilecompleted">
                <a href=" javascript: return false;" (click)="openPaymentComponent()">
                    <small>
                        <b>
                            {{ 'DASHBOARD_FU_BODY.PAYMENT' | translate }}
                            <i class="fa fa-inr"></i> {{referenceobj[0].label}}
                        </b>
                    </small>
                </a>
            </p>
            <div
                *ngIf="userService.currentUserValue.freeLanceDetails.isregfeedone && !userService.currentUserValue.freeLanceDetails.isbgstarted">
                <i class="fa fa-credit-card-alt rounded-circle" [ngStyle]=" {'background': 'cornflowerblue'}"></i>
                <p><small><b>{{ 'DASHBOARD_FU_BODY.PAYMENTCOMPLETED' | translate }}</b></small></p>
            </div>
            <div *ngIf="userService.currentUserValue.freeLanceDetails.isbgstarted && userService.currentUserValue.freeLanceDetails.bgcurrentstatus == 'BG_SENTTOCSST' ||
                userService.currentUserValue.freeLanceDetails.bgcurrentstatus =='BG_SENTTOCSSM'">
                <i class="fa fa-street-view rounded-circle" [ngStyle]=" {'background': 'cornflowerblue' }"></i>
                <p>
                    <span><small><b>{{ 'DASHBOARD_FU_BODY.BGVERIFICATIONINITIATED' | translate }}</b></small></span>
                </p>
            </div>
            <i class="fa fa fa-hand-paper-o rounded-circle" *ngIf="userService.currentUserValue.freeLanceDetails.isbgdone && 
                userService.currentUserValue.freeLanceDetails.bgcurrentstatus == 'BG_APPROVED' || 
                userService.currentUserValue.freeLanceDetails.bgcurrentstatus == 'BG_REJECTED'" [ngStyle]=" {'background': userService.currentUserValue.freeLanceDetails.bgcurrentstatus=='BG_APPROVED'
                ? 'green' :'red'}"></i>
            <p><small>
                    <b *ngIf="this.userService.currentUserValue.freeLanceDetails.bgcurrentstatus == 'BG_APPROVED'">{{
                        'DASHBOARD_FU_BODY.BGVERFIFICATIONRESULT_APPROVED' | translate }}</b>
                    <b *ngIf="this.userService.currentUserValue.freeLanceDetails.bgcurrentstatus == 'BG_REJECTED'">{{
                        'DASHBOARD_FU_BODY.BGVERFIFICATIONRESULT_REJECTED' | translate }}</b>
                </small>
            </p>

        </div>
        <div class="col-6 col-sm-2 placeholder text-center d-none d-lg-block">
            <i class="fa fa-address-card-o  rounded-circle"
                [ngStyle]="{'background': userService.currentUserValue.freeLanceDetails.isprofilecompleted ? 'cornflowerblue':'white'}"></i>
            <a routerLink='/_profilesettings/{{userService.currentUserValue.userId}}'
                *ngIf="!userService.currentUserValue.freeLanceDetails.isprofilecompleted; else elseFU">
                <p class='text-center'><small><b>
                            <u>
                                {{ 'DASHBOARD_FU_BODY.FILLOUTPROFILE' | translate }}
                            </u></b></small></p>
            </a>
            <ng-template #elseFU>
                <p class='text-center'><small>
                        <b>
                            {{ 'DASHBOARD_FU_BODY.PROFILEEUPDATE' | translate }}
                        </b>
                    </small></p>
            </ng-template>

        </div>
        <i class="fa fa-arrow-right d-none d-lg-block" style="font-size:36px;"
            [ngStyle]="{'color': userService.currentUserValue.freeLanceDetails.isprofilecompleted ? 'brown':'lightgrey'}"></i>
        <div class="col-6 col-sm-2 placeholder text-center d-none d-lg-block">
            <i class="fa fa-credit-card-alt rounded-circle"
                [ngStyle]="{'background': userService.currentUserValue.freeLanceDetails.isregfeedone ? 'cornflowerblue':'white'}"></i>
            <p *ngIf="!userService.currentUserValue.freeLanceDetails.isregfeedone && istimelap && 
            userService.currentUserValue.freeLanceDetails.isprofilecompleted">
                <a href=" javascript: return false;" (click)="openPaymentComponent()">
                    <small>
                        <b>
                            {{ 'DASHBOARD_FU_BODY.PAYMENT' | translate }}
                            <i class="fa fa-inr"></i>{{referenceobj[0].label}}
                        </b>
                    </small>
                </a>
            </p>
            <p *ngIf=" istimelap &&  !userService.currentUserValue.freeLanceDetails.isprofilecompleted">
                <small>
                    <b>
                        {{ 'DASHBOARD_FU_BODY.PAYMENT' | translate }}
                        <i class="fa fa-inr"></i>{{referenceobj[0].label}}
                    </b>
                </small>
            </p>
            <p *ngIf="userService.currentUserValue.freeLanceDetails.isregfeedone">
                <small><b> {{ 'DASHBOARD_FU_BODY.PAYMENTCOMPLETED' | translate }}</b></small>
            </p>
        </div>
        <i class="fa fa-arrow-right d-none d-lg-block" style="font-size:36px;"
            [ngStyle]="{'color': userService.currentUserValue.freeLanceDetails.isregfeedone ? 'brown':'lightgrey'}"></i>
        <div class="col-6 col-sm-2 placeholder text-center d-none d-lg-block">
            <i class="fa fa-street-view rounded-circle"
                [ngStyle]="{'background': userService.currentUserValue.freeLanceDetails.isbgstarted ? 'cornflowerblue':'white'}"></i>
            <p><small><b>{{ 'DASHBOARD_FU_BODY.BGVERIFICATIONINITIATED' | translate }}</b></small></p>
        </div>
        <i class="fa fa-arrow-right d-none d-lg-block" style="font-size:36px;"
            [ngStyle]="{'color': userService.currentUserValue.freeLanceDetails.isbgstarted ? 'brown':'lightgrey'}"></i>
        <div class="col-6 col-sm-2 placeholder text-center d-none d-lg-block">
            <i class="fa fa-hourglass-start rounded-circle"
                [ngStyle]="{'background': userService.currentUserValue.freeLanceDetails.isbgdone ? 'cornflowerblue':'white'}">
            </i>
            <p><small><b>{{ 'DASHBOARD_FU_BODY.BGVERFIFICATIONINPROGRESS' | translate }}</b></small></p>
        </div>
        <i class="fa fa-arrow-right d-none d-lg-block" style="font-size:36px;"
            [ngStyle]="{'color': userService.currentUserValue.freeLanceDetails.isbgdone ? 'brown':'lightgrey'}"></i>
        <div class="col-6 col-sm-2 placeholder text-center d-none d-lg-block">
            <i class="fa fa fa-hand-paper-o rounded-circle"
                *ngIf='!userService.currentUserValue.freeLanceDetails.isbgdone'></i>
            <i class="fa fa fa-hand-paper-o rounded-circle" *ngIf="userService.currentUserValue.freeLanceDetails.isbgdone && 
                userService.currentUserValue.freeLanceDetails.bgcurrentstatus == 'BG_APPROVED' || 
                userService.currentUserValue.freeLanceDetails.bgcurrentstatus == 'BG_REJECTED'" [ngStyle]=" {'background': userService.currentUserValue.freeLanceDetails.bgcurrentstatus=='BG_APPROVED'
                ? 'green' :'red'}"></i>
            <p><small>
                    <b *ngIf="!userService.currentUserValue.freeLanceDetails.isbgdone">{{
                        'DASHBOARD_FU_BODY.BGVERFIFICATIONFINALRESULTS' | translate }}</b>
                    <b *ngIf="this.userService.currentUserValue.freeLanceDetails.bgcurrentstatus == 'BG_APPROVED'">{{
                        'DASHBOARD_FU_BODY.BGVERFIFICATIONRESULT_APPROVED' | translate }}</b>
                    <b *ngIf="this.userService.currentUserValue.freeLanceDetails.bgcurrentstatus == 'BG_REJECTED'">{{
                        'DASHBOARD_FU_BODY.BGVERFIFICATIONRESULT_REJECTED' | translate }}</b>
                </small>
            </p>
        </div>
    </div>
    <div *ngIf="this.userService.currentUserValue.freeLanceDetails.isregfeedone && 
        this.userService.currentUserValue.freeLanceDetails.bgcurrentstatus == 'BG_APPROVED' ">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-6 col-lg-4 mb-3 text-center" *ngFor="let card of infoCards, index as i">
                <div class="row mb-2"></div>
                <div class="" [ngClass]="i==0 ? 'bg-customupcoming card' : 'bg-custom card' "
                    style="padding-left: 27px;padding-top: 27px;color: white;">
                    <span style="color: white;">
                        <p class="pull-center"><b>{{ card.name }}</b>
                        </p>
                        <span class="pull-center">
                            <h3 style="color: white;"><i class="fa fa-inr" *ngIf="card.value > 0"
                                    style="color:lightgreen;"></i>
                                <i *ngIf="card.value == 0" class="fa fa-inr " style="color:orange;"></i>
                                <b>{{ card.value | number}}</b>
                            </h3>
                        </span>
                    </span>
                    <p style="color: black;"><small>{{ 'DASHBOARD_FU_BODY.LASTUPDATED' | translate }} {{indiaTimeFormat}} {{
                            'DASHBOARD_FU_BODY.MINSAGO' | translate }}</small></p>
                </div>
            </div>
            <div class="row mb-2"></div>
        </div>
        <div class="row mb-3"></div>
        <div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="collapseFUUpcomingJobs-tab" data-toggle="tab"
                        href="#collapseFUUpcomingJobs" role="tab" aria-controls="collapseFUUpcomingJobs"
                        aria-selected="false">
                        <i class="fa fa-podcast fatab"></i>
                        <div class="row mb-2"></div><b> {{ 'DASHBOARD_FU_BODY.UPCOMINGJOBS' | translate }}</b>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="collapseFUNewJobs-tab" data-toggle="tab" href="#collapseFUNewJobs"
                        role="tab" aria-controls="collapseFUNewJobs" aria-selected="true">
                        <i class="fa fa-map-marker fatab"></i>
                        <div class="row mb-2"></div><b>
                            {{ 'DASHBOARD_FU_BODY.NEWJOBS' | translate }}
                        </b>
                        <div class="row mb-2"></div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="collapseCompletedJobs-tab" data-toggle="tab" href="#collapseCompletedJobs"
                        role="tab" aria-controls="collapseCompletedJobs" aria-selected="false">
                        <i class="fa fa-road fatab"></i>
                        <div class="row mb-2"></div><b>{{ 'DASHBOARD_FU_BODY.COMPLETEDJOBS' | translate }}</b>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="collapseVoliationJobs-tab" data-toggle="tab" href="#collapseVoliationJobs"
                        role="tab" aria-controls="collapseVoliationJobs" aria-selected="false">
                        <i class="fa fa-ban fatab"></i>
                        <div class="row mb-2"></div><b>{{ 'DASHBOARD_FU_BODY.VOLIATIONJOBS' | translate }}</b>
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="collapseFUUpcomingJobs" role="tabpanel"
                    aria-labelledby="collapseFUUpcomingJobs-tab">
                    <div class="row mb-2"></div>
                    <div class="row" *ngIf="upcomingJobList.length > 0">
                        <div class="col-lg-4 mb-3 mb-md-0" style="margin-bottom:8px !important"
                            *ngFor="let element of upcomingJobList">
                            <div class="card card-flip h-100 ">
                                <div class="card-header text-white bg-secondary">
                                    <p> <b>{{ 'DASHBOARD_FU_BODY.JOB' | translate }}#{{element.jobId}} </b>
                                        <button class="pull-right" (click)="cancel(element.jobId)"
                                            *ngIf="element.cbajobattendantdate == null" style="font-size:14px">{{
                                            'DASHBOARD_FU_BODY.CANCELJOBBUTTON' | translate }}
                                            <i class="fa fa-remove"></i></button>
                                        <!--<a class="btn btn-md btn-primary pull-right" style="cursor:pointer"
                                            *ngIf="element.livelocationtracking == 'ON'" [routerLink]="['/_livelocation',element.jobId]"><i
                                                class="fa fa-map-marker mr-2">
                                            </i>{{'DASHBOARD_FU_BODY.LIVE_TRACKING_ON' | translate }}</a>-->
                                        <button class="bg-info pull-right" *ngIf="element.freelancerjobattendant == 'YES'
                                            && element.freelancerjobattendantdate == null"
                                            (click)="updateFreelancerAttendance(element.jobId)" style="font-size:14px">{{
                                            'DASHBOARD_FU_BODY.IAMATLOCATION' | translate }}
                                            <i class="fa fa-sign-in"></i></button>
                                        <i class="fa fa-minus-circle fa-2x pull-right" style="color:red" title="*{{element.bizname}}
                                            {{ 'DASHBOARD_FU_BODY.ALTER2' | translate }}
                                            *{{element.bizname}}
                                            {{ 'DASHBOARD_FU_BODY.ALTER3' | translate }}"
                                            *ngIf="!element.isjobamtpaidtocompany && element.isjobcompleted">
                                        </i>
                                    </p>
                                    <span class="display-4">
                                        <i class="fa fa-inr">{{element.tofreelanceamount | number}}</i></span>
                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.STARTON' | translate }} </b>
                                            <span class="ml-3"> {{element.jobstartedon}}</span>
                                        </small>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.ENDON' | translate }} </b>
                                            <span class="ml-4">
                                                {{element.jobendedon}}
                                            </span>
                                        </small>
                                    </p>
                                    <p *ngIf="element.freelanceuserId > 0">
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.ACCEPTEDON' | translate }}
                                            </b>
                                            {{element.jobaccepteddate}}
                                        </small>
                                    </p>
                                </div>
                                <div class="card-body">
                                    <i class="fa fa-briefcase fa-3x float-right"></i>
                                    <h2> <b>{{ 'DASHBOARD_FU_BODY.JOBDETAILS' | translate }} </b> </h2>
                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.CLIENTNAME' | translate }} </b> {{element.bizname}}
                                        </small>
                                    </p>
                                    <p>
                                        <small class="pull-left">
                                            <b> {{ 'DASHBOARD_FU_BODY.JOBLOCATION' | translate }} </b>
                                            {{element.joblocation}}
                                            <p>
                                                <a href={{mapurl+element.lat+comma+element.lng}} target="_blank">
                                                    {{ 'DASHBOARD_FU_PROFILE.MAP_VIEW' | translate }}
                                                </a>
                                            </p>
                                        </small>
                                    </p>
                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.PHONENO' | translate }} </b>
                                            <i class="fa fa-mobile ml-2" aria-hidden="true"></i>
                                            {{this.commonlogic.formatPhoneNumber(element.cbaphoneno)}}
                                        </small>
                                    </p>
                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.TOTAL_HOURSOFWORK' | translate }}</b>
                                            {{element.totalhoursofjob}}
                                        </small>
                                    </p>
                                    <div class="tooltips">
                                        <a style="cursor:pointer"
                                            (click)="openReadMorePopup(element.jobdescription)"><i>
                                                {{ 'DASHBOARD_FU_BODY.JOBDESCPTION' | translate }}</i></a>

                                    </div>
                                </div>
                                <div class="card-footer"
                                    *ngIf="!element.deactivefromupcomingjob && element.cbajobattendantdate == null">
                                    <div class="row">
                                        <small class="text-muted text-center ">
                                            <p class="text-danger">
                                                {{ 'DASHBOARD_FU_BODY.CANCELNOTE1' | translate }}
                                                <b class="pl-1"><u> {{ 'DASHBOARD_FU_BODY.CANCELNOTE2' | translate }} </u></b>
                                            </p>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-success alert-dismissible fade show w-100" role="alert"
                        *ngIf="upcomingjobsempty">
                        <h5 class="display-5">
                            {{ 'DASHBOARD_FU_BODY.NO_UPCOMING_MSG' | translate }}
                        </h5>
                    </div>
                </div>
                <div class="tab-pane fade" id="collapseFUNewJobs" role="tabpanel"
                    aria-labelledby="collapseFUNewJobs-tab">
                    <div class="row mb-3"></div>
                    <div class="row" *ngIf="newJobList.length > 0">
                        <div class="col-sm-4 mb-3 mb-md-0" style="margin-bottom:8px !important"
                            *ngFor="let element of newJobList">
                            <div class="card card-flip h-100 ">
                                <div class="card-header text-white bg-secondary">
                                    <p> <b>{{ 'DASHBOARD_FU_BODY.JOB' | translate }}#{{element.jobId}} </b>
                                        <button class="bg-success pull-right" (click)="accept(element.jobId)"
                                            style="font-size:14px">{{
                                            'DASHBOARD_FU_BODY.ACCEPTJOBBUTTON' | translate }}
                                            <i class="fa fa-play"></i></button>
                                    </p>
                                    <span class="display-4">
                                        <i class="fa fa-inr">{{element.tofreelanceamount | number}}</i></span>
                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.STARTON' | translate }} </b>
                                            <span class="ml-3"> {{element.jobstartedon}}</span>
                                        </small>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.ENDON' | translate }} </b>
                                            <span class="ml-4">
                                                {{element.jobendedon}}
                                            </span>
                                        </small>
                                    </p>
                                </div>
                                <div class="card-body">
                                    <i class="fa fa-briefcase fa-3x float-right"></i>
                                    <h2> <b>{{ 'DASHBOARD_FU_BODY.JOBDETAILS' | translate }} </b> </h2>
                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.CLIENTNAME' | translate }} </b> {{element.bizname}}
                                        </small>
                                    </p>
                                    <p>
                                        <small class="pull-left">
                                            <b> {{ 'DASHBOARD_FU_BODY.JOBLOCATION' | translate }} </b>
                                            {{element.joblocation}}
                                            <p>
                                                <a href={{mapurl+element.lat+comma+element.lng}} target="_blank">
                                                    {{ 'DASHBOARD_FU_PROFILE.MAP_VIEW' | translate }}
                                                </a>
                                            </p>
                                        </small>
                                    </p>
                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.PHONENO' | translate }} </b>
                                            <i class="fa fa-mobile ml-2" aria-hidden="true"></i>
                                            {{this.commonlogic.formatPhoneNumber(element.cbaphoneno)}}
                                        </small>
                                    </p>
                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.TOTAL_HOURSOFWORK' | translate }}</b>
                                            {{element.totalhoursofjob}}
                                        </small>
                                    </p>
                                    <div class="tooltips">
                                        <a style="cursor:pointer"
                                            (click)="openReadMorePopup(element.jobdescription)"><i>
                                                {{ 'DASHBOARD_FU_BODY.JOBDESCPTION' | translate }}</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-success alert-dismissible fade show w-100" role="alert"
                        *ngIf="newjobsempty">
                        <h5 class="display-5">
                            {{ 'DASHBOARD_FU_BODY.NO_NEWJOB_MSG' | translate }}
                        </h5>
                    </div>
                </div>
                <div class="tab-pane fade" id="collapseCompletedJobs" role="tabpanel"
                    aria-labelledby="collapseCompletedJobs-tab">
                    <div class="row mb-3"></div>
                    <div class="row" *ngIf="completedJobList.length > 0">
                        <div class="col-sm-4 mb-3 mb-md-0" style="margin-bottom:8px !important"
                            *ngFor="let element of completedJobList">
                            <div class="card card-flip h-100 ">
                                <div class="card-header text-white bg-secondary">
                                    <p> <b>{{ 'DASHBOARD_FU_BODY.JOB' | translate }}#{{element.jobId}} </b>

                                        <i class="fa fa-bullhorn fa-2x pull-right" style="color:black"
                                            title="{{'DASHBOARD_FU_BODY.ALTER1' | translate }}"
                                            *ngIf="element.isjobamtpaidtocompany && !element.isjobamtpaidtofu">
                                        </i>
                                        <i class="fa fa-smile-o fa-2x pull-right" style="color:blue"
                                            title="{{'DASHBOARD_FU_BODY.ALTER4' | translate }}"
                                            *ngIf="element.isjobamtpaidtocompany && element.isjobamtpaidtofu">
                                        </i>
                                        <a class="btn btn-sm btn-warning pull-right"
                                            [routerLink]="['/_reviewjid',element.jobId,'jid']"
                                            *ngIf="element.isratedforjob">
                                            <i title="Ratings" class="fa fa-star fa-1x" style="color:blue"></i>
                                        </a>
                                    </p>
                                    <span class="display-4">
                                        <i class="fa fa-inr">{{element.tofreelanceamount | number}}</i></span>
                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.STARTON' | translate }} </b>
                                            <span class="ml-3"> {{element.jobstartedon}}</span>
                                        </small>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.ENDON' | translate }} </b>
                                            <span class="ml-4">
                                                {{element.jobendedon}}
                                            </span>
                                        </small>
                                    </p>
                                    <p *ngIf="element.freelanceuserId > 0">
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.ACCEPTEDON' | translate }}
                                            </b>
                                            {{element.jobaccepteddate}}
                                        </small>
                                    </p>
                                </div>
                                <div class="card-body">
                                    <i class="fa fa-briefcase fa-3x float-right"></i>
                                    <h2> <b>{{ 'DASHBOARD_FU_BODY.JOBDETAILS' | translate }} </b> </h2>
                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.CLIENTNAME' | translate }} </b> {{element.bizname}}
                                        </small>
                                    </p>
                                    <p>
                                        <small class="pull-left">
                                            <b> {{ 'DASHBOARD_FU_BODY.JOBLOCATION' | translate }} </b>
                                            {{element.joblocation}}
                                            <p>
                                                <a href={{mapurl+element.lat+comma+element.lng}} target="_blank">
                                                    {{ 'DASHBOARD_FU_PROFILE.MAP_VIEW' | translate }}
                                                </a>
                                            </p>
                                        </small>
                                    </p>

                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.PHONENO' | translate }} </b>
                                            <i class="fa fa-mobile ml-2" aria-hidden="true"></i>
                                            {{this.commonlogic.formatPhoneNumber(element.cbaphoneno)}}
                                        </small>
                                    </p>

                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.TOTAL_HOURSOFWORK' | translate }}</b>
                                            {{element.totalhoursofjob}}
                                        </small>
                                    </p>

                                    <div class="tooltips">
                                        <a style="cursor:pointer"
                                            (click)="openReadMorePopup(element.jobdescription)"><i>
                                                {{ 'DASHBOARD_FU_BODY.JOBDESCPTION' | translate }}</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-success alert-dismissible fade show w-100" role="alert"
                        *ngIf="completedjobsempty">
                        <h5 class="display-5">
                            {{ 'DASHBOARD_FU_BODY.NO_COMPLETEDJOBS_MSG' | translate }}
                        </h5>
                    </div>
                </div>
                <div class="tab-pane fade " id="collapseVoliationJobs" role="tabpanel"
                    aria-labelledby="collapseVoliationJobs-tab">
                    <div class="row mb-2"></div>
                    <div class="row" *ngIf="listOfVolidationJobs.length > 0">
                        <div class="col-lg-4 mb-3 mb-md-0" style="margin-bottom:8px !important"
                            *ngFor="let element of listOfVolidationJobs">
                            <div class="card card-flip h-100 ">
                                <div class="card-header text-white bg-secondary">
                                    <p> <b>{{ 'DASHBOARD_FU_BODY.JOB' | translate }}#{{element.jobId}} </b>
                                        <i class="fa fa-ban fa-2x pull-right" style="color:red"
                                            *ngIf="element.deactivefromupcomingjob"
                                            title="{{ 'DASHBOARD_FU_BODY.VOLIATION_JOB' | translate }}"></i>
                                    </p>
                                    <span class="display-4">
                                        <i class="fa fa-inr">{{element.tofreelanceamount | number}}</i></span>
                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.STARTON' | translate }} </b>
                                            <span class="ml-4"> {{element.jobstartedon}}</span>
                                        </small>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.ENDON' | translate }} </b>
                                            <span class="ml-4">
                                                {{element.jobendedon}}
                                            </span>
                                        </small>
                                    </p>
                                    <p *ngIf="element.freelanceuserId > 0">
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.ACCEPTEDON' | translate }}
                                            </b>
                                            {{element.jobaccepteddate}}
                                        </small>
                                    </p>
                                </div>
                                <div class="card-body">
                                    <i class="fa fa-briefcase fa-3x float-right"></i>
                                    <h2> <b>{{ 'DASHBOARD_FU_BODY.JOBDETAILS' | translate }} </b> </h2>
                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.CLIENTNAME' | translate }} </b> {{element.bizname}}
                                        </small>
                                    </p>
                                    <p>
                                        <small class="pull-left">
                                            <b> {{ 'DASHBOARD_FU_BODY.JOBLOCATION' | translate }} </b>
                                            {{element.joblocation}}
                                            <p>
                                                <a href={{mapurl+element.lat+comma+element.lng}} target="_blank">
                                                    {{ 'DASHBOARD_FU_PROFILE.MAP_VIEW' | translate }}
                                                </a>
                                            </p>
                                        </small>
                                    </p>
                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.PHONENO' | translate }} </b>
                                            <i class="fa fa-mobile ml-2" aria-hidden="true"></i>
                                            {{this.commonlogic.formatPhoneNumber(element.cbaphoneno)}}
                                        </small>
                                    </p>
                                    <p>
                                        <small class="pull-left">
                                            <b>{{ 'DASHBOARD_FU_BODY.TOTAL_HOURSOFWORK' | translate }}</b>
                                            {{element.totalhoursofjob}}
                                        </small>
                                    </p>
                                    <div class="tooltips">
                                        <a style="cursor:pointer"
                                            (click)="openReadMorePopup(element.jobdescription)"><i>
                                                {{ 'DASHBOARD_FU_BODY.JOBDESCPTION' | translate }}</i></a>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <small class="text-muted ">
                                            <p class="text-danger" *ngIf="!element.deactivefromupcomingjob">
                                                {{ 'DASHBOARD_FU_BODY.CANCELNOTE1' | translate }} <b><u>
                                                        {{ 'DASHBOARD_FU_BODY.CANCELNOTE2' | translate }} </u></b>
                                            </p>
                                            <p class="text-danger" *ngIf="element.deactivefromupcomingjob">
                                                {{ 'DASHBOARD_FU_BODY.VOLIATION_JOB' | translate }}
                                            </p>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-success alert-dismissible fade show w-100" role="alert"
                        *ngIf="voliationjobsempty">
                        <h5 class="display-5">
                            {{ 'DASHBOARD_FU_BODY.NO_VOLIATION_MSG' | translate }}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <dl class="row" *ngIf="this.userService.currentUserValue.freeLanceDetails.isregfeedone && 
    this.userService.currentUserValue.freeLanceDetails.bgcurrentstatus == 'BG_APPROVED'">
        <dt class="col-sm-3">
            <h4>{{ 'DASHBOARD_FU_BODY.IMPINST_HEADER' | translate }}</h4>
        </dt>
        <dd class="col-sm-9"> </dd>
        <dt class="col-sm-3 mb-3"></dt>
        <dd class="col-sm-9 mb-3">
            <p>
                {{ 'DASHBOARD_FU_BODY.UPCOMINGTOOLTIP' | translate }}
            </p>
        <dt class="col-sm-3 mb-3">
            <button class="bg-info pull-left" style="font-size:14px">{{
                'DASHBOARD_FU_BODY.IAMATLOCATION' | translate }}
                <i class="fa fa-sign-in"></i></button>
        </dt>
        <dd class="col-sm-9 mb-3">
            <p class="btn-warning"><i><b> {{ 'DASHBOARD_FU_BODY.IMPINST_IAMHERE' | translate }}</b></i></p>
        </dd>
        <dt class="col-sm-3 mb-3">
            <button class="pull-left" style="font-size:14px">{{ 'DASHBOARD_FU_BODY.CANCELJOBBUTTON' | translate }}
                <i class="fa fa-remove"></i></button>
        </dt>
        <dd class="col-sm-9 mb-3">
            {{ 'DASHBOARD_FU_BODY.IMPINST_CANCELBUTTON' | translate }}
        </dd>
        <dt class="col-sm-3">
            <button class="bg-success pull-left" style="font-size:14px">{{ 'DASHBOARD_FU_BODY.ACCEPTJOBBUTTON' |
                translate }}
                <i class="fa fa-play"></i></button>
        </dt>
        <dd class="col-sm-9">
            <p>{{ 'DASHBOARD_FU_BODY.IMPINST_NEWJOBS_ACCEPTBUTTON' | translate }}</p>
            <p style="color:red">
                <i><small>{{ 'DASHBOARD_FU_BODY.IMPINST_HEADER_NOACCEPTBUTTON' | translate }}</small></i></p>
        </dd>
        <dt class="col-sm-3">
            <i class="fa fa-minus-circle fa-2x pull-left" style="color:red"></i>
        </dt>
        <dd class="col-sm-9">
            <p class="btn-warning"><i><b> {{ 'DASHBOARD_FU_BODY.IMPINST_ICON1' | translate }}</b></i>
        </dd>
        <dt class="col-sm-3">
            <i class="fa fa-bullhorn fa-2x pull-left" style="color:black"></i>
        </dt>
        <dd class="col-sm-9">
            {{ 'DASHBOARD_FU_BODY.IMPINST_ICON2' | translate }}
        </dd>
        <dt class="col-sm-3">
            <i class="fa fa-ban fa-2x pull-left" style="color:red"></i>
        </dt>
        <dd class="col-sm-9">
            <p class="btn-info"><i><b> {{ 'DASHBOARD_FU_BODY.IMPINST_ICON3' | translate }}</b></i></p>
        </dd>
        <dt class="col-sm-3">
            <a class="btn btn-sm btn-warning pull-left">
                <i title="Ratings" class="fa fa-star fa-1x" style="color:blue"></i>
            </a>
        </dt>
        <dd class="col-sm-9">
            <p>{{ 'DASHBOARD_FU_BODY.IMPINST_ICON5' | translate }}</p>
        </dd>
        <dt class="col-sm-3">
            <i class="fa fa-smile-o fa-2x pull-left" style="color:blue"></i>
        </dt>
        <dd class="col-sm-9">
            {{ 'DASHBOARD_FU_BODY.IMPINST_ICON4' | translate }}
        </dd>
    </dl>
</div>