<!-- Modal Header -->
<div class="modal-header">
  <h4 class="modal-title">
    <div *ngIf="key =='cba'; else elseFU">
      {{'HOMESIGNUP.SIGNUP' | translate}}
    </div>
    <ng-template #elseFU>
      {{'HOMESIGNUP.SIGNUPFU' | translate}}
    </ng-template>
  </h4>
  <button type="button" class="close" (click)="modalRef.hide()">&times;</button>
</div>
<form [formGroup]="signupForm" (ngSubmit)="saveUser()">
  <!-- Modal body -->
  <div class="modal-body">
    <span id="reauth-email" class="reauth-email"></span>
    <div class="form-group">
      <span>
        <i class="fa fa-at form-control-icon"></i>
      </span>
      <input class="form-control" formControlName="username" placeholder="{{'HOMESIGNUP.EMAILADDRESS' | translate}}"
        type="email" ngModel email="true" [ngClass]="{ 'is-invalid': issubmit && f.username.errors }">
      <div *ngIf="issubmit && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required || f.username.errors.email">{{'HOMESIGNUP.SIGNUP_VALIDATION_USERNAME' |
          translate}}
        </div>
        <div *ngIf="f.username.errors.maxlength">{{'HOMESIGNUP.SIGNUP_VALIDATION_40_MAX_USERNAME' | translate}}</div>
      </div>
    </div>
    <div class="form-group">
      <span>
        <i class="fa fa-asterisk form-control-icon"></i>
      </span>
      <input class="form-control" placeholder="{{'HOMESIGNUP.PASSWORD' | translate}}" type="password"
        formControlName="password" [ngClass]="{ 'is-invalid': issubmit && f.password.errors }" />
      <div *ngIf="issubmit && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">{{'HOMESIGNUP.SIGNUP_VALIDATION_PASSWORD_REQ' | translate}}
        </div>
        <div *ngIf="f.password.errors.minlength">{{'HOMESIGNUP.SIGNUP_VALIDATION_8_MAX_PWD' | translate}}</div>
      </div>
    </div>
    <div class="form-group">
      <span>
        <i class="fa fa fa-user-o form-control-icon"></i>
      </span>
      <input class="form-control" formControlName="firstname" placeholder="{{'HOMESIGNUP.FIRSTNAME' | translate}}"
        [ngClass]="{ 'is-invalid': issubmit && f.firstname.errors }">
      <div *ngIf="issubmit && f.firstname.errors" class="invalid-feedback">
        <div *ngIf="f.firstname.errors.required">
          {{'HOMESIGNUP.SIGNUP_VALIDATION_FNAME' | translate}}
        </div>
        <div *ngIf="f.firstname.errors.maxlength">{{'HOMESIGNUP.SIGNUP_VALIDATION_4_MAX_FNAME' | translate}}</div>
      </div>
    </div>
    <div class="form-group">
      <span>
        <i class="fa fa fa-user-o form-control-icon"></i>
      </span>
      <input class="form-control" formControlName="lastname" placeholder="{{'HOMESIGNUP.LASTNAME' | translate}}"
        [ngClass]="{ 'is-invalid': issubmit && f.lastname.errors }">
      <div *ngIf="issubmit && f.lastname.errors" class="invalid-feedback">
        <div *ngIf="f.lastname.errors.required">{{'HOMESIGNUP.SIGNUP_VALIDATION_LASTNAME_REQ' | translate}}
        </div>
        <div *ngIf="f.lastname.errors.maxlength">
          {{'HOMESIGNUP.SIGNUP_VALIDATION_40_MAX_LASTNAME' | translate}}</div>
      </div>
    </div>

    <div class="form-group" *ngIf="key==='fu'">
      <span>
        <i class="fa fa fa-language	form-control-icon"></i>
      </span>
      <select #sel class="form-control" formControlName="preferlang"
        [ngClass]="{ 'is-invalid': issubmit && f.preferlang.errors }">
        <option value="">{{'HOMESIGNUP.PREFERLANG' | translate}}</option>
        <option value="en">English</option>
        <option value="hi">हिंदी</option>
        <option value="te">తెలుగు</option>
      </select>
      <div *ngIf="issubmit && f.preferlang.errors" class="invalid-feedback">
        <div *ngIf="f.preferlang.errors.required">
          {{'HOMESIGNUP.SIGNUP_VALIDATION_PREFERLANG_REQ' | translate}}
        </div>
      </div>
    </div>
    <div *ngIf="key==='fu'">
      <div class="form-group">
        <span>
          <i class="fa fa fa-industry form-control-icon"></i>
        </span>
        <select #sel (change)="subCategoryByMapId(sel.value);" formControlName="category" class="form-control"
          [ngClass]="{ 'is-invalid': issubmit && f.category.errors }">
          <option value="" selected>{{'HOMESIGNUP.CATEGORY' | translate}}</option>
          <option *ngFor="let referencelookupmap of referencedetailsmap" value="{{referencelookupmap.mapId}}">
            {{referencelookupmap.label}}</option>
        </select>
        <div *ngIf="issubmit && f.category.errors" class="invalid-feedback">
          <div *ngIf="f.category.errors.required"> {{'HOMESIGNUP.SIGNUP_VALIDATION_INDUSTRY_REQ' | translate}}
          </div>
        </div>
      </div>
      <div *ngIf="referencedetailsmapsubcatselectedmapId.length > 0">
        <div class="form-group">
          <span>
            <i class="fa fa fa-certificate	
           form-control-icon"></i>
          </span>
          <select class="form-control" class="form-control" formControlName="subcategory"
            [ngClass]="{ 'is-invalid': issubmit && f.subcategory.errors }">
            <option value="" selected>{{'HOMESIGNUP.SKILL' | translate}}</option>
            <option *ngFor="let referencelookupmapcat of referencedetailsmapsubcatselectedmapId"
              value="{{referencelookupmapcat.code}}"> {{referencelookupmapcat.label}}</option>
          </select>
          <div *ngIf="issubmit && f.subcategory.errors" class="invalid-feedback">
            <div *ngIf="f.subcategory.errors.required">
              {{'HOMESIGNUP.SIGNUP_VALIDATION_SKILL_REQ' | translate}}
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="issubcatdisplay && isSelectedCategoryVal.length > 0">
        <div class="form-group">
          <h3 class="form-control"> {{'HOMESIGNUP.SIGNUP_VALIDATION_NOSKILL' | translate}}</h3>
        </div>
      </div>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" formControlName="acceptsignupterms"
        [ngClass]="{ 'is-invalid': issubmit && f.acceptsignupterms.errors }">
      <label class="form-check-label" for="exampleCheck1">
        <small>{{'HOMESIGNUP.SIGNUP_TERM_AGREE_LABEL' |
          translate}}</small>
        <a href={{termsofservice}} target="_blank"><small>{{'HOMESIGNUP.SIGNUP_TERMOFSERVICE' |
            translate}}</small> </a> & <a href={{privacypolicy}} target="_blank">
          <small>{{'HOMESIGNUP.SIGNUP_PRIVACYPOLICY' |
            translate}}</small></a>
        <small>{{'HOMESIGNUP.SIGNUP_TERM_AGREE_LABEL_END' |
          translate}}</small>
      </label>
      <div *ngIf="issubmit && f.acceptsignupterms.errors" class="invalid-feedback">
        <div *ngIf="f.acceptsignupterms.errors.required">
          {{'HOMESIGNUP.SIGNUP_VALIDATION_TERMS_POLICYCHECKBOX_REQ' | translate}}
        </div>
      </div>
    </div>

  </div>
  <!-- Modal footer -->
  <div class="modal-footer">
    <button class="btn  btn-primary" type="submit">{{'HOMESIGNUP.SIGNUP_SUBMIT_BUTTON' | translate}}</button>
    <button type="button" class="btn btn-danger" (click)="modalRef.hide()">{{'HOMESIGNUP.SIGNUP_CLOSE_BUTTON' |
      translate}}</button>
  </div>
</form>