
/* table, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
  
}
th, td {
  padding: 10px;
  text-align: left;
} */

/* body {
  padding : 10px ;
}
.nav-tab {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
} */





