 /* table, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
  
}
th, td {
  padding: 10px;
  text-align: left;
} 

 body {
  padding : 10px ;
}
.nav-tab {
  border-radius: 4px 4px 0 0 ;
} */


 td {
  padding-left: 20px;
}
th{
  padding-left: 10px;
}





