<div class="container">
  <div class="modal-header">
    <h4 class="modal-title">View Account Details of {{usrdetailsObj.firstname}}</h4>
    <button type="button" class="btn btn-danger" (click)="modalRef.hide()">&times;</button>
  </div>
  <div class="modal-body">
    <div
      *ngIf="usrdetailsObj.userroles.rolecode == 'CORE_SERVICE_SUPPORT_TEAM'|| usrdetailsObj.userroles.rolecode == 'CORE_SERVICE_SUPPORT_MANAGER' ">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link small active" href="#basic1" data-toggle="tab">Basic</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active fade show" id="basic1">
          <small>
            <table class="table table-hover table-borderless"> 
              <tr>
                <th>Employee ID</th>
                <td>{{usrdetailsObj.userId}}</td>
              </tr>
              <tr>
                <th>Full Name </th>
                <td>{{usrdetailsObj.fullname}} </td>
              </tr>
              <tr>
                <th>Profile Picture</th>
                <td>
                  <a href="{{usrdetailsObj.avtarurl}}" target="_blank" class="avatar">
                    <img src="{{usrdetailsObj.avtarurl}}" width="100px" height="80px">
                  </a>
                </td>
              </tr>
              <tr>
                <th>Email Address </th>
                <td>
                  <p>
                    {{usrdetailsObj.username}}
                  </p>
                  <p>
                    {{usrdetailsObj.firstname}} manager is {{edituserobj2?.firstname}} {{edituserobj2?.lastname}}
                  </p>
                </td>
              </tr>
              <tr>
                <th>First Name </th>
                <td>{{usrdetailsObj.firstname}} </td>
              </tr>
              <tr>
                <th>Last Name </th>
                <td>{{usrdetailsObj.lastname}}</td>
              </tr>
              <tr>
                <th>Phone Number</th>
                <td>{{this.formatPhoneNumber(usrdetailsObj.phoneno)}}</td>
              </tr>
              <tr>
                <th>Prefered Language</th>
                <td>
                  <span *ngIf="usrdetailsObj.preferlang == 'en'">
                    English
                  </span>
                  <span *ngIf="usrdetailsObj.preferlang == 'te'">
                    Telugu
                  </span>
                  <span *ngIf="usrdetailsObj.preferlang == 'hi'">
                    Hindi
                  </span>
                </td>
              </tr>
              <tr>
                <th>Created On </th>
                <td>{{usrdetailsObj.createdon}}</td>
              </tr>
              <tr>
                <th>Created By </th>
                <td> {{usrdetailsObj.createdby}}</td>
              </tr>
              <tr>
                <th>Full Address </th>
                <td>
                  <a href={{mapurl}} target="_blank">
                    {{usrdetailsObj.userbizdetails.fulladdress}}
                  </a>
                </td>
              </tr>
            </table>
          </small>
        </div>
      </div>
    </div>
    <div *ngIf="usrdetailsObj.userroles.rolecode == 'CLIENT_BUSINESS_ADMINISTRATOR'">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link small  active" href="#0b" data-toggle="tab">Basic</a></li>
        <li class="nav-item"><a class="nav-link small " href="#4b" data-toggle="tab">Business</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active fade show" id="0b">
          <small>
            <table class="table table-hover table-borderless">
              <tr>
                <th> Client ID </th>
                <td>{{usrdetailsObj.userId}}</td>
              </tr>
              <tr>
                <th>Full Name </th>
                <td>{{usrdetailsObj.fullname}} </td>
              </tr>
              <tr>
                <th>Profile Picture</th>
                <td>
                  <a href="{{usrdetailsObj.avtarurl}}" target="_blank">
                    <img src="{{usrdetailsObj.avtarurl}}" width="100px" height="80px">
                  </a>
              </tr>
              <tr>
                <th>Email Address </th>
                <td> {{usrdetailsObj.username}}</td>
              </tr>
              <tr>
                <th>First Name </th>
                <td>{{usrdetailsObj.firstname}} </td>
              </tr>
              <tr>
                <th>Last Name </th>
                <td>{{usrdetailsObj.lastname}}</td>
              </tr>
              <tr>
                <th>Phone Number</th>
                <td>{{this.formatPhoneNumber(usrdetailsObj.phoneno)}}</td>
              </tr>
              <tr>
                <th>Prefered Language</th>
                <td>
                  <span *ngIf="usrdetailsObj.preferlang == 'en'">
                    English
                  </span>
                  <span *ngIf="usrdetailsObj.preferlang == 'te'">
                    Telugu
                  </span>
                  <span *ngIf="usrdetailsObj.preferlang == 'hi'">
                    Hindi
                  </span>
                </td>
              </tr>
              <tr>
                <th>Created On </th>
                <td>{{usrdetailsObj.createdon}}</td>
              </tr>
              <tr>
                <th>Created By </th>
                <td> {{usrdetailsObj.createdby}}</td>
              </tr>
              <tr>
                <th>Full Address </th>
                <td>
                  <a href={{mapurl}} target="_blank">
                    {{usrdetailsObj.userbizdetails.fulladdress}}
                  </a>
                </td>
              </tr>
            </table>
          </small>
        </div>
        <div class="tab-pane " id="4b">
          <small>
            <table class="table table-hover table-borderless">
              <tr>
                <th>Business Name </th>
                <td> {{usrdetailsObj.userbizdetails.bizname}}</td>
              </tr>
              <tr>
                <th>Business Type </th>
                <td> {{usrdetailsObj.userbizdetails.biztype}}</td>
              </tr>
              <tr>
                <th>Business Website </th>
                <td> {{usrdetailsObj.userbizdetails.bizwebsite}}</td>
              </tr>
              <tr>
                <th>Purpose of signup </th>
                <td> {{usrdetailsObj.userbizdetails.purposeofsignup}}</td>
              </tr>
              <tr>
                <th>About Business </th>
                <td> {{usrdetailsObj.userbizdetails.abtbiz}}</td>
              </tr>
              <tr>
                <th>Designation</th>
                <td> {{usrdetailsObj.userbizdetails.designation}}</td>
              </tr>

            </table>
          </small>
        </div>
      </div>
    </div>
    <div id="exTab3" *ngIf="usrdetailsObj.userroles.rolecode == 'FREELANCER_USER'">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link small active" href="#basic" data-toggle="tab">Basic</a>
        </li>
        <li class="nav-item"><a class="nav-link small" href="#1b" data-toggle="tab">More
            Details</a>
        </li>
        <li class="nav-item"><a class="nav-link small" href="#2b" data-toggle="tab">Background Check Comments History
          </a>
        </li>
        <li class="nav-item"><a class="nav-link small" href="#3b" data-toggle="tab">Background Check Documents</a>
        </li>
      </ul>
      <div class="tab-content col-md-12">
        <div class="tab-pane active" id="basic">
          <small>
            <table class="table table-hover table-borderless">
              <tr>
                <th>Skilled Worker ID </th>
                <td>{{usrdetailsObj.userId}}</td>
              </tr>
              <tr>
                <th>Full Name </th>
                <td>{{usrdetailsObj.fullname}} </td>
              </tr>
              <tr>
                <th>Profile Picture</th>
                <td>
                  <a *ngIf="usrdetailsObj.avtarurl != null" href="{{usrdetailsObj.avtarurl}}" target="_blank">
                    <img src="{{usrdetailsObj.avtarurl}}" width="100px" height="80px">
                  </a>
                </td>
              </tr>
              <tr>
                <th>Email Address </th>
                <td> {{usrdetailsObj.username}}</td>
              </tr>
              <tr>
                <th>First Name </th>
                <td>{{usrdetailsObj.firstname}} </td>
              </tr>
              <tr>
                <th>Last Name </th>
                <td>{{usrdetailsObj.lastname}}</td>
              </tr>
              <tr>
                <th>Phone Number</th>
                <td>{{this.formatPhoneNumber(usrdetailsObj.phoneno)}}</td>
              </tr>
              <tr>
                <th>Prefered Language</th>
                <td>
                  <span *ngIf="usrdetailsObj.preferlang == 'en'">
                    English
                  </span>
                  <span *ngIf="usrdetailsObj.preferlang == 'te'">
                    Telugu
                  </span>
                  <span *ngIf="usrdetailsObj.preferlang == 'hi'">
                    Hindi
                  </span>
                </td>
              </tr>
              <tr>
                <th>Created On </th>
                <td> {{usrdetailsObj.createdon}}</td>
              </tr>
              <tr>
                <th>Created By </th>
                <td> {{usrdetailsObj.createdby}}</td>
              </tr>
              <tr>
                <th>Full Address </th>
                <td>
                  <a href={{mapurl}} target="_blank">
                    {{usrdetailsObj.userbizdetails.fulladdress}}
                  </a>
                </td>
              </tr>
            </table>
          </small>
        </div>
        <div class="tab-pane" id="1b">
          <small>
            <table class="table table-hover table-borderless"> 
              <tr *ngFor="let referencelookupmap of signupComponent.referencedetailsmap">
                <th *ngIf="referencelookupmap.mapId == usrdetailsObj.freeLanceDetails.category">Skill Under Category
                </th>
                <td *ngIf="referencelookupmap.mapId == usrdetailsObj.freeLanceDetails.category">
                  {{referencelookupmap.label}}
                </td>
              </tr>
              <tr>
                <th>Skill Name</th>
                <td>{{usrdetailsObj.freeLanceDetails.subcategorylabel}}</td>
              </tr>
              <tr>
                <th>Experience</th>
                <td>{{usrdetailsObj.freeLanceDetails.experienceInField}}</td>
              </tr>
              <tr>
                <th>About</th>
                <td>{{usrdetailsObj.freeLanceDetails.abt}}</td>
              </tr>
              <tr>
                <th>Hour Rate</th>
                <td>{{usrdetailsObj.freeLanceDetails.hourlyRate}} &#8377;</td>
              </tr>
              <tr>
                <th>Company Percentage%</th>
                <td>{{usrdetailsObj.freeLanceDetails.companypercentage}} &#37;</td>
              </tr>
              <tr>
                <th>Worker Percentage%</th>
                <td>{{usrdetailsObj.freeLanceDetails.fupercentage}} &#37;</td>
              </tr>
              <tr>
                <th>Profile Completed?</th>
                <td>
                  <div *ngIf="usrdetailsObj.freeLanceDetails.isprofilecompleted">
                    <i class="fa fa-check" title="Profile data is available" style="color: rgb(37, 165, 37)"></i>
                  </div>

                  <div *ngIf="!usrdetailsObj.freeLanceDetails.isprofilecompleted">
                    <i class="fa fa-ban" title="Profile data not available" style="color:rgb(16, 0, 238)"></i>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Registration Fee Paid?</th>
                <td>
                  <div *ngIf="usrdetailsObj.freeLanceDetails.isregfeedone">
                    <i class="fa fa-check" title="Registration fee paid" style="color: rgb(37, 165, 37)"></i>
                  </div>

                  <div *ngIf="!usrdetailsObj.freeLanceDetails.isregfeedone">
                    <i class="fa fa-ban" title="Registration not paid" style="color:rgb(16, 0, 238)"></i>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Background Verification Initiated</th>
                <td>
                  <div *ngIf="usrdetailsObj.freeLanceDetails.isbgstarted">
                    <i class="fa fa-check" title="Background verification started" style="color: rgb(37, 165, 37)"></i>
                  </div>
                  <div *ngIf="!usrdetailsObj.freeLanceDetails.isbgstarted">
                    <i class="fa fa-ban" title="Bg verification is not started" style="color:rgb(16, 0, 238)"></i>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Background Verification Completed ?</th>
                <td>
                  <div *ngIf="usrdetailsObj.freeLanceDetails.isbgdone">
                    <i class="fa fa-check" title="Registration is completed" style="color: rgb(37, 165, 37)"></i>
                  </div>
                  <div *ngIf="!usrdetailsObj.freeLanceDetails.isbgdone">
                    <i class="fa fa-ban" title="Registration is not completed" style="color:rgb(16, 0, 238)"></i>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Background Verification Result</th>
                <td>
                  <i title="{{usrdetailsObj.fullname}} background verification is rejected"
                    class="fa fa-thumbs-down - Decision by {{usrdetailsObj.freelancehistoryentity[0].decisionby}} "
                    style="color:rgb(241, 18, 18)"
                    *ngIf="usrdetailsObj.freeLanceDetails.bgcurrentstatus == 'BG_REJECTED'; else elseApproved ">
                  </i>
                  <ng-template #elseApproved>
                    <i *ngIf="usrdetailsObj.freeLanceDetails.bgcurrentstatus == 'BG_APPROVED'; else elseInProgress"
                      title="{{usrdetailsObj.fullname}} background verification is approved - Decision by {{usrdetailsObj.freelancehistoryentity[0].decisionby}}"
                      class="fa fa-thumbs-up" style="color:#0a382b"></i>
                  </ng-template>
                </td>
              </tr>
              <tr>
                <th>Government ID </th>
                <td>
                  <a *ngIf="usrdetailsObj.freeLanceDetails.uploadValidPhotoidImgUrl != null"
                    href="{{usrdetailsObj.freeLanceDetails.uploadValidPhotoidImgUrl}}" target="_blank">
                    <img src="{{usrdetailsObj.freeLanceDetails.uploadValidPhotoidImgUrl}}" width="100px" height="80px">
                  </a>
                </td>
              </tr>
            </table>
          </small>
        </div>
        <div class="tab-pane " id="2b">
          <small>
            <table  class="table table-hover table-sm table-striped" *ngIf="usrdetailsObj.freelancehistoryentity.length > 0">
              <tr>
                <th>Decision By</th>
                <th>Decision On</th>
                <th>Background Status </th>
                <th>Comments</th>
                <th>Manager ID </th>
                <th>Core Service Support Member ID </th>
              </tr>
              <tr *ngFor="let value of usrdetailsObj.freelancehistoryentity ">
                <td> {{value.decisionby}}</td>
                <td> {{value.decisionon}}</td>
                <td>
                  <div *ngIf="value.bgstatus != 'BG_INCOMPLETEPROFILE'">
                    <span *ngIf="value.bgstatus == 'BG_SENTTOCSST'"> Sent To CSST Member </span>
                    <span *ngIf="value.bgstatus == 'BG_SENTTOCSSM'"> Sent To CSSM Manager </span>
                    <span *ngIf="value.bgstatus == 'BG_APPROVED'"> Approved </span>
                    <span *ngIf="value.bgstatus == 'BG_REJECTED'"> Rejected </span>
                  </div>
                </td>
                <td> {{value.bgcomment}}</td>
                <td> <a href="javascript: return false;"
                    (click)='managerusercomponent.openViewAccountDetailsModalByUserId(value.managerid)'>
                    {{value.managerid}}</a></td>
                <td><a href="javascript: return false;"
                    (click)='managerusercomponent.openViewAccountDetailsModalByUserId(value.csstid)'>
                    {{value.csstid}}</a></td>
              </tr>
            </table>
          </small>
        </div>
        <div class="tab-pane" id="3b">
          <small>
            <table class="table table-hover table-sm table-striped">
              <tr>
                <th>Document Name</th>
                <th>Uploaded Date</th>
              </tr>
              <tr *ngFor="let value of usrdetailsObj.freelancedocumententity ">
                <td><a href="{{value.docurl}}" target="_blank">{{value.docname}} </a> </td>
                <td>{{value.uploaddate}}</td>
              </tr>
            </table>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>