<div class="container">
    <!-- <div class="">
        <h6>One step for the payment process...<button type="button" class="close pull-right" (click)="modalRef.hide()">&times;</button></h6>
    </div> -->
    <div class="modal-header">
        <h5 class="modal-title">{{'PAYMENT_POPUP.ONESTEP' | translate}}</h5>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true" (click)="modalRef.hide()">&times;</span>
        </button>
      </div>
    <form ngNoForm action="https://sandboxsecure.payu.in/_payment" name="payuform" method="POST" target="_self"
        onsubmit="window.open('about:blank','_self');">
        <div class="card-body">
            <!-- <h4 class="card-title"> -->
                <p><b>{{'PAYMENT_POPUP.OTP_LABEL' | translate}}</b></p>
             <!-- </h4> -->
            <span id="reauth-email" class="reauth-email"></span>
            <div class="form-row">
                <!-- <div class="form-group col-md-3"></div> -->
                <div class="form-group col-md-12" *ngIf="!isphvalid">
                    <span>
                        <i class="fa fa-phone form-control-icon"></i>
                    </span> 
                    <input type="text" placeholder="Enter Mobile Number*" class="form-control"
                        [(ngModel)]="payuform.phone" id="phone" maxlength="10" name="phone">
                </div>
                <div class="form-group col-md-12" *ngIf="isphvalid">
                    <span>
                        <i class="fa fa-phone form-control-icon"></i>
                    </span> 
                    <input type="text" disabled class="form-control"
                    [(ngModel)]="payuform.phone" readonly name="phone">
                </div>
                <input type="text" hidden class="form-control" id="firstname" name="firstname"
                    [(ngModel)]="payuform.firstname">
                <input type="email" hidden class="form-control" id="email" name="email" [(ngModel)]="payuform.email">
                <input type="text" hidden class="form-control" id="amount" name="amount" [(ngModel)]="payuform.amount">
                <textarea rows="2" cols="2" hidden class="form-control" id="productInfo" name="productInfo"
                    [(ngModel)]="payuform.productInfo"></textarea>
                <textarea rows="2" cols="2" hidden class="form-control" id="surl" name="surl"
                    [(ngModel)]="payuform.surl"></textarea>
                <textarea rows="2" cols="2" hidden class="form-control" id="furl" name="furl"
                    [(ngModel)]="payuform.furl"></textarea>
                <textarea rows="2" cols="2"  hidden class="form-control" id="key" name="key"
                    [(ngModel)]="payuform.key"></textarea>
                <textarea rows="2" cols="2" hidden class="form-control" id="hash" name="hash"
                    [(ngModel)]="payuform.hash"></textarea>
                <textarea rows="2" cols="2" hidden class="form-control" id="txnid" name="txnid"
                    [(ngModel)]="payuform.txnid"></textarea>
                <textarea rows="2" cols="2" hidden class="form-control" id="service_provider" name="service_provider"
                    [(ngModel)]="payuform.service_provider"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-5" *ngIf="disablePaymentButton">
                    <button type="button" (click)="confirmPayment()" class="btn btn-warning">{{'PAYMENT_POPUP.CONFIRM' | translate}} </button>
                </div>
                <div class="col-md-5" *ngIf="!disablePaymentButton">
                    <button type="submit" class="btn btn-primary">{{'PAYMENT_POPUP.CHECKOUT' | translate}}</button>
                </div>
            </div>
        </div>
    </form>
</div>