.rounded-circle {
    border-radius: 50%!important;
    width: 16%!important;
    height: 54px!important;
}
/* .testimonial{
        /* border: 1px solid gainsboro; */
    /* box-shadow: 0px 0px 10px 1px white; 
    border-radius: 4px;
    padding: 16px;
    box-shadow: none;
    box-shadow: 0px 1px 8px 0px #92a4b7;
    /* height: 573px; 
    margin-right: -16px;
} */


.testimonial {
  width: 327px;
  margin-right: 91px;
  margin-left: 20px;
  margin-top: 13px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  /* padding: 16px; */
  box-shadow: none;
  box-shadow: 0px 1px 8px 0px #92a4b7;
  /* margin-right: -16px; */
}

.grey-text{
  color:#FF4949;
}

.carousel-indicators {
  bottom: -30px;
}

.carousel-indicators li {
  background-color: #ef4746 !important;
}

.carousel-indicators .active {
  background-color: #2c321f !important;
}