<div class="container bgcontainer" *ngIf="listofTestimonals.length > 0">
    <!-- Section: Testimonials v.4 -->
    <!-- Section heading -->
    <h3 class="h1-responsive pt-3 text-center">{{'SKILLEDWORKERREVIEW.SWORKER_REVIEW_HEADERLABEL' |
        translate}}
    </h3>
    <div class="divider-1 wow fadeInUp text-center"><span></span></div>
    <!-- Grid row -->
    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel testimonial-carousel slide carousel-multi-item mb-5"
        data-ride="carousel">
        <!-- 
                <ol class="carousel-indicators" *ngIf="listofTestimonals.length > 3">
                    <li data-target="#multi-item-example" data-slide-to="0" onload="onTogglePrev()"
                        class="active light-blue darken-4"></li>
                    <li data-target="#multi-item-example" data-slide-to="1" class="light-blue darken-4"></li>
                </ol>
                -->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-4 col-sm-8"  *ngFor="let item of listofTestimonals; index as i">
                        <div class="testimonial" *ngIf="i >= startindex && i < endindex">
                            <!--Avatar-->    
                            <div class="avatar mx-auto">
                                <img src={{item.avtarurl}} class="rounded-circle img-fluid">
                                <span class="pull-right"><i class="fa fa-star" style="color: #ff4949;"
                                        *ngFor="let i of item.starrate">
                                    </i></span>
                            </div>
                            <p>
                                <b>{{item.fullname}}</b>
                                <br>
                                {{item.label}}
                            </p>
                            <hr>
                            <p>
                                <b>{{item.feedbackby}}</b>
                            </p>
                            {{(item.feedbackcomment | slice:0:100)}}
                            <a class="tooltips" style="cursor:pointer; font-size: 13px;" *ngIf="item.feedbackcomment.length>100"
                                (click)="openReadMorePopup(item.feedbackcomment)">
                                    <b>{{'SKILLEDWORKERREVIEW.SWORKER_BUTTON_READFULL'
                                    | translate}}</b></a>
                        </div> 
                    </div>
                </div>
            </div>
            <!--Grid column-->
        </div>
        <!--Slides-->
        <!-- Left and right controls -->
        <div class="mt-md-4"></div>
        <div class="row">
            <a  *ngIf="isPrevious" class="carousel-control-prev" href="#multi-item-example" (click)="onTogglePrev()" data-slide="prev">
                <span class="carousel-control-prev-icon" ></span>
            </a>
            <a *ngIf=" isNext" class="carousel-control-next" href="#multi-item-example"  (click)="onToggleNext()" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
       
    </div>

    <!--Carousel Wrapper-->

    <!-- Grid row -->
    <!-- Section: Testimonials v.4 -->
</div>