<div class="container p-0">
    <div class="row">
        <div class="col-md-5 col-xl-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">{{ 'DASHBOARD_FU_PROFILE.PROFILESETTINGS' | translate }}</h5>
                </div>
                <div class="list-group list-group-flush" role="tablist">
                    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account"
                        role="tab">
                        {{ 'DASHBOARD_FU_PROFILE.PROFILE_ACCT_DETAILS' | translate }}
                    </a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#password" role="tab">
                        {{ 'DASHBOARD_FU_PROFILE.PROFILE_CHANGEPWD' | translate }}
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-7 col-xl-8">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="account" role="tabpanel">
                    <form [formGroup]="editprofileForm" (ngSubmit)="preparetosaveorupdateeditprofile()">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-actions float-right">
                                </div>
                                <h4 class="card-title mb-0">
                                    {{ 'DASHBOARD_FU_PROFILE.PROFILE_BASICINFOR' | translate }}
                                </h4>
                                <small *ngIf="this.userService.currentUserValue.userroles.rolecode =='FREELANCER_USER'">
                                    <i class="fa fa-info-circle form-control-icon">
                                    </i>
                                    <span style="color:white">
                                        {{'DASHBOARD_FU_PROFILE.PROFILE_BASIC_DETAILS_INFO_2' | translate }}
                                    </span>
                                </small>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <span>
                                                <i class="fa fa-at form-control-icon"></i>
                                            </span>
                                            <input readonly=true placeholder="Email Address" type="text"
                                                class="form-control" formControlName="username">
                                        </div>
                                        <div class="form-group">
                                            <span>
                                                <i class="fa fa-user-circle form-control-icon"></i>
                                            </span>
                                            <input type="text"
                                                placeholder=" {{ 'DASHBOARD_FU_PROFILE.PROFILE_FIRSTNAME' | translate }}"
                                                class="form-control" id="inputFirstName"
                                                [ngClass]="{ 'is-invalid': issubmit && f.firstname.errors }"
                                                formControlName="firstname">
                                            <div *ngIf="issubmit && f.firstname.errors" class="invalid-feedback">
                                                <div *ngIf="f.firstname.errors.required">
                                                    {{ 'DASHBOARD_FU_PROFILE.PROFILE_FIRSTNAME_REQ' | translate }}
                                                </div>
                                                <div *ngIf="f.firstname.errors.maxlength">
                                                    {{ 'DASHBOARD_FU_PROFILE.PROFILE_FIRSTNAME_EXCEED' | translate }}
                                                </div>
                                            </div>
                                            <small class="w-100"
                                                *ngIf="this.userService.currentUserValue.userroles.rolecode =='FREELANCER_USER'">
                                                {{'DASHBOARD_FU_PROFILE.PROFILE_FIRSTNAME_INSTRUCTIONS' | translate }}
                                            </small>
                                        </div>
                                        <div class="form-group">
                                            <span>
                                                <i class="fa fa-user-circle form-control-icon"></i>
                                            </span>
                                            <input type="text"
                                                placeholder="{{ 'DASHBOARD_FU_PROFILE.PROFILE_LASTNAME' | translate }}"
                                                class="form-control" id="inputLastName" formControlName="lastname"
                                                [ngClass]="{ 'is-invalid': issubmit && f.lastname.errors }">
                                            <div *ngIf="issubmit && f.lastname.errors" class="invalid-feedback">
                                                <div *ngIf="f.lastname.errors.required">
                                                    {{ 'DASHBOARD_FU_PROFILE.PROFILE_LASTNAME_REQ' | translate }}
                                                </div>
                                                <div *ngIf="f.lastname.errors.maxlength">
                                                    {{ 'DASHBOARD_FU_PROFILE.PROFILE_LASTNAME_EXCEED' | translate }}
                                                </div>
                                            </div>
                                            <small class="w-100"
                                                *ngIf="this.userService.currentUserValue.userroles.rolecode =='FREELANCER_USER'">
                                                {{'DASHBOARD_FU_PROFILE.PROFILE_LASTNAME_INSTRUCTIONS' | translate }}
                                            </small>
                                        </div>
                                        <div class="form-group"
                                            *ngIf="this.userService.currentUserValue.userroles.rolecode =='FREELANCER_USER'">
                                            <span>
                                                <i class="fa fa fa-language	form-control-icon"></i>
                                            </span>
                                            <select id="inputPreferedLang" class="form-control"
                                                formControlName="preferlang">
                                                <option value="en">English</option>
                                                <option value="hi">हिंदी</option>
                                                <option value="te">తెలుగు</option>
                                            </select>
                                            <small class="w-100">
                                                {{'DASHBOARD_FU_PROFILE.PROFILE_BASIC_DETAILS_INFO_1' | translate }}
                                            </small>
                                        </div>
                                        <div class="form-group">
                                            <span>
                                                <i class="fa fa-address-book form-control-icon"></i>
                                            </span>
                                            <input
                                                placeholder="{{ 'DASHBOARD_FU_PROFILE.PROFILE_ADDRESS' | translate }}"
                                                autocorrect="off" autocomplete="off" autocapitalize="off"
                                                spellcheck="off" type="text" class="form-control"
                                                formControlName="fulladdress" #search
                                                [ngClass]="{ 'is-invalid': issubmit && f.fulladdress.errors }">
                                            <div *ngIf="issubmit && f.fulladdress.errors" class="invalid-feedback">
                                                <div *ngIf="f.fulladdress.errors.required">{{
                                                    'DASHBOARD_FU_PROFILE.PROFILE_ADDRESS_REQ' | translate }}
                                                </div>
                                            </div>
                                            <small
                                                class="w-100">{{
                                                'DASHBOARD_FU_PROFILE.PROFILE_ADDRESS_INSTRUCTIONS' | translate }}</small>
                                        </div>
                                        <div class="form-group">
                                            <span>
                                                <i class="fa fa-mobile form-control-icon"></i>
                                            </span>
                                            <input type="text"
                                                placeholder="{{ 'DASHBOARD_FU_PROFILE.PROFILE_PHONE' | translate }}"
                                                class="form-control" id="inputLastName" formControlName="phoneno"
                                                [ngClass]="{ 'is-invalid': issubmit && f.phoneno.errors }">
                                            <div *ngIf="issubmit && f.phoneno.errors" class="invalid-feedback">
                                                <div *ngIf="f.phoneno.errors.required">
                                                    {{ 'DASHBOARD_FU_PROFILE.PROFILE_PHONE_REQ' | translate }}
                                                </div>
                                                <div *ngIf="f.phoneno.errors.maxlength">
                                                    {{ 'DASHBOARD_FU_PROFILE.PROFILE_PHONE_REQ_MAXLENG' | translate }}
                                                </div>
                                                <div *ngIf="f.phoneno.errors.pattern">{{
                                                    'DASHBOARD_FU_PROFILE.PROFILE_PHONE_INVALID' | translate }}
                                                </div>
                                                <div *ngIf="f.phoneno.errors.minlength">{{
                                                    'DASHBOARD_FU_PROFILE.PROFILE_PHONE_REQ_MINLENG' | translate }}
                                                </div>
                                            </div>
                                            <small class="w-100"
                                                *ngIf="this.userService.currentUserValue.userroles.rolecode =='FREELANCER_USER'">{{
                                                'DASHBOARD_FU_PROFILE.PROFILE_PHONE_INSTRUCTIONS' | translate }}</small>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="text-center">
                                            <div class="mt-2">
                                                <div class="avatar-upload">
                                                    <div
                                                        *ngIf="avatarURL == null && 
                                                        this.userService.currentUserValue.userroles.rolecode ==='FREELANCER_USER'">
                                                        <span style="font-size:13px;color:rgb(255, 30, 0)">
                                                            {{ 'DASHBOARD_FU_PROFILE.PROFILE_PIC_REQ' | translate }}
                                                        </span>
                                                    </div>
                                                    <div class="avatar-edit">
                                                        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg"
                                                            #fileInput (change)="uploadFile($event , 'avatar')" />
                                                    </div>
                                                    <div>
                                                        <img *ngIf="avatarURL != null" class=" img-fluid"
                                                            src="{{avatarURL}}" alt="card image" style="
                                                            height: 142px;
                                                        ">
                                                        <img *ngIf="avatarURL === null" src="{{defaultTxtImg}}"
                                                            class="mx-auto img-fluid rounded-circle" style="
                                                            height: 142px;
                                                        ">
                                                    </div>
                                                </div>
                                                <button type="button" class="btn btn-danger btn-sm btn-block" *ngIf="this.userService.currentUserValue.userroles.rolecode
                                                    !=='FREELANCER_USER'" (click)=" fileInput.click()"> {{
                                                    'DASHBOARD_FU_PROFILE.PROFILE_PIC'
                                                    |
                                                    translate }}</button>
                                                <button type="button" class="btn btn-danger btn-sm btn-block" *ngIf="this.userService.currentUserValue.userroles.rolecode==='FREELANCER_USER' && 
                                                    !this.userService.currentUserValue.freeLanceDetails.isbgstarted"
                                                    (click)=" fileInput.click()"> {{
                                                    'DASHBOARD_FU_PROFILE.PROFILE_PIC'
                                                    |
                                                    translate }}</button>
                                            </div>
                                            <small class="text-muted">{{ 'DASHBOARD_FU_PROFILE.PROFILE_PIC_FORMAT' |
                                                translate }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" *ngIf="this.userService.currentUserValue.userroles.rolecode =='CLIENT_BUSINESS_ADMINISTRATOR' && 
                            this.userService.currentUserValue.userbizdetails.biztype == 'Company'">
                            <div class="card-header">
                                <div class="card-actions float-right">
                                </div>
                                <h4 class="card-title mb-0">Business Information</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <span>
                                            <i class="fa fa-briefcase form-control-icon"></i>
                                        </span>
                                        <input type="text" placeholder="Business Name*" class="form-control"
                                            formControlName="bizname"
                                            [ngClass]="{ 'is-invalid': issubmit && f.bizname.errors }">
                                        <div *ngIf="issubmit && f.bizname.errors" class="invalid-feedback">
                                            <div *ngIf="f.bizname.errors.required">Business Name is required
                                            </div>
                                            <div *ngIf="f.bizname.errors.maxlength">Business Name cant exceed 40
                                                char</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <span>
                                            <i class="fa fa-globe form-control-icon"></i>
                                        </span>
                                        <input type="text" placeholder="Business Website" class="form-control"
                                            formControlName="bizwebsite"
                                            [ngClass]="{ 'is-invalid': issubmit && f.bizwebsite.errors }">
                                        <div *ngIf="issubmit && f.bizwebsite.errors" class="invalid-feedback">
                                            <div *ngIf="f.bizwebsite.errors.maxlength">Business Website cant exceed 40
                                                char</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span>
                                        <i class="fa fa-bullhorn form-control-icon"></i>
                                    </span>
                                    <textarea placeholder="About Business*" class="form-control"
                                        formControlName="abtbiz"
                                        [ngClass]="{ 'is-invalid': issubmit && f.abtbiz.errors }">
                                    <div *ngIf="issubmit && f.abtbiz.errors" class="invalid-feedback">
                                        <div *ngIf="f.abtbiz.errors.required">About Business is required
                                        </div>
                                      </div>
                                        </textarea>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <span>
                                            <i class="fa fa-bars form-control-icon"></i>
                                        </span>
                                        <input type="text" readonly=true placeholder="Business Type*"
                                            class="form-control" formControlName="biztype">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <span>
                                            <i class="fa fa-asterisk  form-control-icon"></i>
                                        </span>
                                        <input type="text" placeholder="Designation*" class="form-control"
                                            formControlName="designation"
                                            [ngClass]="{ 'is-invalid': issubmit && f.designation.errors }">
                                        <div *ngIf="issubmit && f.designation.errors" class="invalid-feedback">
                                            <div *ngIf="f.designation.errors.required">Designation is required
                                            </div>
                                            <div *ngIf="f.designation.errors.maxlength">Designation cant exceed 40
                                                char</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span>
                                        <i class="fa fa-at form-control-icon"></i>
                                    </span>
                                    <textarea class="form-control" placeholder="Purpose of Signup*"
                                        formControlName="purposeofsignup"
                                        [ngClass]="{ 'is-invalid': issubmit && f.purposeofsignup.errors }">
                                        </textarea>
                                    <div *ngIf="issubmit && f.purposeofsignup.errors" class="invalid-feedback">
                                        <div *ngIf="f.purposeofsignup.errors.required">Purpose of Sigup is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card"
                            *ngIf="this.userService.currentUserValue.userroles.rolecode =='FREELANCER_USER'">
                            <div class="card-header">
                                <div class="card-actions float-right">
                                </div>
                                <h4 class="card-title mb-0">{{ 'DASHBOARD_FU_PROFILE.PROFILE_SKILL' | translate }}</h4>
                                <small>
                                    <i class="fa fa-info-circle form-control-icon">

                                    </i>
                                    <span style="color:white">
                                        {{ 'DASHBOARD_FU_PROFILE.PROFILE_SKILLED_INFO_2' | translate }}
                                    </span>
                                </small>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <span>
                                                    <i class="fa fa-industry form-control-icon"></i>
                                                </span>
                                                <select disabled formControlName="category" class="form-control">
                                                    <option
                                                        *ngFor="let referencelookupmap of signupComponent.referencedetailsmap"
                                                        value="{{referencelookupmap.mapId}}">
                                                        {{referencelookupmap.label}}</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <span>
                                                    <i class="fa fa fa-certificate form-control-icon"></i>
                                                </span>
                                                <select disabled class="form-control" formControlName="subCategory">
                                                    <option
                                                        *ngFor="let referencelookupmapcat of signupComponent.referencedetailsmapsubcat"
                                                        value="{{referencelookupmapcat.code}}">
                                                        {{referencelookupmapcat.label}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <span>
                                                <i class="fa fa-bullhorn form-control-icon"></i>
                                            </span>
                                            <textarea class="form-control"
                                                placeholder="{{ 'DASHBOARD_FU_PROFILE.PROFILE_ABTU' | translate }}"
                                                formControlName="abt"></textarea>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <span>
                                                    <i class="fa fa-graduation-cap form-control-icon"></i>
                                                </span>
                                                <input type="text"
                                                    placeholder="{{ 'DASHBOARD_FU_PROFILE.PROFILE_TOTALEXP' | translate }}"
                                                    class="form-control" formControlName="experienceInField"
                                                    [ngClass]="{ 'is-invalid': issubmit && f.experienceInField.errors }">
                                                <div *ngIf="issubmit && f.experienceInField.errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="f.experienceInField.errors.required">
                                                        {{ 'DASHBOARD_FU_PROFILE.PROFILE_EXP_REQ' | translate }}
                                                    </div>
                                                    <div *ngIf="f.experienceInField.errors.maxlength">
                                                        {{ 'DASHBOARD_FU_PROFILE.PROFILE_EXP_EXCEED' | translate }}
                                                    </div>
                                                    <div *ngIf="f.experienceInField.errors.pattern">
                                                        {{ 'DASHBOARD_FU_PROFILE.PROFILE_DIGIT' | translate }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <span>
                                                    <i class="fa fa-inr form-control-icon"></i>
                                                </span>
                                                <input type="text"
                                                    placeholder="{{ 'DASHBOARD_FU_PROFILE.PROFILE_HOURLYRATE' | translate }}"
                                                    class="form-control" formControlName="hourlyRate"
                                                    [ngClass]="{ 'is-invalid': issubmit && f.hourlyRate.errors }">
                                                <div *ngIf="issubmit && f.hourlyRate.errors" class="invalid-feedback">
                                                    <div *ngIf="f.hourlyRate.errors.required">
                                                        {{ 'DASHBOARD_FU_PROFILE.PROFILE_HOURLYRATE_REQ' | translate }}
                                                    </div>
                                                    <div *ngIf="f.hourlyRate.errors.maxlength">
                                                        {{ 'DASHBOARD_FU_PROFILE.PROFILE_HOURLYRATE_EXCEED' | translate
                                                        }}
                                                    </div>
                                                    <div *ngIf="f.hourlyRate.errors.pattern"> {{
                                                        'DASHBOARD_FU_PROFILE.PROFILE_DIGIT' | translate }}</div>
                                                </div>
                                                <small class="w-100">
                                                    {{ 'DASHBOARD_FU_PROFILE.PROFILE_SKILLED_INFO' | translate }}
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="text-center">
                                            <div *ngIf="roleCode =='FREELANCER_USER'">
                                                <div *ngIf="nationalIDURL == null">
                                                    <span style="font-size:13px;color:rgb(255, 30, 0)">
                                                        {{ 'DASHBOARD_FU_PROFILE.PROFULE_NATION_ID_REQ' | translate }}
                                                    </span>
                                                </div>
                                                <div class="avatar-upload">
                                                    <div class="avatar-edit">
                                                        <input type='file' accept=".png,.jpg,.jpeg" #fileInput
                                                            (change)="uploadFile($event , 'nationalid')" />
                                                    </div>
                                                    <div class="avatar-square-preview" *ngIf="nationalIDURL != null">
                                                        <div id="imagePreview"
                                                            [style.backgroundImage]="'url('+ nationalIDURL +')'">
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn btn-info btn-sm"
                                                    (click)="fileInput.click()" *ngIf="nationalIDURL == null && 
                                                !this.userService.currentUserValue.freeLanceDetails.isbgstarted
                                                 ">
                                                    <span>
                                                        {{ 'DASHBOARD_FU_PROFILE.PROFILE_UPLOAD' | translate }}</span>
                                                </button>
                                                <button type="button" class="btn btn-info btn-sm"
                                                    (click)="fileInput.click()" *ngIf="nationalIDURL != null && 
                                                !this.userService.currentUserValue.freeLanceDetails.isbgstarted
                                                 ">
                                                    <span>
                                                        {{ 'DASHBOARD_FU_PROFILE.PROFILE_REUPLOAD' | translate }}</span>
                                                </button>
                                            </div>
                                            <small class="text-muted">{{ 'DASHBOARD_FU_PROFILE.PROFILE_PIC_FORMAT' |
                                                translate }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card"
                            *ngIf="this.userService.currentUserValue.userroles.rolecode =='FREELANCER_USER'">
                            <div class="card-header">
                                <div class="card-actions float-right">
                                </div>
                                <h4 class="card-title mb-0">{{ 'DASHBOARD_FU_PROFILE.PROFILE_BANKDETAILS' | translate }}
                                </h4>
                                <small>
                                    <i class="fa fa-info-circle form-control-icon">
                                    </i>
                                    <span style="color:white">
                                        {{ 'DASHBOARD_FU_PROFILE.PROFILE_BANKDETAILS_INFO' | translate }}
                                    </span>
                                </small>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <span>
                                                <i class="fa fa-user-o form-control-icon"></i>
                                            </span>
                                            <input type="text"
                                                placeholder="{{ 'DASHBOARD_FU_PROFILE.PROFILE_BANKACCTNAME' | translate }}"
                                                class="form-control" formControlName="accountname"
                                                [ngClass]="{ 'is-invalid': issubmit && f.accountname.errors }">
                                            <div *ngIf="issubmit && f.accountname.errors" class="invalid-feedback">
                                                <div *ngIf="f.accountname.errors.required">{{
                                                    'DASHBOARD_FU_PROFILE.PROFILE_BANKACCTNAME_REQ' | translate }}
                                                </div>
                                                <div *ngIf="f.accountname.errors.maxlength">
                                                    {{ 'DASHBOARD_FU_PROFILE.PROFILE_BANKACCTNAME_EXCEED' | translate }}
                                                </div>
                                                <div *ngIf="f.accountname.errors.pattern">{{
                                                    'DASHBOARD_FU_PROFILE.PROFILE_ONLYALPHATES' | translate }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <span>
                                                <i class="fa fa-university  form-control-icon"></i>
                                            </span>
                                            <input type="text"
                                                placeholder="{{ 'DASHBOARD_FU_PROFILE.PROFILE_BANKACCT' | translate }}"
                                                class="form-control" formControlName="accountno"
                                                [ngClass]="{ 'is-invalid': issubmit && f.accountno.errors }">
                                            <div *ngIf="issubmit && f.accountno.errors" class="invalid-feedback">
                                                <div *ngIf="f.accountno.errors.required">{{
                                                    'DASHBOARD_FU_PROFILE.PROFILE_BANKACCT_REQ' | translate }}
                                                </div>
                                                <div *ngIf="f.accountno.errors.maxlength">
                                                    {{ 'DASHBOARD_FU_PROFILE.PROFILE_BANKACCT_EXCEED' | translate }}
                                                </div>
                                                <div *ngIf="f.accountno.errors.pattern">{{
                                                    'DASHBOARD_FU_PROFILE.PROFILE_DIGIT' | translate }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <span>
                                                <i class="fa fa-university  form-control-icon"></i>
                                            </span>
                                            <input type="password" formControlName="verfiyaccountno"
                                                class="form-control" autocomplete="new-password"
                                                placeholder="{{'DASHBOARD_FU_PROFILE.PROFILE_BANKACCT_VERIFY' | translate }}"
                                                [ngClass]="{ 'is-invalid': issubmit && f.verfiyaccountno.errors }">
                                            <div *ngIf="issubmit && f.verfiyaccountno.errors" class="invalid-feedback">
                                                <div *ngIf="f.verfiyaccountno.errors.required">{{
                                                    'DASHBOARD_FU_PROFILE.PROFILE_BANKACCT_VERIFY_REQ' | translate }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <span>
                                                <i class="fa fa-barcode  form-control-icon"></i>
                                            </span>
                                            <input type="text"
                                                placeholder="{{ 'DASHBOARD_FU_PROFILE.PROFILE_IFSCCODE' | translate }}"
                                                class="form-control" formControlName="ifsc"
                                                [ngClass]="{ 'is-invalid': issubmit && f.ifsc.errors }">
                                            <div *ngIf="issubmit && f.ifsc.errors" class="invalid-feedback">
                                                <div *ngIf="f.ifsc.errors.required">{{
                                                    'DASHBOARD_FU_PROFILE.PROFILE_IFSCCODE_REQ' | translate }}
                                                </div>
                                                <div *ngIf="f.ifsc.errors.maxlength">{{
                                                    'DASHBOARD_FU_PROFILE.PROFILE_IFSCCODE_EXCEED' | translate }}</div>
                                                <div *ngIf="f.ifsc.errors.minlength">{{
                                                    'DASHBOARD_FU_PROFILE.PROFILE_IFSCCODE_MINEXCEED' | translate }}
                                                </div>
                                            </div>
                                            <small class="w-100">
                                                {{'DASHBOARD_FU_PROFILE.PROFILE_BANKDETAILS_INSTRUCTIONS' | translate }}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer pull-left">
                            <div class="row">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input"
                                        formControlName="accepteditprofileterms"
                                        [ngClass]="{ 'is-invalid': issubmit && f.accepteditprofileterms.errors }">
                                    <label class="form-check-label" for="exampleCheck1">{{'HOMESIGNUP.SIGNUP_TERM_AGREE_LABEL' |
                                        translate}}
                                        <a href={{signupComponent.termsofservice}} target="_blank">{{'HOMESIGNUP.SIGNUP_TERMOFSERVICE' |
                                            translate}} </a> &
                                        <a href={{signupComponent.privacypolicy}} target="_blank">{{'HOMESIGNUP.SIGNUP_PRIVACYPOLICY' |
                                            translate}}</a></label>
                                    <div *ngIf="issubmit && f.accepteditprofileterms.errors" class="invalid-feedback">
                                        <div *ngIf="f.accepteditprofileterms.errors.required">
                                            {{'HOMESIGNUP.SIGNUP_VALIDATION_TERMS_POLICYCHECKBOX_REQ' | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer ">
                            <button type="submit" class="btn btn-primary">
                                {{ 'DASHBOARD_FU_PROFILE.PROFILE_SAVECHANGES_BUTTON' | translate }}</button>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="password" role="tabpanel">
                    <form [formGroup]="pwdForm" (ngSubmit)="savePwdDetails()">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-actions float-right">
                                </div>
                                <h5 class="card-title mb-0">{{ 'DASHBOARD_FU_PROFILE.PROFILE_PWD' | translate }}</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="inputPasswordNew">{{ 'DASHBOARD_FU_PROFILE.PROFILE_NEWPWD' | translate
                                        }}</label>
                                    <input type="password" formControlName="newpassword" class="form-control"
                                        [ngClass]="{ 'is-invalid': ispwdsubmit && p.newpassword.errors }">
                                    <div *ngIf="ispwdsubmit && p.newpassword.errors" class="invalid-feedback">
                                        <div *ngIf="p.newpassword.errors.required">{{
                                            'DASHBOARD_FU_PROFILE.PROFILE_NEWPWD_REQ' | translate }}
                                        </div>
                                        <div *ngIf="p.newpassword.errors.minlength">{{
                                            'DASHBOARD_FU_PROFILE.PROFILE_NEWPWD_EXCEED' | translate }}</div>
                                        <div *ngIf="p.newpassword.errors.pattern">{{
                                                'DASHBOARD_FU_PROFILE.PROFILE_PASSWORD_INVALID' | translate }}
                                        </div>
                                    </div>
                                    <small class="text-muted">
                                       Your password needs to :
                                            <ul class="square">
                                                <li>{{ 'DASHBOARD_FU_PROFILE.PROILE_PASSWORD_POLICY_1' |
                                                    translate }}</li>
                                                <li>{{ 'DASHBOARD_FU_PROFILE.PROILE_PASSWORD_POLICY_2' |
                                                    translate }}</li>
                                                <li>{{ 'DASHBOARD_FU_PROFILE.PROILE_PASSWORD_POLICY_3' |
                                                    translate }}</li>
                                                <li>{{ 'DASHBOARD_FU_PROFILE.PROILE_PASSWORD_POLICY_4' |
                                                    translate }}</li>
                                              </ul>
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="inputPasswordNew2">{{ 'DASHBOARD_FU_PROFILE.PROFILE_VERFIYPWD' |
                                        translate }}</label>
                                    <input type="password" formControlName="verifypassword" class="form-control"
                                        [ngClass]="{ 'is-invalid': ispwdsubmit && p.verifypassword.errors }">
                                    <div *ngIf="ispwdsubmit && p.verifypassword.errors" class="invalid-feedback">
                                        <div *ngIf="p.verifypassword.errors.required">{{
                                            'DASHBOARD_FU_PROFILE.PROFILE_VERFIYPWD_REQ' | translate }}
                                        </div>
                                        <div *ngIf="p.verifypassword.errors.minlength">{{
                                            'DASHBOARD_FU_PROFILE.PROFILE_VERIFYPWD_EXCEED' | translate }}</div>
                                        <div *ngIf="p.verifypassword.errors.pattern">{{
                                                'DASHBOARD_FU_PROFILE.PROFILE_PASSWORD_INVALID' | translate }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">{{
                                    'DASHBOARD_FU_PROFILE.PROFILE_SAVEPASSWEDCHANGE' | translate }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>