<div class="section-2-container section-container">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <br>
                <img  src="assets/img/backgrounds/freelance.PNG" style="width:100%;">
            </div>
            <div class="col-md-8 section-2-box wow fadeInLeft">
                <h3 align="left">{{ 'CLIENTONBOARD.FREELANCER' | translate }}</h3>
                <p align="justify">{{ 'CLIENTONBOARD.FREELANCER1' | translate }}</p>
            </div>
            <!-- <div class="col-sm-3">

            </div> -->
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <span class="fa fa-user logo-small"></span>
            </div>
            <div class="col-sm-5">
                <h4 align="left">{{ 'SERVICE.UPDATEYOURACCOUNT' | translate }}</h4>
                <!-- <h6 style="line-height: 20px;text-align: left;"> -->
                    <p align="justify">{{ 'SERVICE.UPDATEYOURACCOUNT1' | translate }}</p>
                <!-- </h6> -->
            </div>
           
            <div class="col-sm-1">
                <span class="fa fa-binoculars  logo-small"></span>
            </div>
            <div class="col-sm-5">
                <h4 align="left">{{ 'SERVICE.BACKGROUNDCHECK' | translate }}</h4>
                <!-- <h6 style="line-height: 20px;text-align: left;"> -->
                    <p align="justify">{{ 'SERVICE.BACKGROUNDCHECK1' | translate }}</p>
                <!-- </h6> -->
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1">
                <span class="fa fa-university logo-small"></span>
            </div>
            <div class="col-sm-5">
                <h4 align="left">{{ 'SERVICE.PAYFOROPPORTUNITY' | translate }}</h4>
                <!-- <h6 style="line-height: 20px; text-align: left;"> -->
                    <p align="justify">{{ 'SERVICE.PAYFOROPPORTUNITY1' | translate }}</p>
                <!-- </h6> -->
            </div>
            <div class="col-sm-1">
                <span class="fa fa-briefcase logo-small"></span>
            </div>
            <div class="col-sm-5">
                <h4 align="left">{{ 'SERVICE.JOBASSIGNMENT' | translate }}</h4>
                <!-- <h6 style="line-height: 20px; text-align: left;"> -->
                    <p align="justify">{{ 'SERVICE.JOBASSIGNMENT1' | translate }}</p>
                <!-- </h6> -->
            </div>
        </div>
    </div>
</div>