<div class="section-2-container section-container">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <br>
                <img src="assets/img/backgrounds/freelance.PNG" style="width:100%;">
            </div>
            <div class="col-md-8 section-2-box wow fadeInLeft">
                <h4 align="left">{{ 'ONBOARD.FREELANCER' | translate }}</h4>
                <p align="justify">{{ 'ONBOARD.FREELANCER1' | translate }}</p>
            </div>
        </div>
    </div>
    <div class="mt-4">
    </div>
    <div style="margin: 10px;"> </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <span class="fa fa-user logo-small"></span>
            </div>
            <div class="col-sm-5">
                <h4 align="left">{{ 'ONBOARD.UPDATEYOURACCOUNT' | translate }}</h4>
                <!-- <h6 style="line-height: 20px;text-align: left;"> -->
                <p align="justify">{{ 'ONBOARD.UPDATEYOURACCOUNT1' | translate }}</p>
                <!-- </h6> -->
            </div>
            <div class="col-sm-1">
                <span class="fa fa-university logo-small"></span>
            </div>
            <div class="col-sm-5">
                <h4 align="left">{{ 'ONBOARD.PAYFOROPPORTUNITY' | translate }}</h4>
                <!-- <h6 style="line-height: 20px; text-align: left;"> -->
                <p align="justify">{{ 'ONBOARD.PAYFOROPPORTUNITY1' | translate }}</p>
                <!-- </h6> -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <span class="fa fa-binoculars  logo-small"></span>
            </div>
            <div class="col-sm-5">
                <h4 align="left">{{ 'ONBOARD.BACKGROUNDCHECK' | translate }}</h4>
                <!-- <h6 style="line-height: 20px;text-align: left;"> -->
                <p align="justify">{{ 'ONBOARD.BACKGROUNDCHECK1' | translate }}</p>
                <!-- </h6> -->
            </div>

            <div class="col-sm-1">
                <span class="fa fa-briefcase logo-small"></span>
            </div>
            <div class="col-sm-5">
                <h4 align="left">{{ 'ONBOARD.JOBASSIGNMENT' | translate }}</h4>
                <!-- <h6 style="line-height: 20px; text-align: left;"> -->
                <p align="justify">{{ 'ONBOARD.JOBASSIGNMENT1' | translate }}</p>
                <!-- </h6> -->
            </div>
        </div>
    </div>
</div>