<nav class="navbar navbar-fixed-top navbar-toggleable-sm navbar-expand-md navbar-dark mb-3">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#collapsingNavbar"
        *ngIf="this.userService.currentUserValue.userroles.rolecode !== 'FREELANCER_USER'">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="flex-row d-flex">
        <a class="scroll-link" style="border: 0;">
            <img src="assets/img/logo-transparent.png" width="70" height="60"
                class="rounded-circle d-inline-block align-top" alt="Kaam Karega Dashboard"></a>&nbsp;
        <span class="logo-title">{{ 'HOMENAV.COMPANYNAMEPART1' | translate }}<span class="logo-u">{{
                'HOMENAV.COMPANYNAMEPART2' | translate }}</span></span>
        <button type="button" onclick="offcanvas()" class="hidden-sm-up navbar-toggler" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse" id="collapsingNavbar"
        *ngIf="this.userService.currentUserValue.userroles.rolecode !== 'FREELANCER_USER'">
        <div class="combobox">
            <input type="search" [(ngModel)]="inputItem" (ngModelChange)="getFilteredList()"
                (keyup.enter)="search( inputItemCode , inputItem)" class="combobox-input form-control"
                (keyup)="onKeyPress($event);" (blur)="toggleListDisplay(0)" (focus)="toggleListDisplay(1)"
                placeholder="Search By Skilled Worker Skill" [ngClass]="{'error': showError}">
            <a type="submit" class="nav-link" (click)="search( inputItemCode , inputItem)"
                class="btn btn-text pull-right" style="margin-top: -38px;"><i class="fa fa-search"></i></a>
            <span *ngIf="showError" class="error-text"><i>Invalid Selection.</i></span>
            <div class="combobox-options" *ngIf="!listHidden">
                <list-item *ngFor="let item of filteredList;let i = index" (click)="selectItem(i)"
                    [ngClass]="{'selected': i===selectedIndex}">
                    <div class="row mb-1"></div>{{item.label}}
                </list-item>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid background" id="main">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-md-3 col-lg-2 sidebar-offcanvas" id="sidebar" role="navigation">
            <ul class="nav flex-column pl-1">
                <li class="nav-item"
                    *ngIf="this.userService.currentUserValue.userroles.rolecode ==='CLIENT_BUSINESS_ADMINISTRATOR'">
                    <a [routerLink]="['/dashboard']" class="list-group-item list-group-item-action bg-light">
                        <i class="fa fa-tachometer" style="color:#FF4949"></i>
                        <b>
                            Our Services
                        </b>
                    </a>
                </li>
                <li class="nav-item"
                    *ngIf="this.userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_TEAM' || this.userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_MANAGER'">
                    <a [routerLink]="['/dashboard']" class="list-group-item list-group-item-action bg-light">
                        <i class="fa fa-tachometer" style="color:#FF4949"></i>
                        <b>
                            Dashboard
                        </b>
                    </a>
                </li>
                <li *ngIf="this.userService.currentUserValue.userroles.rolecode ==='FREELANCER_USER'">
                    <a [routerLink]="['/dashboard']" class="list-group-item list-group-item-action bg-light">
                        <i class="fa fa-tachometer" style="color:#FF4949"></i>
                        <b>
                            {{ 'DASHOARD_FU_MENU.SUMMARY' | translate }}
                        </b>
                    </a>
                </li>
                <li
                    *ngIf="this.userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_TEAM' || this.userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_MANAGER'">
                    <a [routerLink]="['/manageuser']" class="list-group-item list-group-item-action bg-light">
                        <i class="fa fa-cogs" style="color:#FF4949"></i>
                        <b> Manage Users</b>
                    </a>
                </li>
                <li
                    *ngIf="this.userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_TEAM' || this.userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_MANAGER'">
                    <a [routerLink]="['/manageservice']" class="list-group-item list-group-item-action bg-light">
                        <i class="fa fa-gear" style="color:#FF4949"></i>
                        <b> Manage Services</b></a>
                </li>
                <li *ngIf="this.userService.currentUserValue.userroles.rolecode =='CLIENT_BUSINESS_ADMINISTRATOR'">
                    <a [routerLink]="['/myservices']" class="list-group-item list-group-item-action bg-light">
                        <i class="fa fa-cogs" style="color:#FF4949"></i>
                        <b>
                            My Services
                        </b>
                    </a>
                </li>
                <li *ngIf="this.userService.currentUserValue.userroles.rolecode =='CLIENT_BUSINESS_ADMINISTRATOR'">
                    <a [routerLink]="['/paymenthistory']" class="list-group-item list-group-item-action bg-light">
                        <i class="fa fa-sitemap" style="color:#FF4949"></i>
                        <b>
                            Payment History
                        </b>
                    </a>
                </li>
                <li *ngIf="this.userService.currentUserValue.userroles.rolecode =='CLIENT_BUSINESS_ADMINISTRATOR'">
                    <a [routerLink]="['/job']" class="list-group-item list-group-item-action bg-light">
                        <i class="fa fa-group" style="color:#FF4949"></i>
                        <b>
                            Manage Jobs
                        </b>
                    </a>
                </li>
                <li
                    *ngIf="this.userService.currentUserValue.userroles.rolecode =='FREELANCER_USER' && this.userService.currentUserValue.freeLanceDetails.isregfeedone">
                    <a [routerLink]="['/paymenthistory']" class="list-group-item list-group-item-action bg-light">
                        <i class="fa fa-sitemap" style="color:#FF4949"></i>
                        <b>
                            {{ 'DASHOARD_FU_MENU.PAYMENTHISTORY' | translate }}
                        </b>
                    </a>
                </li>
                <li
                    *ngIf="this.userService.currentUserValue.userroles.rolecode =='FREELANCER_USER' && userService.currentUserValue.freeLanceDetails.bgcurrentstatus == 'BG_APPROVED'">
                    <a [routerLink]="['/fureviews']" class="list-group-item list-group-item-action bg-light">
                        <i class="fa fa-commenting-o" style="color:#FF4949"></i>
                        <b>
                            {{ 'DASHOARD_FU_MENU.REVIEWS' | translate }}
                        </b>
                    </a>
                </li>
                <li *ngIf="this.userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_MANAGER'"><a
                        [routerLink]="['/signupadmin']" class="list-group-item list-group-item-action bg-light">
                        <i class="fa fa-gear" style="color:#FF4949"></i>
                        <b>
                            Create User
                        </b>
                    </a></li>
                <li *ngIf="this.userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_TEAM'"><a
                        [routerLink]="['/newservice']" class="list-group-item list-group-item-action bg-light">
                        <i class="fa fa-gear" style="color:#FF4949"></i>
                        <b>
                            Create Service
                        </b>
                    </a></li>
                <li>
                    <a class="list-group-item list-group-item-action bg-light btn" (click)="logout()">
                        <i class="fa fa-sign-out" style="color:#FF4949"></i>
                        <b>{{ 'DASHOARD_HEADER.LOGOUT' | translate }}</b>
                    </a>
                </li>
            </ul>
        </div>
        <!--/col-->
        <div class="col-md-9 col-lg-10 main">
            <div class="container">
                <div class="bread-cumb">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <span><b>{{ 'DASHOARD_HEADER.WELCOMEBACK' | translate }}
                                    {{this.userService.currentUserValue.fullname}}</b></span>
                        </div>
                        <div class="col-xl-4 col-lg-6">
                            <span class="float-right">
                                <small><i>{{indiaTime}}</i></small>
                            </span>
                        </div>
                        <div class="col-xl-2 col-lg-6 float-right">
                            <a style="cursor:pointer" (click)='openNotifcationWindow()'
                                *ngIf="notifcationbellList != null && notifcationbellList.length>0; else NoNotifiction ">
                                <i class="fa fa-comments-o">{{notifcationbellList.length}}</i>
                            </a> &nbsp;
                            <ng-template #NoNotifiction>
                                <i class="fa fa-comments-o">0</i>
                            </ng-template>
                            <a routerLink='/vieworeditprofile/{{userService.currentUserValue.userId}}'>
                                <img *ngIf="userService.currentUserValue.avtarurl != null" class="avatar"
                                    src="{{userService.currentUserValue.avtarurl}}">
                                <img *ngIf="userService.currentUserValue.avtarurl === null" src="{{defaultTxtImg}}"
                                    class="avatar">
                            </a>
                        </div>
                    </div>
                </div>
                <!--Alert-->
                <div class="alert alert-success alert-dismissible fade show w-100" role="alert"
                    *ngIf="txtid != null && ispaysuccess">
                    <h4 class="display-5"
                        *ngIf="this.userService.currentUserValue.userroles.rolecode ==='FREELANCER_USER'">
                        We have recieved your payment and here is the transcation Id
                        <a [routerLink]="['/payment',txtid]">
                            {{txtid}}
                        </a>
                    </h4>
                    <h4 class="display-5"
                        *ngIf="this.userService.currentUserValue.userroles.rolecode ==='CLIENT_BUSINESS_ADMINISTRATOR'">
                        We have recieved your payment and here is the transcation Id
                        <a [routerLink]="['/payment',txtid]">
                            {{txtid}}
                        </a>
                        <a [routerLink]="['/myservices']">
                            <b>
                                <small> Go to my service</small>
                            </b>
                        </a>
                    </h4>
                    <!--Close Icon-->
                    <button type="button" class="btn close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <router-outlet></router-outlet>
            </div>
            <!--/row-->
            <!--/row-->
            <!--/row-->
        </div>
        <!--/main col-->
    </div>
</div>
<!-- Footer Section -->
<div class="row mb-3"></div>
<app-footer></app-footer>
<!--/.container-->