<nav class="navbar navbar-fixed-top navbar-toggleable-sm navbar-expand-md navbar-dark mb-3 py-2" onclick="topFunction()">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#collapsingNavbar"
        *ngIf="this.userService.currentUserValue.userroles.rolecode !== 'FREELANCER_USER'">
        <span>
            <i class="fa fa-search" aria-hidden="true" style="color:#FF4949"></i>
        </span>
    </button>
    <a class="scroll-link" [routerLink]="['/_dashboard']">
        <img src="assets/img/logo-transparent.png" width="70" height="60"
            class="rounded-circle d-inline-block align-top" alt="Kaam Karega Dashboard"></a>
    <span class="logo-title mr-3">{{ 'HOMENAV.COMPANYNAMEPART1' | translate }}<span class="logo-u">{{
                'HOMENAV.COMPANYNAMEPART2' | translate }}</span></span>
    <button type="button" onclick="offcanvas()" class="hidden-sm-up navbar-toggler" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col-lg-6"></div>
    <div class="navbar-collapse collapse" id="collapsingNavbar" style="padding:10px;"
        *ngIf="this.userService.currentUserValue.userroles.rolecode !== 'FREELANCER_USER' && this.userService.currentUserValue.userroles.rolecode !== 'DIRECTORS'">
        <div class="row col-12">
            <div class="col-10 col-lg-10 col-md-5">
                <input type="search" [(ngModel)]="inputItem" (ngModelChange)="getFilteredList()"
                    (keyup.enter)="search(inputItem)" class="form-control" (keyup)="onKeyPress($event);"
                    (blur)="toggleListDisplay(0)" (focus)="toggleListDisplay(1)" placeholder="Search by skill name"
                    [ngClass]="{'error': showError}">
                <div class="col-11 combobox-options" *ngIf="!listHidden">
                    <list-item class="nav-link rounded-pill" *ngFor="let item of filteredList;let i = index"
                        (click)="selectItem(i)" [ngClass]="{'selected': i===selectedIndex}">
                        <small>{{item.label}}</small>
                    </list-item>
                </div>
            </div>
            <div class="col-2 col-lg-2 col-md-5">
                <a type="submit" (click)="search(inputItem)" class="btn btn-md btn-warning pull-right">
                    <i class="fa fa-search"></i>
                </a>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid background" id="main">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-md-3 col-lg-2 sidebar-offcanvas" id="sidebar" role="navigation">
            <ul class="nav flex-column pl-1">
                <li class="nav-item"
                    *ngIf="this.userService.currentUserValue.userroles.rolecode ==='CLIENT_BUSINESS_ADMINISTRATOR'">
                    <a [routerLink]="['/_dashboard']" class="list-group-item list-group-item-action bg-light">
                        <i class="fa fa-cogs" style="color:#FF4949"></i>
                        <b>
                            Our Services
                        </b>
                    </a>
                </li>
                <li class="nav-item" *ngIf="this.userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_TEAM' || 
                    this.userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_MANAGER' ||
                    this.userService.currentUserValue.userroles.rolecode =='DIRECTORS'">
                    <a [routerLink]="['/_dashboard']" class="list-group-item list-group-item-action bg-light">
                        <i class="fa fa-tachometer" style="color:#FF4949"></i>
                        <b>
                            Dashboard
                        </b>
                    </a>
                </li>
                <li *ngIf="this.userService.currentUserValue.userroles.rolecode ==='FREELANCER_USER'">
                    <a [routerLink]="['/_dashboard']" class="list-group-item list-group-item-action bg-light">
                        <i class="fa fa-tachometer" style="color:#FF4949"></i>
                        <b>
                            {{ 'DASHOARD_FU_MENU.SUMMARY' | translate }}
                        </b>
                    </a>
                </li>
                <li
                    *ngIf="this.userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_TEAM' || this.userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_MANAGER'">
                    <a [routerLink]="['/_manageuser']" class="list-group-item list-group-item-action bg-light">
                        <i class="fa fa-users" style="color:#FF4949"></i>
                        <b> Manage Users</b>
                    </a>
                </li>
                <li
                    *ngIf="this.userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_TEAM' || this.userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_MANAGER'">
                    <a [routerLink]="['/_manageservice']" class="list-group-item list-group-item-action bg-light">
                        <i class="fa fa-cogs" style="color:#FF4949"></i>
                        <b> Manage Services</b></a>
                </li>
                <li *ngIf="this.userService.currentUserValue.userroles.rolecode =='CLIENT_BUSINESS_ADMINISTRATOR'">
                    <a [routerLink]="['/_myservices']" class="list-group-item list-group-item-action bg-light">
                        <i class="fa fa-cog" style="color:#FF4949"></i>
                        <b>
                            My Services
                        </b>
                    </a>
                </li>
                <li *ngIf="this.userService.currentUserValue.userroles.rolecode =='CLIENT_BUSINESS_ADMINISTRATOR'">
                    <a [routerLink]="['/_payments']" class="list-group-item list-group-item-action bg-light">
                        <i class="fa fa-inr" style="color:#FF4949"></i>
                        <b>
                            Payments
                        </b>
                    </a>
                </li>
                <li *ngIf="this.userService.currentUserValue.userroles.rolecode =='CLIENT_BUSINESS_ADMINISTRATOR'">
                    <a [routerLink]="['/_job']" class="list-group-item list-group-item-action bg-light">
                        <i class="fa fa-briefcase" style="color:#FF4949"></i>
                        <b>
                            Manage Jobs
                        </b>
                    </a>
                </li>
                <li
                    *ngIf="this.userService.currentUserValue.userroles.rolecode =='FREELANCER_USER' && this.userService.currentUserValue.freeLanceDetails.isregfeedone">
                    <a [routerLink]="['/_payments']" class="list-group-item list-group-item-action bg-light">
                        <i class="fa fa-inr" style="color:#FF4949"></i>
                        <b>
                            {{ 'DASHOARD_FU_MENU.PAYMENTHISTORY' | translate }}
                        </b>
                    </a>
                </li>
                <li
                    *ngIf="this.userService.currentUserValue.userroles.rolecode =='FREELANCER_USER' && userService.currentUserValue.freeLanceDetails.bgcurrentstatus == 'BG_APPROVED'">
                    <a [routerLink]="['/_review',this.userService.currentUserValue.userId,'usr']"
                        class="list-group-item list-group-item-action bg-light">
                        <i class="fa fa-star" style="color:#FF4949"></i>
                        <b>
                            {{ 'DASHOARD_FU_MENU.REVIEWS' | translate }}
                        </b>
                    </a>
                </li>
                <li *ngIf="this.userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_MANAGER'"><a
                        [routerLink]="['/_signupadmin']" class="list-group-item list-group-item-action bg-light">
                        <i class="fa fa-user" style="color:#FF4949"></i>
                        <b>
                            Create User
                        </b>
                    </a></li>
                <li *ngIf="this.userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_TEAM'"><a
                        [routerLink]="['/_createnewservice']" class="list-group-item list-group-item-action bg-light">
                        <i class="fa fa-cog" style="color:#FF4949"></i>
                        <b>
                            Create Service
                        </b>
                    </a></li>
                <li>
                <li *ngIf="this.userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_TEAM'  || 
                    this.userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_MANAGER'"><a
                        [routerLink]="['/_analyticsreporting']" class="list-group-item list-group-item-action bg-light">
                        <i class="fa fa-signal " style="color:#FF4949"></i>
                        <b>
                            Analytics Report
                        </b>
                    </a></li>
                <li>
                    <a class="list-group-item list-group-item-action bg-light btn" (click)="logout()">
                        <i class="fa fa-sign-out" style="color:#FF4949"></i>
                        <b>{{ 'DASHOARD_HEADER.LOGOUT' | translate }}</b>
                    </a>
                </li>
            </ul>
        </div>
        <!--/col-->
        <div class="col-md-9 col-lg-10  col-md-12 main">
            <div class="container">
                <div class="bread-cumb">
                    <div class="row">
                        <div class="col-12 col-lg-8 col-md-5">
                            <span><b>{{ 'DASHOARD_HEADER.WELCOMEBACK' | translate }}
                                    {{this.userService.currentUserValue.fullname}}</b></span>
                        </div>
                        <div class="col-5 col-lg-3 col-md-5">
                            <span class="float-right">
                                <small>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    {{commonlogic.indiaDate}}</small>
                            </span>
                        </div>

                        <div class=" col-7 col-lg-1 col-md-2">
                            <a class="pull-right"
                                routerLink='/_profilesettings/{{userService.currentUserValue.userId}}'>
                                <img *ngIf="userService.currentUserValue.avtarurl != null && this.userService.currentUserValue.userroles.rolecode !='DIRECTORS'"
                                    class="avatar" src="{{userService.currentUserValue.avtarurl}}">
                                <img *ngIf="userService.currentUserValue.avtarurl === null && this.userService.currentUserValue.userroles.rolecode !='DIRECTORS'"
                                    src="{{defaultTxtImg}}" class="avatar">
                            </a>
                            <div class="pull-right mr-2">
                                <a style="cursor:pointer" (click)='openNotifcationWindow()' *ngIf="notifcationbellList != null && notifcationbellList.length>0 && 
                             this.userService.currentUserValue.userroles.rolecode =='FREELANCER_USER' && 
                             this.userService.currentUserValue.freeLanceDetails.bgcurrentstatus == 'BG_APPROVED'">
                                    <i class="fa fa-comments-o" style="color:#FF4949">{{notifcationbellList.length}}</i>
                                </a>
                                <a style="cursor:pointer" (click)='openNotifcationWindow()'
                                    *ngIf="notifcationbellList != null && notifcationbellList.length>0 &&
                                    this.userService.currentUserValue.userroles.rolecode =='CLIENT_BUSINESS_ADMINISTRATOR'">
                                    <i class="fa fa-comments-o" style="color:#FF4949">{{notifcationbellList.length}}</i>
                                </a>
                                <a style="cursor:pointer" (click)='openNotifcationWindow()' *ngIf="notifcationbellList != null && notifcationbellList.length > 0 &&
                                this.userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_TEAM'">
                                    <i class="fa fa-comments-o" style="color:#FF4949">{{notifcationbellList.length}}</i>
                                </a>
                                <a style="cursor:pointer" (click)='openNotifcationWindow()'
                                    *ngIf="notifcationbellList != null && notifcationbellList.length > 0 &&
                                this.userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_MANAGER' ">
                                    <i class="fa fa-comments-o" style="color:#FF4949">{{notifcationbellList.length}}</i>
                                </a>
                                <a *ngIf="notifcationbellList.length==0 && 
                            this.userService.currentUserValue.userroles.rolecode !='DIRECTORS'">
                                    <i class="fa fa-comments-o">0</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Alert-->
                <div class="alert alert-success alert-dismissible fade show w-100" role="alert"
                    *ngIf="txtid != null && ispaysuccess">
                    <h5 class="display-5"
                        *ngIf="this.userService.currentUserValue.userroles.rolecode ==='FREELANCER_USER'">
                        We have recieved your payment and here is the transcation Id
                        <a [routerLink]="['/_payment',txtid]">
                            {{txtid}}
                        </a>
                    </h5>
                    <h5 class="display-5"
                        *ngIf="this.userService.currentUserValue.userroles.rolecode ==='CLIENT_BUSINESS_ADMINISTRATOR'">
                        We have recieved your payment and here is the transcation Id
                        <a [routerLink]="['/_payment',txtid]">
                            {{txtid}}
                        </a>
                        <p>
                            <a [routerLink]="['/_myservices']">
                                <b>
                                    <small> Go to My Service</small>
                                </b>
                            </a>
                        </p>
                    </h5>
                    <!--Close Icon-->
                    <button type="button" class="btn close"  data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true" style="color:red">×</span>
                    </button>
                </div>
                <router-outlet></router-outlet>
            </div>
            <!--/row-->
            <!--/row-->
            <!--/row-->
        </div>
        <!--/main col-->
    </div>
</div>
<!-- Footer Section -->
<div class="row mb-3"></div>
<footer>
    <app-footer></app-footer>
</footer>
<!--/.container-->