<nav class="navbar fixed-top navbar-expand-md navbar-dark" (scroll)="onWindowScroll($event);" id="navbar">
    <div class="flex-row d-flex">
        <button type="button" class="navbar-toggler mr-2 " data-toggle="offcanvas"
            title="Toggle responsive left sidebar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" title="Kaam Karega Dashboard">
            <img src="assets/img/9.png" width="50" height="50" class="rounded-circle d-inline-block align-top"
                alt="Kaam Karega Dashboard">
        </a>
        <span class="logo-title">Kaam<span class="logo-u">Karega</span></span>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="combobox" *ngIf="this.userService.currentUserValue.userroles.rolecode !== 'FREELANCER_USER'">
        <input type="text" [(ngModel)]="inputItem" (ngModelChange)="getFilteredList()"
            class="combobox-input form-control" (keyup)="onKeyPress($event)" (blur)="toggleListDisplay(0)"
            (focus)="toggleListDisplay(1)" placeholder="Search Freelance By Skill" [ngClass]="{'error': showError}">
        <a type="submit" class="nav-link" (click)="search( inputItemCode , inputItem)" class="btn btn-text pull-right"
            style="margin-top: -38px;"><i class="fa fa-search"></i></a>
        <span *ngIf="showError" class="error-text"><i>Invalid Selection.</i></span>
        <div class="combobox-options" *ngIf="!listHidden">
            <list-item *ngFor="let item of filteredList;let i = index" (click)="selectItem(i)"
                [ngClass]="{'selected': i===selectedIndex}">{{item.label}}
            </list-item>
        </div>
    </div>

    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <img id="profile-img" *ngIf="userService.currentUserValue.avtarurl != null" class="profile-img-card"
                    src="{{userService.currentUserValue.avtarurl}}">
                <img *ngIf="userService.currentUserValue.avtarurl === null" src="{{defaultTxtImg}}"
                    class="profile-img-card">
            </li>
            <li class="nav-item ">
                <a class="nav-link" (click)="logout()">
                    <i class="fa fa-sign-out"></i>{{ 'DASHOARD_HEADER.LOGOUT' | translate }}
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid" id="main">
    <div class="row row-offcanvas row-offcanvas-left">
        <nav class="col-sm-2 mt-4" style="border-right: 1px solid #00000038;margin-top:5rem!important;">
            <div class="pull-left" id="fixed-sidebar">
                <!-- <a href="index.html"><img id="home-logo" src="../media/logo-prueba.jpg" alt="Logo de Animanoir"></a>  -->
                <ul style="width: 119px;padding-left: 1px;padding-right: 8px;">
                    <li>
                        <a [routerLink]="['/dashboard']" class="list-group-item list-group-item-action bg-light">
                            <i class="fa fa-tachometer" style="color:#FF4949"></i>
                            <b>
                                Dashboard
                            </b>
                        </a>
                    </li>
                    <li
                        *ngIf="this.userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_TEAM' || this.userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_MANAGER'">
                        <a [routerLink]="['/manageuser']" class="list-group-item list-group-item-action bg-light">
                            <i class="fa fa-cogs" style="color:#FF4949"></i>
                            <b>Manage Users</b>
                        </a>
                    </li>
                    <li
                        *ngIf="this.userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_TEAM' || this.userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_MANAGER'">
                        <a [routerLink]="['/manageservice']" class="list-group-item list-group-item-action bg-light">
                            <i class="fa fa-gear" style="color:#FF4949"></i>
                            <b> Manage New Services</b></a>
                    </li>
                    <li *ngIf="this.userService.currentUserValue.userroles.rolecode =='CLIENT_BUSINESS_ADMINISTRATOR'">
                        <a [routerLink]="['/myservices']" class="list-group-item list-group-item-action bg-light">
                            <i class="fa fa-cogs" style="color:#FF4949"></i>
                            <b>
                                Services
                            </b>
                        </a>
                    </li>
                    <li *ngIf="this.userService.currentUserValue.userroles.rolecode =='CLIENT_BUSINESS_ADMINISTRATOR'">
                        <a [routerLink]="['/paymenthistory']" class="list-group-item list-group-item-action bg-light">
                            <i class="fa fa-sitemap" style="color:#FF4949"></i>
                            <b>
                                Payment History
                            </b>
                        </a>
                    </li>
                    <li *ngIf="this.userService.currentUserValue.userroles.rolecode =='CLIENT_BUSINESS_ADMINISTRATOR'">
                        <a [routerLink]="['/job']" class="list-group-item list-group-item-action bg-light">
                            <i class="fa fa-group" style="color:#FF4949"></i>
                            <b>
                                Manage Jobs
                            </b>
                        </a>
                    </li>
                    <li
                        *ngIf="this.userService.currentUserValue.userroles.rolecode =='FREELANCER_USER' && this.userService.currentUserValue.freeLanceDetails.isregfeedone">
                        <a [routerLink]="['/paymenthistory']" class="list-group-item list-group-item-action bg-light">
                            <i class="fa fa-sitemap" style="color:#FF4949"></i>
                            <b>
                                Payment History
                            </b>
                        </a>
                    </li>
                    <li
                        *ngIf="this.userService.currentUserValue.userroles.rolecode =='FREELANCER_USER' && this.userService.currentUserValue.freeLanceDetails.isregfeedone">
                        <a [routerLink]="['/fureviews']" class="list-group-item list-group-item-action bg-light">
                            <i class="fa fa-commenting-o" style="color:#FF4949"></i>
                            <b>
                                Reviews
                            </b>
                        </a>
                    </li>
                    <li *ngIf="this.userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_MANAGER'"><a
                            [routerLink]="['/signupadmin']" class="list-group-item list-group-item-action bg-light">
                            <i class="fa fa-gear" style="color:#FF4949"></i>
                            <b>
                                Create New User
                            </b>
                        </a></li>
                    <li *ngIf="this.userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_TEAM'"><a
                            [routerLink]="['/newservice']" class="list-group-item list-group-item-action bg-light">
                            <i class="fa fa-gear" style="color:#FF4949"></i>
                            <b>
                                Create New Service
                            </b>
                        </a></li>
                </ul>
            </div>
        </nav>

        <div class="col main pt-5 mt-4">
            <div class="container">
                <div class="bread-cumb">
                    <div class="col-md-12 no-padd">
                        <span><i>Hi,{{ 'DASHOARD_HEADER.WELCOMEBACK' | translate }} </i> <b>{{fullname}}</b></span>
                        <span class="float-right">
                            <small><i><span id='ct'></span></i></small>
                            &nbsp;&nbsp;
                            <i class="fa fa-envelope-o"></i>
                            &nbsp;
                            <i class="fa fa-bell-o"></i>
                            &nbsp;
                            <a routerLink='/vieworeditprofile/{{userService.currentUserValue.userId}}'>
                                <img *ngIf="userService.currentUserValue.avtarurl != null" class="avatar"
                                    src="{{userService.currentUserValue.avtarurl}}">
                                <img *ngIf="userService.currentUserValue.avtarurl === null" src="{{defaultTxtImg}}"
                                    class="avatar">
                            </a>
                        </span>
                    </div>
                </div>
            </div>

            <!-- <hr> -->
            <!--Alert-->
            <div class="row" *ngIf="txtid != null && ispaysuccess">
                <div class="alert alert-success alert-dismissible fade show w-100" role="alert">
                    <h4 class="display-4">We have recieved your payment details and here is the
                        transcation Id {{txtid}}</h4>
                    <!--Close Icon-->
                    <button type="button" class="btn close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>