
/*
   * Off Canvas sidebar at medium breakpoint
   * --------------------------------------------------
   */
.bg-primary {
    background-color: rgb(52 58 64) !important;
} 
   

@media screen and (max-width: 992px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
    margin-left: -6px;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    height: 100%;
  }
}

/*
   * Off Canvas wider at sm breakpoint
   * --------------------------------------------------
   */
@media screen and (max-width: 34em) {
  .row-offcanvas-left .sidebar-offcanvas {
    left: -45%;
  }

  .row-offcanvas-left.active {
    left: 45%;
    margin-left: -6px;
  }

  .sidebar-offcanvas {
    width: 45%;
  }
}

.card {
  overflow: hidden;
}

.card-body .rotate {
  z-index: 8;
  float: right;
  height: 100%;
}

.card-body .rotate i {
  color: rgba(20, 20, 20, 0.15);
  position: absolute;
  left: 0;
  left: auto;
  right: -10px;
  bottom: 0;
  display: block;
  -webkit-transform: rotate(-44deg);
  -moz-transform: rotate(-44deg);
  -o-transform: rotate(-44deg);
  -ms-transform: rotate(-44deg);
  transform: rotate(-44deg);
}

.profile-img-card {
  width: 46px;
  height: 46px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.combobox {
  margin: auto;
  margin-left: 57px;
}

.combobox-input {
  width: 330px;
  border: none;
  font-size: 18px;
}

.combobox-input:focus {
  outline-style: none;
}

.combobox-options {
  position: absolute;
  text-align: center;
  background-color: white;
  width: 350px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 2px 2px 2px 2px #ccc;
  z-index: 1;
}

.selected {
  color: cornsilk;
  background-color: rgb(165, 112, 112);
}

list-item {
  display: block;
  font-size: 18px;
  padding: 10px;
}

list-item:hover {
  background-color: grey;
  color: white;
}

.error-text {
  color: rgb(165, 112, 112);
}

.error {
  border: 1px solid red;
}
.navbar{
  padding: 0px;
  border-bottom: 1px solid gray;
}
.nav-item{
margin-top: 4px;
}

.list-group-item {
  padding: 6px 6px;
  border: 0px solid rgba(0,0,0,.125);
}

.list-group-item-action {
  color: #495057;
  /* text-align: left; */
  /* font-weight: bold; */
  text-align: center;
}

.list-group-flush:first-child .list-group-item:first-child {
    border-top: 0;
}

.bg-light .fa{
  /* background-color: #343a40!important; */
  font-size: 50px;
}

a.bg-light:focus, a.bg-light:hover, button.bg-light:focus, button.bg-light:hover {
  background-color: #dae0e5!important;
}

/* a.bg-light:focus, a.bg-light:hover, button.bg-light:focus, button.bg-light:active {
  background-color: red!important;
} */
 .list-group-item-action{
    color: black;
    /* text-align: left; */
     margin-bottom: 1px;
}

#fixed-sidebar {
  max-width: 20%;
  color: white;
  position: relative;
  /* max-width: 20%; */
  color: white;
  height: 592px;
}


.logo-title{
  font-size: 36px;
  color: white;
  font-weight: 500;
  /* margin-left: -12px; */
}

.logo-u{
  color: #FF4949;
  font-weight: 500;
  font-size: 40px;
}

.navbar-brand {
  padding-top: 5px
}