

/*
 * Off Canvas at medium breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 48em) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
    margin-left: -6px;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    height: 100%;
  }

  .milestone {
    display: none !important;
  }
}

/*
* Off Canvas wider at sm breakpoint
* --------------------------------------------------
*/

@media screen and (max-width: 34em) {
  .row-offcanvas-left .sidebar-offcanvas {
    left: -45%;
  }

  .row-offcanvas-left.active {
    left: 45%;
    margin-left: -6px;
  }

  .sidebar-offcanvas {
    width: 45%;
  }

  .milestone {
    display: none !important;
  }
}

.card {
  overflow: hidden;
}

.card-block .rotate {
  z-index: 8;
  float: right;
  height: 100%;
}

.card-block .rotate i {
  color: rgba(20, 20, 20, 0.15);
  position: absolute;
  left: 0;
  left: auto;
  right: -10px;
  bottom: 0;
  display: block;
  -webkit-transform: rotate(-44deg);
  -moz-transform: rotate(-44deg);
  -o-transform: rotate(-44deg);
  -ms-transform: rotate(-44deg);
  transform: rotate(-44deg);
}

.bg-primary {
  background-color: rgb(52 58 64) !important;
}

.navbar {
  padding: 0px;
  border-bottom: 1px solid gray;
}
.logo-title {
  font-size: 36px;
  color: white;
  font-weight: 500;
  /* margin-left: -12px; */
}

.logo-u {
  color: #ff4949;
  font-weight: 500;
  font-size: 40px;
}
.bread-cumb {
  padding: 11px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 1px 1px #de1dde;
  -moz-box-shadow: 0px 1px 1px #de1dde;
  box-shadow: 3px -2px 5px 2px #867886;
}

.avatar {
  vertical-align: middle;
  width: 30px;
  height: 26px;
  border-radius: 50%;
  margin-top: -6px;
}

.rounded-circle {
  border-radius: 15% !important;
}
 
.combobox-input:focus {
  outline-style: none;
}
.combobox-options {
  position: absolute;
  text-align: center;
  background-color: rgb(202, 198, 198);
  z-index: 1;
  cursor: pointer;
}

.selected {
  color: cornsilk;
  background-color: rgb(165, 112, 112);
}

.background {
  background-color: white;
}
