<div class="container rounded bg-white" *ngIf="displayUserServicesForCheckOut.length > 0">
    <button type="button" class="btn btn-danger mt-1 pull-right" (click)="backToDashBoard()">&times;</button>
    <div class="row d-flex justify-content-center pb-5">
        <div class="col-sm-5 col-md-5 ml-1">
            <div class="py-4 d-flex flex-row">
                <h5><span class="fa fa-check-square-o"></span><b>ELIGIBLE</b> | </h5><span class="pl-2">Pay</span>
            </div>
            <h4 class="green"> {{totalAmountToPay }} <i class="fa fa-inr"></i></h4>
            <div *ngFor="let prod of displayUserServicesForCheckOut">
                <div class="d-flex pt-2">
                    <div>
                        <p><b>{{prod.name}}</b></p>
                        <span class="green">
                            <p>
                                <i class="fa fa-inr"></i>{{prod.amount}}
                            </p>
                        </span>
                    </div>
                    <div class="ml-auto">
                        <p class="text-primary"><i class="fa fa-calendar text-primary"></i>
                            {{prod.validPeriod}}
                        </p>
                    </div>
                    <div class="ml-auto">
                        <p class="text-danger">
                            <a class="btn btn-sm"
                                (click)="removeItemFromCart(prod.serviceId ,prod.childservicepkgserviceid)">
                                <i title="Remove {{prod.name}} From Cart" class="fa fa-trash" style="color:red"></i>
                            </a>
                        </p>
                    </div>
                </div>
                <p>{{ prod.description | slice:0:100 }}{{ prod.description.length > 100 ? '....' : '' }} </p>
                <hr>
            </div>
            <div> <input type="button" (click)="openPaymentComponent(totalAmountToPay)" value="Proceed to payment"
                    class="btn btn-primary btn-block"> </div>
        </div>
        <div class="col-sm-3 col-md-4 offset-md-1 mobile">
            <div class="py-4 d-flex justify-content-end">
                <a class="btn btn-sm" (click)="backToDashBoard()">
                    <h5><u><b>Cancel and return to services </b></u></h5>
                </a>
            </div>
            <div class="bg-light rounded d-flex flex-column">
                <div class="p-2 ml-3">
                    <h4>Order Recap</h4>
                </div>
                <div class="p-2 d-flex" *ngFor="let prod of displayUserServicesForCheckOut">
                    <div class="col-8">{{prod.name}}</div>
                    <div class="ml-auto">{{prod.amount}} </div>
                </div>
                <div class="p-2 d-flex pt-3">
                    <div class="col-3"><b>Total</b></div>
                    <div class="ml-auto"><b class="green">{{totalAmountToPay | currency:"INR₹"}}</b></div>
                </div>
            </div>
        </div>
    </div>
</div>