<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div class="container table-responsive" *ngIf="displayUserServicesForCheckOut.length > 0">
    <button type="button" class="close" (click)="backToDashBoard()"><i class="fa fa-close"></i></button>
    <table id="cart" class="table table-bordered">
        <thead>
            <tr>
                <th>Service Name</th>
                <th>Price</th>
                <th>Terms</th>
                <th class="text-center">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prod of displayUserServicesForCheckOut">
                <td data-th="Product">
                    <img src="{{prod.imageUrl}}" alt="..." class="img-responsive" style="width:40px;height: 40px;"/>
                   <b>{{prod.name}}</b> <br>
                   {{ prod.description | slice:0:100 }}{{ prod.description.length > 100 ? '....' : '' }}   
                </td>
                <td data-th="Price">{{prod.amount}} </td>
                <td data-th="Terms" class="col-sm-2">
                    {{prod.validPeriod}}
                </td>
                <td data-th="Subtotal" class="text-center">
                    {{prod.amount}}
                </td>
                <td class="actions" *ngIf="!prod.isservicepack">
                    <button class="btn btn-danger btn-sm  hidden-xs"
                        (click)="removeItemFromCart(prod.serviceId ,prod.childservicepkgserviceid)"><i
                            class="fa fa-trash" title="Remove {{prod.name}} From Cart"></i></button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <a class="btn btn-warning" (click)="backToDashBoard()">
                        <i class="fa fa-angle-double-left"></i> Continue
                        To
                        Add Services</a>
                </td>
                <td colspan="2" class="hidden-xs">
                </td>
                <td class="hidden-xs text-center col-sm-2"><strong>Total
                        {{totalAmountToPay }} ₹
                    </strong></td>
                <td *ngIf="totalAmountToPay > 0">
                    <a href="javascript: return false;" (click)="openPaymentComponent(totalAmountToPay)"
                        class="btn btn-success btn-block">
                        Continue
                        <i class="fa fa-angle-double-right"></i></a>
                </td>
                <td *ngIf="totalAmountToPay == 0 && !isFreeVersion">
                    <a href="javascript: return false;" (click)="saveorUpdateFreeVersionUserServiceDetails()"
                        class="btn btn-success btn-block">
                        Continue
                        <i class="fa fa-angle-double-right"></i></a>
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="row " *ngIf="totalAmountToPay == 0 && isFreeVersion">
        <div class="col-md-12 col-sm-offset-3">
            <br><br>
            <h2 style="color:#0fad00" class="text-center">You Have Choosen Free Version!
            </h2>
            <h3 class="text-center">Dear, {{userService.currentUserValue.fullname}}</h3>
            <p style="font-size:20px;color:#5C5C5C;">
                Thank you for choosing free version with {{totalAmountToPay }} ₹ rupee payment until the term ends .
                We will not do any automatic payments after terms ends as we do not stored or saved your
                payment details . We will notify you on before the term ends. We hope the business from you after the
                free version got expire .
                Without any delay, click on 'Publish Site' to create a your own personal business service
                site for your business needs . Enjoy Our Services ! </p>
            <a href="" class="btn btn-success text-center">Public Site</a>
            <br><br>
        </div>
    </div>
</div>