<!-- <html lang="en">


<body> -->

<!--Header Section-->
<app-header></app-header>

<!-- What We Do Section -->

<app-homewhatwedo></app-homewhatwedo>

<!-- Our Customers Section  -->

<app-homecbasection></app-homecbasection>

<app-homefusection></app-homefusection>

<app-hometestimonials></app-hometestimonials>

<!-- Our Services Section-->
<!--<app-homeservicesection></app-homeservicesection>-->

<!-- Login Section-->

<app-login></app-login>

<!-- Our Pricing Section -->
<app-homeprice></app-homeprice>

<!-- Client Reviews-->
<!--<app-homeclienttestimonals></app-homeclienttestimonals>-->

<!-- Footer Section -->
<app-footer></app-footer>

<!-- </body>

</html> -->