<!--Header Section-->
<app-header></app-header>

<!-- What We Do Section -->

<app-homewhatwedo></app-homewhatwedo>

<!-- Our Customers onboard Section  -->

<app-homecbasection></app-homecbasection>

<!-- Skilled Worker Onboard Section-->

<app-homefusection></app-homefusection>

<!-- Skilled Worker Review Section -->

<app-hometestimonials></app-hometestimonials>

<!-- Login Section-->

<app-login></app-login>

<!-- Our Pricing Section (Includes : service , price plan and faq details )-->
<app-homeprice></app-homeprice>

<!-- Footer Section -->
<app-footer></app-footer>