.form-group .form-control {
  padding-left: 2.375rem;
}
.form-group .form-control-icon {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

input:read-only {
  background-color: rgb(252, 252, 223);
}
.fatab {
  font-size: 33px;
  color: #ff4949;
}

.nav-link {
  /* font-weight: bold; */
  text-align: center;
}

.tooltips {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #ff4949;
}


.background{
  background-color: white;
}