<div class="container">
    <h4>Manage Jobs</h4>
    <p> <small>This page will auto refesh every 90 seconds.</small></p>
    <hr>
    <div class="row">
        <ul class="nav nav-tabs background" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="collapseFUUpcomingJobs-tab" data-toggle="tab"
                    href="#collapseFUUpcomingJobs" role="tab" aria-controls="collapseFUUpcomingJobs"
                    aria-selected="true">
                    <i class="fa fa-map-marker fatab"></i>
                    <br><b>
                        {{ 'DASHBOARD_FU_BODY.UPCOMINGJOBS' | translate }}
                    </b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="collapseFUNewJobs-tab" data-toggle="tab" href="#collapseFUNewJobs" role="tab"
                    aria-controls="collapseFUNewJobs" aria-selected="false"> <i class="fa fa-podcast fatab"></i><br><b> {{
                            'DASHBOARD_FU_BODY.NEWJOBS' | translate }}</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="collapseFUCompletedJobs-tab" data-toggle="tab" href="#collapseFUCompletedJobs"
                    role="tab" aria-controls="contact" aria-selected="false"><i class="fa fa-road fatab"></i>
                    <br><b>{{ 'DASHBOARD_FU_BODY.COMPLETEDJOBS' | translate }}</b></a>
            </li>
        </ul>
    </div>
</div>

<div class="tab-content background" id="myTabContent">
    <div class="tab-pane fade show active" id="collapseFUUpcomingJobs" role="tabpanel"
        aria-labelledby="collapseFUUpcomingJobs-tab">
        <div class="row mb-3"></div>
        <div class="row" *ngIf="upComingPostedJobs.length > 0">
            <div class="col-md-4 mb-3 mb-md-0" style="margin-bottom:8px !important"
                *ngFor="let element of upComingPostedJobs">
                <div class="card card-flip h-100 ">
                    <div class="card-header text-white bg-secondary">
                        <p> <b>{{ 'DASHBOARD_FU_BODY.JOB' | translate }}#{{element.jobId}} </b>
                            <button class="bg-info pull-right"
                                *ngIf="!element.isjobcompleted && element.isfreelancerjobattendant"
                                (click)="jobDone(element.jobId)" style="font-size:14px">Job Completed
                                <i class="fa fa-check" title="Click when the job is completed."></i></button>
                            <button class="bg-success pull-right" *ngIf="element.isjobcompleted"
                                (click)="openPaymentComponent(element.amount, element.jobId , element.subcategorylabel)"
                                style="font-size:14px">Pay Now
                                <i class="fa fa-inr" title="Click to pay the job invoice"></i></button>
                            <button class="bg-success pull-right" *ngIf="element.freelancerjobattendant == 'NO'"
                                (click)="updateFreelancerAttendance(element.jobId)">{{element.firstname}}
                                is here to work
                                <i class="fa fa-sign-in"
                                    title="Click when the skilled worker is at the location to provide the service."></i></button>
                            <button class="bg-warning pull-right"
                                *ngIf="element.isjobactive && element.deactivefromupcomingjob 
                                && element.isjobaccepted && !element.isfreelancerjobattendant && !element.isjobvoliation"
                                (click)="deactivateJob(element.jobId,'violation')">{{element.firstname}}
                                is absent
                                <i class="fa fa-times"
                                    title="Click when the skilled worker is not at job location to provide the service."></i></button>
                            <i class="fa fa-pause pull-right" style="color:#FF4949"
                                title="This job is on hold . We will get back to you ."
                                *ngIf="element.isjobvoliation && !element.isfreelancerjobattendant"> </i>

                        </p>
                        <span class="display-4">
                            <i class="fa fa-inr">{{element.amount | number}}</i></span>
                        <p>
                            <small class="pull-left">
                                <b>{{ 'DASHBOARD_FU_BODY.STARTON' | translate }} </b>
                                <span class="ml-3"> {{element.jobstartedon}}</span>
                            </small>
                            <small class="pull-left">
                                <b>{{ 'DASHBOARD_FU_BODY.ENDON' | translate }} </b>
                                <span class="ml-4">{{element.jobendedon}}
                                </span>
                            </small>
                        </p>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <h3> <b>Skilled Worker Details</b> </h3>
                            </div>
                            <div class="col-sm-4">
                                <img src={{element.avtarurl}} width="100" height="60">
                            </div>
                        </div>
                        <p>
                            <small class="pull-left">
                                <b>Full Name: </b> {{element.fullname}}
                            </small>
                        </p>
                        <p>
                            <small class="pull-left">
                                <b>{{ 'DASHBOARD_FU_BODY.PHONENO' | translate }} </b>
                                <i class="fa fa-mobile ml-2" aria-hidden="true"></i>
                                {{this.commonlogic.formatPhoneNumber(element.fuphoneno)}}
                            </small>
                        </p>
                        <p *ngIf="element.freelanceuserId > 0">
                            <small class="pull-left">
                                <b>{{ 'DASHBOARD_FU_BODY.ACCEPTEDON' | translate }}
                                </b>
                                {{element.jobaccepteddate}}
                            </small>
                        </p>

                    </div>

                    <div class="card-body">
                        <i class="fa fa-briefcase fa-3x float-right"></i>
                        <h3> <b>{{'DASHBOARD_FU_BODY.JOBDETAILS' | translate }} </b> </h3>
                        <div>
                            <small>
                                <b> {{'DASHBOARD_FU_BODY.JOBLOCATION' | translate }} </b>
                                {{element.joblocation}}
                                <a href={{mapurl+element.lat+comma+element.lng}} target="_blank">
                                    (Map View)
                                </a>
                            </small>
                        </div>
                        <div>
                            <small>
                                <b> Skill As: </b> {{element.subcategorylabel}}
                            </small>
                        </div>
                        <p>
                            <small class="pull-left">
                                <b>{{ 'DASHBOARD_FU_BODY.TOTAL_HOURSOFWORK' | translate }} </b>
                                {{element.totalhoursofjob}}
                            </small>
                        </p>
                        <div class="tooltips">
                            <a style="cursor:pointer" (click)="openReadMorePopup(element.jobdescription)"><i>
                                    {{ 'DASHBOARD_FU_BODY.JOBDESCPTION' | translate }}</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-success alert-dismissible fade show w-100" role="alert" *ngIf="upcomingjobsempty">
            <h5 class="display-5">
                Currently there are no upcoming jobs. We recommend search for the skilled worker and create a
                job.
            </h5>
        </div>
    </div>
    <div class="tab-pane fade" id="collapseFUNewJobs" role="tabpanel" aria-labelledby="collapseFUNewJobs-tab">
        <div class="row mb-3"></div>
        <div class="row" *ngIf="newlyPostedJobs.length > 0">
            <div class="col-md-4 mb-3 mb-md-0" style="margin-bottom:8px !important"
                *ngFor="let newlyjob of newlyPostedJobs">
                <div class="card card-flip h-100 ">
                    <div class="card-header text-white bg-secondary">
                        <p> <b>{{ 'DASHBOARD_FU_BODY.JOB' | translate }}#{{newlyjob.jobId}} </b>
                            <button class="bg-warning pull-right"
                                *ngIf="!newlyjob.isjobactive && newlyjob.deactivefromnewjobs == null && !newlyjob.deactivefromupcomingjob "
                                (click)="cancelJob(newlyjob.jobId)">Cancel
                                <i class="fa fa-times" title="Click to cancel the job."> </i></button>
                            <button class="bg-info pull-right"
                                *ngIf="!newlyjob.isjobactive && newlyjob.deactivefromnewjobs == null && !newlyjob.deactivefromupcomingjob "
                                (click)="activateJob(newlyjob.jobId)">Activiate
                                <i class="fa fa-check" title="Click to activate the job"></i>
                            </button>
                            <button class="bg-danger pull-right" *ngIf="newlyjob.isjobactive && newlyjob.deactivefromnewjobs 
                                && !newlyjob.isjobaccepted"
                                (click)="deactivateJob(newlyjob.jobId,'noskilledworkeraccepted')">No One Accepted
                                <i class="fa fa-times" title="No skilled worker has accepted this job. Please
                                proceed to remove this job & create new job again"></i></button>
                            <button class="bg-warning pull-right" *ngIf="!newlyjob.isjobactive 
                            && newlyjob.deactivefromnewjobs && !newlyjob.deactivefromupcomingjob "
                                (click)="cancelJob(newlyjob.jobId)">Remove
                                <i class="fa fa-times"
                                    title="You have not activiated this job on time and the job
                                start date has crossed current date.So please proceed to remove this job & create new job again"></i></button>
                        </p>
                        <span class="display-4">
                            <i class="fa fa-inr">{{newlyjob.amount | number}}</i></span>
                        <p>
                            <small class="pull-left">
                                <b>{{ 'DASHBOARD_FU_BODY.STARTON' | translate }} </b>
                                <span class="ml-3"> {{newlyjob.jobstartedon}}</span>
                            </small>
                            <small class="pull-left">
                                <b>{{ 'DASHBOARD_FU_BODY.ENDON' | translate }} </b>
                                    <span class="ml-4"> {{newlyjob.jobendedon}}</span>
                            </small>
                        </p>
                    </div>
                    <div class="card-body">
                        <i class="fa fa-briefcase fa-3x float-right"></i>
                        <h3> <b>{{ 'DASHBOARD_FU_BODY.JOBDETAILS' | translate }} </b> </h3>
                        <div>
                            <small>
                                <b> {{ 'DASHBOARD_FU_BODY.JOBLOCATION' | translate }} </b>
                                {{newlyjob.joblocation}}
                                <a href={{mapurl+newlyjob.lat+comma+newlyjob.lng}} target="_blank">
                                    (Map View)
                                </a>
                            </small>
                        </div>
                        <div>
                            <small>
                                <b>Skill As: </b> {{newlyjob.subcategorylabel}}
                            </small>
                        </div>
                        <div>
                            <small>
                                <b>{{ 'DASHBOARD_FU_BODY.TOTAL_HOURSOFWORK' | translate }} </b>
                                {{newlyjob.totalhoursofjob}}
                            </small>
                        </div>
                        <div class="tooltips">
                            <a style="cursor:pointer" (click)="openReadMorePopup(newlyjob.jobdescription)"><i>
                                    {{ 'DASHBOARD_FU_BODY.JOBDESCPTION' | translate }}</i></a>
                        </div>
                    </div>
                    <!--<div class="card-footer" *ngIf="!newlyjob.isjobactive && newlyjob.isdeactive">
                        <div class="row">
                            <p class="text-danger text-center">
                                <i class="fa fa-info-circle "></i>
                                <small class="text-muted ">
                                    You have not activiated this job on time and the job start date has crossed current
                                    date.
                                </small>
                            </p>
                        </div>
                    </div>-->
                    <div class="card-footer"
                        *ngIf="newlyjob.isjobactive && !newlyjob.jobacceptdecisionflag &&  newlyjob.deactivefromnewjobs == null">
                        <div class="row">
                            <p class="text-primary"><i class="fa fa-info-circle"></i>
                                <small class="text-muted ">
                                    Thank you for activating the job.
                                    <p>Our pool of skilled workers
                                        will be available to accept this job shortly.
                                        We will notify with popup message.
                                    </p>
                                </small>
                            </p>
                        </div>
                    </div>
                    <!--   <div class="card-footer" *ngIf="newlyjob.isjobactive && newlyjob.isdeactive != null">
                        <div class="row">
                            <p class="text-danger text-center"><i class="fa fa-info-circle"></i>
                                <small class="text-muted ">No skilled worker has accepted this job. Please proceed to
                                    remove this job & create new job again.
                                </small>
                            </p>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
        <div class="alert alert-success alert-dismissible fade show w-100" role="alert" *ngIf="newjobsempty">
            <h5 class="display-5">
                Currently there are no new jobs. We recommend search for the skilled worker and create a job.
            </h5>
        </div>
    </div>
    <div class="tab-pane fade" id="collapseFUCompletedJobs" role="tabpanel"
        aria-labelledby="collapseFUCompletedJobs-tab">
        <div class="row mb-3"></div>
        <div class="row" *ngIf="completedJobs.length > 0">
            <div class="col-md-4 mb-3 mb-md-0" style="margin-bottom:8px !important"
                *ngFor="let completedjob of completedJobs">
                <div class="card card-flip h-100 ">
                    <div class="card-header text-white bg-secondary">
                        <p> <b>{{ 'DASHBOARD_FU_BODY.JOB' | translate }}#{{completedjob.jobId}} </b>
                            <button class="bg-white  pull-right" *ngIf="completedjob.isjobamtpaidtocompany"
                                [routerLink]="['/_payment',completedjob.txnid]"><i
                                title="Go to payment details" class="fa fa-sitemap"
                                style="color:#FF4949"></i> Payment Info</button>
                            <button *ngIf="!completedjob.isratedforjob" class="bg-info pull-right" data-toggle="modal"
                                data-target="#rateit" (click)="feedback(completedjob.jobId)"> Rating <i
                                    class="fa fa-star" title="Please rate to {{completedjob.fullname}}"></i></button>
                        </p>
                        <span class="display-4">
                            <i class="fa fa-inr">{{completedjob.amount | number}}</i>
                            <i class="fa fa-smile-o fa-1x pull-right" style="color:blue"
                                title="{{'DASHBOARD_FU_BODY.ALTER4' | translate }}"
                                *ngIf="completedjob.isjobamtpaidtocompany"></i>
                        </span>
                        <p>
                            <small class="pull-left">
                                <b>{{ 'DASHBOARD_FU_BODY.STARTON' | translate }} </b>
                                <span class="ml-3"> {{completedjob.jobstartedon}}</span>
                            </small>
                            <small class="pull-left">
                                <b>{{ 'DASHBOARD_FU_BODY.ENDON' | translate }} </b>
                                <span class="ml-4">
                                    {{completedjob.jobendedon}}
                                </span>
                            </small>
                        </p>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <h3> <b>Skilled Worker Details</b> </h3>
                            </div>
                            <div class="col-sm-4">
                                <img src={{completedjob.avtarurl}} width="100" height="60">
                            </div>
                        </div>
                        <p>
                            <small class="pull-left">
                                <b>Full Name: </b> {{completedjob.fullname}}
                            </small>
                        </p>
                        <p>
                            <small class="pull-left">
                                <b>{{ 'DASHBOARD_FU_BODY.PHONENO' | translate }}: </b>
                                <i class="fa fa-mobile ml-2" aria-hidden="true"></i>
                                {{this.commonlogic.formatPhoneNumber(completedjob.fuphoneno)}}
                            </small>
                        </p>
                        <p *ngIf="completedjob.freelanceuserId > 0">
                            <small class="pull-left">
                                <b>{{ 'DASHBOARD_FU_BODY.ACCEPTEDON' | translate }}
                                </b>
                                {{completedjob.jobaccepteddate}}
                            </small>
                        </p>
                    </div>
                    <div class="card-body">
                        <i class="fa fa-briefcase fa-3x float-right"></i>
                        <h3> <b>{{ 'DASHBOARD_FU_BODY.JOBDETAILS' | translate }} </b> </h3>
                        <div>
                            <small>
                                <b> {{ 'DASHBOARD_FU_BODY.JOBLOCATION' | translate }} </b>
                                {{completedjob.joblocation}}
                                <a href={{mapurl+completedjob.lat+comma+completedjob.lng}} target="_blank">
                                    (Map View)
                                </a>
                            </small>
                        </div>
                        <div>
                            <small>
                                <b>Skill As: </b> {{completedjob.subcategorylabel}}
                            </small>
                        </div>
                        <div>
                            <small>
                                <b>{{ 'DASHBOARD_FU_BODY.TOTAL_HOURSOFWORK' | translate }} </b>
                                {{completedjob.totalhoursofjob}}
                            </small>
                        </div>
                        <div class="tooltips">
                            <a style="cursor:pointer" (click)="openReadMorePopup(completedjob.jobdescription)"><i>
                                    {{ 'DASHBOARD_FU_BODY.JOBDESCPTION' | translate }}</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-success alert-dismissible fade show w-100" role="alert" *ngIf="completedjobsempty">
            <h5 class="display-5">
                Currently there are no completed jobs. We recommend search for the skilled worker and create a
                job.
            </h5>
        </div>
    </div>
</div>
<div class="modal fade" id="rateit" *ngIf="isratingdisplay" #closeBtn>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Provide your feedback !</h5>
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="feedbackform" (ngSubmit)="savefeedback()">
                    <p> <i class="fa fa-user"></i> &nbsp;&nbsp; <b>{{record.fullname}}</b> </p>
                    <div class="form-group">
                        <span>
                            <i class="fa fa fa-star	form-control-icon"></i>
                        </span>
                        <select #sel class="form-control" formControlName="starrate"
                            [ngClass]="{ 'is-invalid': issubmit && f.starrate.errors }">
                            <option value=''>--Select Rate --</option>
                            <option value=5>5</option>
                            <option value=4>4</option>
                            <option value=3>3</option>
                            <option value=2>2</option>
                            <option value=1>1</option>
                        </select>
                        <div *ngIf="issubmit && f.starrate.errors" class="invalid-feedback">
                            <div *ngIf="f.starrate.errors.required">Rating is required
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <span>
                            <i class="fa fa-at form-control-icon"></i>
                        </span>
                        <textarea placeholder="Comment On JobId#{{record.jobId}}" class="form-control"
                            formControlName="feedbackcomment"
                            [ngClass]="{ 'is-invalid': issubmit && f.feedbackcomment.errors }">
                         </textarea>
                        <div *ngIf="issubmit && f.feedbackcomment.errors" class="invalid-feedback">
                            <div *ngIf="f.feedbackcomment.errors.required">Comment is required
                            </div>
                            <div *ngIf="f.feedbackcomment.errors.pattern">No special character allowed.
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<hr>
<dl class="row">
    <dt class="col-sm-3">
        <h4>{{ 'DASHBOARD_FU_BODY.IMPINST_HEADER' | translate }}</h4>
    </dt>
    <dd class="col-sm-9"> </dd>
    <dt class="col-sm-3">
        <button class="bg-success pull-left">#workername.. is here to work
            <i class="fa fa-sign-in"></i></button>
    </dt>
    <dd class="col-sm-9">
        <p class="btn-warning"><i><b>Clicking on this BUTTON indicates the skilled worker is at job location and ready
                    to
                    work . <p>Always provide the attendance to the skilled worker before job starts.</p>
                </b>
            </i>
        </p>
    </dd>
    <dt class="col-sm-3">
        <button class="bg-warning pull-left">#workername is absent
            <i class="fa fa-times"></i></button>
    </dt>
    <dd class="col-sm-9">
        <p class="btn-info"><i><b>
                    Clicking on this BUTTON indicates the skilled worker is not at job location before job end date and
                    time.
                    <p>By clicking your notifying to managment to take necceasary action.</p>
                </b>
            </i>
        </p>
    </dd>
    <dt class="col-sm-3">
        <button class="bg-info" style="font-size:14px">Job Completed
            <i class="fa fa-check"></i></button>
    </dt>
    <dd class="col-sm-9">
        Clicking on this BUTTON indicates the job is completed.
    </dd>
    <dt class="col-sm-3 ">
        <button class="bg-success" style="font-size:14px">Pay Now
            <i class="fa fa-inr"></i></button>
    </dt>
    <dd class="col-sm-9">
        Clicking on this BUTTON indicates to pay for the job invoice payment with our secured online gateway payment
        process.
    </dd>
    <dt class="col-sm-3">
        <button class="bg-info">Activiate
            <i class=" fa fa-check"></i>
        </button>
    </dt>
    <dd class="col-sm-9">
        <p class="btn-info"><i><b>Clicking on this BUTTON indicates to activiate the job. <p>Until this button is not
                        click the skilled worker is not
                        able to see the created job.
                    </p>
                </b>
            </i>
        </p>
    </dd>
    <dt class="col-sm-3">
        <button class="bg-warning ">Cancel
            <i class="fa fa-times"></i></button>
    </dt>
    <dd class="col-sm-9">
        Clicking on this BUTTON indicates to cancel the job before activatation.
    </dd>
    <dt class="col-sm-3">
        <button class="bg-danger">No One Accepted
            <i class="fa fa-times"></i></button>
    </dt>
    <dd class="col-sm-9">
        Clicking on this BUTTON indicates to cancel the job because no skilled worker has accepted the job.Proceed to
        remove this job & create new job.
    </dd>
    <dt class="col-sm-3">
        <button class="bg-warning ">Remove
            <i class="fa fa-times"></i></button>
    </dt>
    <dd class="col-sm-9">
        Clicking on this BUTTON indicates to cancel the job because you have not activiated the job on time and the job
        start date has crossed current date.Proceed to remove this job & create new job.
    </dd>
    <dt class="col-sm-3">
        <button class="bg-white">Payment Info<i class="fa fa-sitemap" style="color:#FF4949"></i></button>
    </dt>
    <dd class="col-sm-9">
        Clicking on this BUTTON indicates to view the payment details for the respective job.
    </dd>
    <dt class="col-sm-3">
        <button class="bg-info"> Rate <i class="fa fa-meh-o"></i></button>
    </dt>
    <dd class="col-sm-9">
        Clicking on this BUTTON indicates to provide star rating to the skilled worker after the job is completed.
    </dd>
    <dt class="col-sm-3">
        <i class="fa fa-smile-o fa-2x pull-left" style="color:blue"></i>
    </dt>
    <dd class="col-sm-9">
        This ICON indicates you have paid for the job & payment is successful.
    </dd>
</dl>